@charset "UTF-8";
/* CSS Document */


*{
	margin:0;
	padding:0;
}

html,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#111111;
	font-weight:normal;
	background:#cbcbcb url(../images/main_bg.gif) repeat-x top left;
	margin:0;
	padding:0;

}


a {
	width:auto;
	height:auto;
	color:#2c8bbc;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	text-decoration:none;
	margin:0;
	padding:0;
}

a:link, a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


#loginmain {
	width:680px;
	height:auto;
	margin:0 auto;
	padding:0;
}

#main {
	width:957px;
	height:auto;
	margin:0 auto;
	padding:0;
}

#header {
	width:957px;
	height:62px;
	float:left;
	background:url(../images/header_bg.gif) repeat-x top left;
	margin:0;
	padding:0;
}

.logo {
	width:440px;
	height:22px;
	float:left;
	background:url(../images/logo.gif) no-repeat top left;
	margin:20px 0 0 24px;
	display:inline;
	padding:0;
}

.user_links {
	width:auto;
	height:20px;
	float:right;
	margin:15px 20px 0 0;
	padding:0;
}

.user_links p{
	width:auto;
	height:auto;
	float:left;
	font-size:11px;
	color:#FFF;
	font-weight:normal;
	text-align:left;
	margin:0 0 0 15px;
	display:inline;
	padding:0;
}

.user_links a{
	width:auto;
	height:auto;
	float:left;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	color:#c6e3fe;
	text-decoration:none;
	margin:0;
	padding:0;
}

.user_links a:link, .user_links a:visited {
	text-decoration:none;
}

.user_links a:hover {
	text-decoration:underline;
}

.main_regcontentbg {
	width:100%;
	min-height:700px;
	height:auto;
	float:left;
	background:#FFF url(../images/main_contentbg.gif) repeat-x top left;
	margin:0;
	padding:0 0 40px 0;
}

.main_contentbg {
	width:100%;
	min-height:700px;
	height:auto;
	float:left;
	background:#FFF;
	margin:0;
	padding:0 0 40px 0;
}

.main_regleft {
	width:388px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
}

.main_regright {
	width:569px;
	height:auto;
	float:right;
	margin:0;
	padding:0;
}

.header_bot {
	width:569px;
	height:103px;
	float:left;
	margin:0;
	padding:0;
}

.header_cloudbg {
	width:166px;
	height:103px;
	float:right;
	background:url(../images/header_cloudbg.gif) no-repeat top left;
	margin:0;
	padding:0;
}

.header_comments {
	width:400px;
	height:auto;
	float:left;
	margin:10px 0 0 0;
	padding:0;
}

.header_comments p{
	width:auto;
	height:auto;
	float:left;
	color:#FFF;
	font-size:24px;
	font-weight:bold;
	text-align:left;
	margin:0 0 0 15px;
	display:inline;
	padding:0;
}

.header_comments span{
	width:auto;
	height:auto;
	color:#6884a2;
	font-size:24px;
	font-weight:bold;
	text-align:left;
	margin:0;
	padding:0;
}

.main_rightcontentbox {
	width:569px;
	height:auto;
	float:left;
	background:#FFF;
	margin:0;
	padding:0;
}

.login_box {
	width:681px;
	height:auto;
	float:left;
	margin:30% 0 0 0;
	display:inline;
	padding:0;
}

.login_box_top {
	width:681px;
	height:77px;
	float:left;
	background:url(../images/login_top.png) no-repeat top left;
	margin:0;
	padding:0;
	overflow:hidden;
}
.login_logo {
	width:450px;
	height:26px;
	float:left;
	background:url(../images/login_logo.gif) no-repeat top left;
	margin:52px 0 0 40px;
	display:inline;
	padding:0;
}

.login_box_mid {
	width:681px;
	height:auto;
	float:left;
	background:url(../images/login_mid.png) repeat-y top left;
	margin:0;
	padding:0;
}

.login_box_mid h2{
	width:500px;
	height:auto;
	float:left;
	color:#dbedff;
	font-weight:normal;
	text-align:left;
	font-size:24px;
	margin:30px 0 0 40px;
	display:inline;
	padding:0;
}

.login_formbox {
	width:500px;
	height:auto;
	float:left;
	margin:0 0 0 40px;
	display:inline;
	padding:0;
	list-style:none;
}

.login_formbox li {
	width:500px;
	height:auto;
	float:left;
	margin:22px 0 0 0;
	padding:0;
	list-style:none;
}

.login_formbox label {
	width:100px;
	height:auto;
	float:left;
	color:#FFF;
	font-size:15px;
	font-weight:normal;
	margin:7px 0 0 0;
	padding:0;
	list-style:none;
}

.login_formbox .text {
	width:240px;
	height:24px;
	float:left;
	color:#666;
	background:#FFF;
	border:1px solid #dbdbdb;
	font-size:12px;
	font-weight:normal;
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
}

.login_submitbox {
	width:500px;
	height:35px;
	float:left;
	margin:40px 0 0 0;
	padding:0;
}

.login_submitbox a {
	width:auto;
	height:auto;
	float:left;
	color:#2c8bbc;
	font-size:14px;
	font-weight:normal;
	margin:8px 0 0 15px;
	display:inline;
	padding:0;
	text-decoration:none;
}

.login_submitbox a:link, .login_submitbox a:visited {
	text-decoration:none;
}

.login_submitbox a:hover {
	text-decoration:underline;
}


.login_button {
	width:143px;
	height:35px;
	float:left;
	background:url(../images/login_button.png) no-repeat top left;
	margin:0;
	padding:0;
	border:none;
}

.login_button:hover {
	background:url(../images/login_button_hover.png) no-repeat top left;
}

.login_errormsgbox {
	width:500px;
	height:auto;
	float:left;
	background:#ffecec;
	border:1px solid #ffaeae;
	margin:15px 0 0 0;
	padding:0 0 10px 0;
}

.login_errormsgbox p{
	width:470px;
	height:auto;
	float:left;
	margin:10px 0 0 10px;
	padding:0;
	color:#333;
	text-align:left;
	font-weight:normal;
}

.login_box_bot {
	width:681px;
	height:117px;
	float:left;
	background:url(../images/login_bot.png) no-repeat top left;
	margin:0;
	padding:0;
}

.main_rightcontentarea {
	width:555px;
	height:auto;
	float:left;
	background:#FFF;
	margin:30px 0 0 10px;
	display:inline;
	padding:0;
}

.main_rightcontentarea h2 {
	width:555px;
	height:auto;
	float:left;
	color:#092e64;
	font-size:20px;
	font-weight:normal;
	line-height:30px;
	text-align:left;
	margin:0;
	padding:0;
}

.main_rightcontentarea h3 {
	width:555px;
	height:auto;
	float:left;
	color:#092e64;
	font-size:20px;
	font-weight:normal;
	line-height:30px;
	text-align:left;
	margin:20px 0 0 0;
	padding:0;
}

.main_rightcontentarea_banner {
	width:522px;
	height:114px;
	float:left;
	background:url(../images/banner.gif) no-repeat top left;
	margin:30px 0 0 0;
	padding:0;
}

.main_regbulletbox {
	width:555px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}


.main_regbulletbox li{
	width:520px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	background:url(../images/orange_bullet.gif) no-repeat 0 4px;
	color:#333;
	font-size:13px;
	font-weight:normal;
	margin:10px 0 0 0;
	padding:0 0 5px 15px;
}

.registration_formpanel{
	width:375px;
	height:auto;
	float:left;
	margin:0 0 0 13px;
	display:inline;
	padding:0;
}

.registration_formpanel_left {
	width:13px;
	height:175px;
	float:left;
	background:url(../images/regbox_left.gif) no-repeat top left;
	margin:0;
	padding:0;
}

.registration_formpanel_mid {
	width:345px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
}

.registration_formpanel_midtop {
	width:345px;
	height:18px;
	float:left;
	background:url(../images/regbox_midtop.gif) repeat-x top left;
	margin:0;
	padding:0;
}

.registration_formbox {
	width:345px;
	height:auto;
	float:left;
	background:#FFF url(../images/reg_formbg.gif) repeat-x top left;
	border:1px solid #c7c7c7;
	margin:0;
	padding:0;
}


.registration_titlebox {
	width:315px;
	height:42px;
	float:left;
	background:url(../images/reg_titlebox.gif) no-repeat top left;
	margin:11px 0 0 -1px;
	padding:0;
}

.registration_titlebox h2{
	width:auto;
	height:auto;
	float:left;
	color:#FFF;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	margin:10px 0 0 10px;
	display:inline;
	padding:0;
}

.regwizard_container {
	width:300px;
	height:auto;
	float:left;
	margin:20px 0 0 20px;
	display:inline;
	padding:0;
}

.regwizard_container h3 {
	width:300px;
	height:auto;
	float:left;
	color:#bdbdbd;
	font-size:18px;
	font-weight:bold;
	text-align:left;
	margin:0;
	padding:0;
}

.regwizard_formbox {
	width:300px;
	height:auto;
	float:left;
	margin:0;
	padding:0 0 20px 0;
	list-style:none;
}

.regwizard_formbox p{
	width:auto;
	height:auto;
	float:left;
	font-size:11px;
	color:#333;
	text-align:left;
	margin:11px 0 0 10px;
	padding:0;
}



.regwizard_formbox li {
	width:150px;
	height:auto;
	float:left;
	margin:18px 0 0 0;
	padding:0;
	list-style:none;
}

.regwizard_formbox label {
	width:95%;
	height:auto;
	float:left;
	color:#073668;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	margin:0;
	padding:0;
}

.regwizard_formbox .text {
	width:130px;
	height:22px;
	float:left;
	background:#FFF;
	border:1px solid #c3c3c3;
	color:#333;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin:7px 0 0 0;
	padding:0;
}


.regwizard_formbox .select {
	width:130px;
	height:22px;
	float:left;
	background:#FFF;
	border:1px solid #c3c3c3;
	color:#333;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin:7px 0 0 0;
	padding:0;
}

.regwizard_formbox .checkbox {
	width:15px;
	height:15px;
	float:left;
	background:#FFF;
	border:1px solid #c3c3c3;
	color:#333;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin:7px 0 0 0;
	padding:0;
}

.reg_submitbox {
	width:100%;
	height:auto;
	float:left;
	margin:25px 0 0 0;
	padding:0;
}

.reg_submitbutton {
	width:224px;
	height:52px;
	float:left;
	text-align:center;
	background:url(../images/submit_button.gif) no-repeat top left;
	margin:0 0 0 35px;
	display:inline;
	padding:0;
	border:none;
}

.reg_submitbutton:hover {
	background:url(../images/submit_button_hover.gif) no-repeat top left;

}

.registration_formpanel_right {
	width:15px;
	height:175px;
	float:left;
	background:url(../images/regbox_right.gif) no-repeat top left;
	margin:0;
	padding:0;
}

#footer {
	width:100%;
	height:90px;
	float:left;
	background:#e4e4e4;
	margin:0 0 0 0;
	padding:0;
}


.footer_left {
	width:750px;
	height:90px;
	float:left;
	margin:0;
	padding:0;
}

.footer_left p{
	width:auto;
	height:auto;
	float:left;
	font-size:11px;
	font-weight:normal;
	color:#999;
	margin:30px 0 0 15px;
	display:inline;
	padding:0;
}

.footer_right {
	width:200px;
	height:90px;
	float:left;
	margin:0;
	padding:0;
}

.poweredby {
	width:98px;
	height:32px;
	float:right;
	background:url(../images/pweredby.gif) no-repeat top left;
	text-decoration:none;
	margin:20px 20px 0 0;
	display:inline;
	padding:0;
}

.poweredby:hover {
	background:url(../images/pweredby.gif) no-repeat top left;
}

.db_tabcontent {
	width:920px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
}
.db_gridcontainer {
	width:920px;
	height:auto;
	float:left;
	margin:40px 0 0 17px;
	padding:0;
	position:relative;
	z-index:1;
}

.db_gridcontainer_topbox {
	width:920px;
	height:30px;
	float:left;
	margin:0;
	padding:0;
}

.db_gridcontainer_topbox_left {
	width:450px;
	height:30px;
	float:left;
	margin:0;
	padding:0;
}

.db_gridcontainer_topbox_left h2{
	width:auto;
	height:auto;
	float:left;
	color:#648bb3;
	font-size:20px;
	font-weight:normal;
	background:url(../images/title_sidebar.gif) no-repeat top right;
	text-align:left;
	margin:2px 0 0 0;
	padding:0 20px 0 0;
}

.db_grid_searchbox {
	width:175px;
	height:18px;
	float:left;
	background:#FFF;
	border:1px solid #d9d9d9;
	margin:2px 0 0 20px;
	display:inline;
	padding:0;
}

.db_grid_searchbox .text {
	width:133px;
	height:16px;
	float:left;
	background:#FFF;
	border:1px solid #FFF;
	margin:0 0 0 5px;
	display:inline;
	padding:0;
}


.db_grid_searchicon {
	width:13px;
	height:14px;
	float:left;
	background:url(../images/search_icon.gif) no-repeat top left;
	margin:2px 0 0 3px;
	display:inline;
	padding:0;
}

.db_grid_search_closeicon {
	width:13px;
	height:14px;
	float:left;
	background:url(../images/search_closeicon.gif) no-repeat top left;
	margin:2px 0 0 3px;
	display:inline;
	padding:0;
	text-decoration:none;
}

.db_grid_search_closeicon:hover {
	background:url(../images/search_closeicon_hover.gif) no-repeat top left;
	text-decoration:none;
}

.db_gridcontainer_refreshbox{
	width:auto;
	height:20px;
	float:left;
	color:#648bb3;
	font-size:20px;
	font-weight:normal;
	text-align:left;
	margin:0 0 0 10px;
	padding:0 0 0 5px;
}

.db_gridcontainer_refreshbox a{
	width:auto;
	height:aut;
	float:left;
	color:#2c8bbc;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin:6px 0 0 0;
	padding:0;
	text-decoration:underline;
}

.db_gridcontainer_refreshbox a:link, .db_gridcontainer_refreshbox a:visited{
	text-decoration:underline;
}

.db_gridcontainer_refreshbox a:hover{
	text-decoration:none;
}


.db_refreshbutton {
	width:20px;
	height:18px;
	float:left;
	background:url(../images/refresh_button.gif) no-repeat top left;
	text-decoration:none;
	margin:2px 0 0 0;
	padding:0;
}

.db_refreshbutton:hover {
	background:url(../images/refresh_button_hover.gif) no-repeat top left;
	
}

.db_gridcontainer_topbox_right {
	width:450px;
	height:27px;
	float:right;
	margin:0;
	padding:0;
}

.db_grid_tabbox {
	width:auto;
	height:30px;
	float:right;
	margin:0;
	padding:0;
}

.db_grid_tabs {
	width:100px;
	height:23px;
	float:left;
	text-align:center;
	font-size:11px;
	font-weight:normal;
	margin:0;
	padding:7px 0 0 0;
	text-decoration:none;
}

.db_grid_tabs.on{
	background:#a4c5e7 url(../images/grid_tabbg.gif) repeat-x top left;
	color:#FFF;
	border:1px solid #CCC;
	border-bottom:none;
	font-weight:bold;
}

.db_grid_tabs.off{
	background:none;
	color:#CCC;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

.db_grid_tabs.off:hover{
	background:none;
	color:#333;
	text-decoration:none;
}


.db_gridbox {
	width:918px;
	height:auto;
	float:left;
	background:#FFF;
	border:1px solid #CCC;
	border-top:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

.db_maingrid {
	width:918px;
	height:575px;
	float:left;
	margin:0;
	padding:0;
	overflow-x:hidden;
	overflow-y:scoll;
	overflow-y:auto;
}

.db_gridrows {
	width:100%;
	height:auto;
	float:left;
	background:#FFF url(../images/db_gridrowbg.gif) repeat-x bottom left;
	margin:0;
	padding:0;
	position:relative;
}

.db_gridrows.header {
	background:url(../images/db_gridheaderbg.gif) repeat-x top left;
	height:31px;
}


.db_gridcolumns{
	width:auto;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	overflow:hidden;
}

.db_gridcolumns.header {
	height:31px;
}

.db_gridcelltitles {
	width:auto;
	height:auto;
	float:left;
	font-size:11px;
	font-weight:normal;
	margin:15px 0 0 8px;
	display:inline;
	padding:0 0 15px 0;
}

.db_gridcelltitles.green{
	color:#546c00;
	font-weight:bold;
}

.db_gridcelltitles.red{
	color:#c50000;
	font-weight:bold;
}

.db_gridcelltitles.gray{
	color:#666;
	font-weight:bold;

}

.db_gridcelltitles.header{
	color:#333;
	font-weight:bold;
	margin:9px 0 0 8px;
	padding:0;
}

.db_statistics_icon {
	width:21px;
	height:21px;
	float:left;
	background:url(../images/statistics_icon.gif) no-repeat top left;
	margin:10px 0 0 8px;
	display:inline;
	padding:0;
}

.db_statistics_icon:hover {
	background:url(../images/statistics_icon_hover.gif) no-repeat top left;
}



.db_delete_icon {
	width:21px;
	height:21px;
	float:left;
	background:url(../images/delete_icon.gif) no-repeat top left;
	margin:10px 0 0 8px;
	display:inline;
	padding:0;
}

.db_delete_icon:hover {
	background:url(../images/delete_icon_hover.gif) no-repeat top left;
}

.db_grid_navigationpanel {
	width:100%;
	height:25px;
	float:left;
	background:url(../images/grid_navbg.gif) repeat-x top left;
	margin:0;
	padding:0;
}

.db_gridb_paginationbox {
	width:auto;
	height:auto;
	float:left;
	margin:7px 0 0 20px;
	display:inline;
	padding:0;
}

.db_gridb_paginationbox p{
	width:auto;
	height:auto;
	float:left;
	color:#999;
	font-size:11px;
	font-weight:normal;
	margin: 0 0;
	padding:0;
}

.db_gridb_paginationbox span{
	width:auto;
	height:auto;
	color:#999;
	font-size:11px;
	font-weight:bold;
	margin: 0 0;
	padding:0;
}

.db_gridb_navbox {
	width:auto;
	height:auto;
	float:right;
	margin:7px 20px 0 0;
	padding:0;
}


.db_gridmsgbox {
	width:100%;
	height:auto;
	float:left;
	background:#fff9d3 url(../images/stats_rowodd.gif) repeat-x bottom left;
	border-bottom:1px solid #CCC;
	margin:0;
	padding:0;
}

.db_gridmsgbox_content {
	width:750px;
	height:auto;
	float:left;
	margin:0 0 0 10px;
	display:inline;
	padding:0 0 10px 0;
}

.db_gridmsgbox_content p {
	width:auto;
	height:auto;
	float:left;
	color:#333;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	margin:10px 0 0 0;
	padding:0;
}

.db_gridmsg_button {
	width:84px;
	height:20px;
	float:left;
	background:url(../images/gridmsg_button.png) no-repeat top left;
	color:#FFF;
	text-align:center;
	margin:8px 0 0 10px;
	display:inline;
	text-decoration:none;
	padding:4px 0 5px 0;
}

.db_gridmsg_button:hover {
	background:url(../images/gridmsg_button_hover.png) no-repeat top left;
	text-decoration:none;

}


.db_gridb_navbox a:link, .db_gridb_navbox a:visited {
	width:auto;
	height:auto;
	float:left;
	color:#333;
	font-size:11px;
	font-weight:normal;
	margin:0 0 0 25px;
	display:inline;
	padding:0;
	text-decoration:none;
}

.db_gridb_navbox a:hover {
	width:auto;
	height:auto;
	float:left;
	color:#333;
	font-size:11px;
	font-weight:normal;
	margin:0 0 0 25px;
	display:inline;
	padding:0;
	text-decoration:underline;
}

.dbinstruction_contentarea {
	width:890px;
	height:auto;
	float:left;
	margin:0 0 0 15px;
	display:inline;
	padding:0;
}


.dbinstruction_submenubox {
	width:880px;
	height:auto;
	float:left;
	background:#FFF url(../images/db_gridrowbg.gif) repeat-x left bottom;
	margin:0;
	padding:0;
}

.dbinstruction_submenubox_content { 
	width:800px; 
	height:auto; 
	float:left; 
	margin:10px 0 0 10px; 
	display:inline; 
	padding:0 0 15px 0; 
	list-style:none;
}

.dbinstruction_submenubox_content li {
	width:600px; 
	height:auto; 
	float:left; 
	margin:15px 0 0 10px;  
	list-style:none; 
	font-size:15px; 
	background:url(../images/menu_icon.png) no-repeat top left; 
	padding:1px 0 0 35px; 
}

.dbinstruction_submenubox_content a { 
	color:#2c8bbc; 
	text-align:left; 
	font-size:15px; 
	font-weight:normal; 
	text-decoration:none;
}

.dbinstruction_submenubox_content a:link,.dbinstruction_submenubox_content a:visited { 
	text-decoration:none; 
}

.dbinstruction_submenubox_content a:hover { 
	text-decoration:underline; 
}


.dbinstruction_contentarea p {
	width:880px;
	height:auto;
	float:left;
	color:#333;
	font-size:12px;
	font-weight:normal;
	line-height:16px;
	margin:15px 0 0 0;
	padding:0;
}


.dbinstruction_contentarea h3 {
	width:880px;
	height:auto;
	float:left;
	color:#f19d00;
	font-size:18px;
	font-weight:normal;
	margin:30px 0 0 0;
	padding:0;
}

.dbinstruction_contentarea h4 {
	width:880px;
	height:auto;
	float:left;
	color:#666;
	font-size:13px;
	font-weight:bold;
	margin:20px 0 0 0;
	padding:0;
}

.db_downlaodbox {
	width:880px;
	height:78px;
	float:left;
	background:url(../images/instructiondownload_bg.gif) no-repeat top left;
	margin:10px 0 0 0;
	padding:0;
}

.db_downlaodbox p{
	width:400px;
	height:auto;
	float:left;
	color:#666;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	margin:20px 0 0 30px;
	display:inline;
	padding:0;
}

.db_instructiondownlaodbutton {
	width:133px;
	height:21px;
	float:right;
	background:url(../images/download_button.png) no-repeat top left;
	margin:15px 50px 0 0;
	color:#FFF;
	font-size:13px;
	text-align:center;
	text-decoration:none;
	padding:6px 0 0 15px;
}

.db_instructiondownlaodbutton:hover {
	background:url(../images/download_button_hover.png) no-repeat top left;
	text-decoration:none;

}

.dbinstruction_bulletbox {
	width:880px;
	height:auto;
	float:left;
	color:#333;
	font-size:11px;
	font-weight:normal;
	list-style:none;
	margin:0;
	padding:0;
}

.dbinstruction_bulletbox_codebox {
	width:820px;
	height:auto;
	float:left;
	background:#f1f1f1;
	color:#333;
	font-size:11px;
	font-weight:normal;
	list-style:none;
	margin:7px 0 0 0;
	padding:5px 0 5px 10px;
}

.dbinstruction_bulletbox li{
	width:800px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	background:url(../images/orange_bullet.gif) no-repeat 0 4px;
	color:#333;
	font-size:12px;
	font-weight:normal;
	margin:10px 0 0 0;
	padding:0 0 5px 15px;
}


.overlay_black{
	display: block;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	min-height: 1000px;
	height: 100%;
	background-color: black;
	z-index:5;
	-moz-opacity: 0.4;
	opacity:.40;
	filter: alpha(opacity=40);
	overflow:hidden;
}

.overlay_dialogbox {
	width:485px;
	height:auto;
	float:left;
	position:absolute;
	background:#FFF;
	border:1px solid #666;
	margin:0;
	padding:0;
	z-index:10;
	top:25%;
	left:36%;
}

.overlay_dialogbox_top {
	width:525px;
	height:29px;
	float:left;
	background:url(../images/overlaybox_top.png) no-repeat top left;
	margin:0;
	padding:0;
	overflow:hidden;
}

.overlay_dialogbox_closeicon {
	width:33px;
	height:32px;
	float:right;
	background:url(../images/overlaybox_closeicon.png) no-repeat top left;
	margin:-2px 0 0 0;
	padding:0;
	text-decoration:none;
}


.overlay_dialogbox_closeicon:hover {
	background:url(../images/overlaybox_closeicon_hover.png) no-repeat top left;
}

.overlay_dialogbox_mid {
	width:525px;
	height:auto;
	float:left;
	background:url(../images/overlaybox_mid.png) repeat-y top left;
	margin:0;
	padding:0;
}

.overlay_dialogbox_contentarea {
	width:450px;
	height:auto;
	float:left;
	margin:15px 0 0 16px;
	display:inline;
	padding:0 0 15px 0;
}

.overlay_dialogbox_titlearea {
	width:450px;
	height:25px;
	float:left;
	background:url(../images/db_gridheaderbg.gif) repeat-x top left;
	border:1px solid #CCC;
	margin:0;
	padding:0;
}

.overlay_dialogbox_titlearea  h2{
	width:400px;
	height:auto;
	float:left;
	color:#FFF;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	margin:5px 0 0 10px;
	display:inline;
	padding:0;
}

.overlay_dialogbox_content {
	width:450px;
	height:auto;
	float:left;
	margin:15px 0 0 0;
	padding:0;
}

.overlay_dialogbox_content p {
	width:450px;
	height:auto;
	float:left;
	margin:10px 0 0 0;
	color:#333;
	font-size:11px;
	font-weight:normal;
	padding:0;
}


.db_stats_gridbox {
	width:450px;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	border:1px solid #CCC;
}

.db_stats_gridrow {
	width:450px;	
	height:auto;
	float:left;
	background:url(../images/stats_row.gif) repeat-x bottom left;
	margin:0;
	padding:0;
	border-bottom:1px solid #CCC;
}

.db_stats_gridcolumns {
	width:auto;
	height:auto;
	float:left;
	margin:0;
	padding:0;
}

.db_stats_gridcelltitles {
	width:auto;
	height:auto;
	float:left;
	font-size:11px;
	font-weight:normal;
	margin:8px 0 0 8px;
	display:inline;
	padding:0 0 8px 0;
}

.overlay_dialogbox_confirmationbox {
	width:450px;
	height:auto;
	float:left;
	border-top:1px solid #CCC;
	margin:20px 0 0 0;
	padding:0;
}

.overlay_dialogbox_confirmationbuttonbox {
	width:auto;
	height:aut;
	float:right;
	margin:8px 0 0 0;
	padding:0;
}

.overlay_dialogbox_confirmationbuttonbox a{
	width:auto;
	height:aut;
	float:left;
	color:#2c8bbc;
	font-size:12px;
	font-weight:normal;
	text-align:left;
	margin:8px 0 0 0;
	padding:0;
	text-decoration:none;
}

.overlay_dialogbox_confirmationbuttonbox a:link, .overlay_dialogbox_confirmationbuttonbox a:visited{
	text-decoration:none;
}

.overlay_dialogbox_confirmationbuttonbox a:hover{
	text-decoration:underline;
}


.overlay_dialog_button {
	width:98px;
	height:19px;
	float:left;
	background:url(../images/dialogbox_button.gif) no-repeat top left;
	border:none;
	color:#FFF;
	text-align:center;
	font-size:11px;
	font-weight:normal;
	margin:0 0 0 15px;
	display:inline;
	padding:7px 0 0 0;
	cursor:button;
	cursor:pointer;
}

.overlay_dialog_button:hover {
	background:url(../images/dialogbox_button_hover.gif) no-repeat top left;
}




.overlay_dialogbox_bot {
	width:525px;
	height:29px;
	float:left;
	background:url(../images/overlaybox_bot.png) no-repeat top left;
	margin:0;
	padding:0;
}




