// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.ui-dialog {
  position: absolute;
  padding: 15px;
  /*+box-shadow:0px -4px 15px #4C4A4A;*/
  box-shadow: 0 -4px 15px #4c4a4a;
  background: #ffffff;
  text-align: left;
  -moz-box-shadow: 0 -4px 15px #4c4a4a;
  -webkit-box-shadow: 0 -4px 15px #4c4a4a;
  -o-box-shadow: 0 -4px 15px #4c4a4a;
}

.ui-dialog.ui-corner-all {
  border-radius: 0;
}

.ui-dialog .ui-widget-content {
  display: inline-block;
  padding: 8px 0 8px 8px;
  text-align: center;
}

.ui-dialog .ui-widget-content .nothing-to-select {
  width: 386px;
  margin: 57px 0 0;
  padding: 4px 25px 180px 28px;
  border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  font-size: 16px;
  line-height: 21px;
  color: #3d3d3d;
  text-align: left;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  /*+border-radius:10px;*/
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.ui-dialog .ui-widget-content .nothing-to-select p {
  margin: 18px 0 0;
}

.ui-dialog .ui-widget-content .nothing-to-select .specify-ip {
  margin-top: 28px;
  padding-top: 21px;
  border-top: 1px solid #dfdfdf;
  font-size: 12px;
}

.ui-dialog-buttonset {
  width: 285px;
  margin: 0;
}

.ui-dialog .ui-button {
  display: block;
  float: left;
  width: 110px;
  height: 31px;
  border: 0;
  border: 1px solid #bfbcbc;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  /*+border-radius:4px;*/
  background: url('../images/gradients.png') -2px -481px;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.ui-dialog .ui-button:hover {
  background-position: -4px -426px;
}

.ui-dialog.notice .close.ui-button {
  display: inline;
  float: right;
  padding: 0;
  background: transparent;
  color: #516374;
  /*+text-shadow:0px -1px 1px #FFFFFF;*/
  text-shadow: 0 -1px 1px #ffffff;
  -moz-text-shadow: 0 -1px 1px #ffffff;
  -webkit-text-shadow: 0 -1px 1px #ffffff;
  -o-text-shadow: 0 -1px 1px #ffffff;
}

.ui-dialog .ui-button.ok {
  border: 1px solid #0065c5;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  /*+text-shadow:0px -1px 1px #011238;*/
  background-position: 0 -317px;
  color: #ffffff;
  text-shadow: 0 -1px 1px #011238;
  -moz-text-shadow: 0 -1px 1px #011238;
  /*+border-radius:4px;*/
  -webkit-text-shadow: 0 -1px 1px #011238;
  -o-text-shadow: 0 -1px 1px #011238;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.ui-dialog .ui-button.ok:hover {
  border: 1px solid #004ff7;
  background-position: -3px -368px;
}

.ui-dialog.confirm .ui-button {
  margin-top: 0;
  margin-left: 11px;
}

.ui-dialog.confirm .ui-button.cancel {
  margin-left: 50px;
}

.ui-dialog span.message {
  display: block;
  padding-bottom: 40px;
  font-size: 14px;
  color: #445361;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  text-align: center;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

.ui-dialog span.message ul {
  margin-top: 14px;
  margin-left: 30px;
  text-align: left;
  list-style: disc;
}

.ui-dialog span.message ul li {
  margin-top: 3px;
}

.ui-dialog span.message p {
  margin-top: 20px;
  text-align: left;
}

.ui-dialog-titlebar {
  height: 33px;
  margin: auto;
  border-radius: 7px 7px 0 0;
  /*+border-radius:7px 7px 0 0;*/
  background: #ffffff;
  color: #000000;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -khtml-border-radius: 7px 7px 0 0;
}

.ui-dialog-titlebar.ui-widget-header {
  border: 0;
  font-weight: inherit;
}

.ui-dialog-titlebar .ui-icon-closethick {
  display: none;
}

.ui-dialog-title {
  /*+placement:shift 8px 9px;*/
  position: relative;
  top: 9px;
  left: 8px;
  padding: 2px 0 5px 30px;
  background: url('../images/icons.png') no-repeat 0 -255px;
  font-size: 14px;
}

.notice .ui-dialog-title {
  background-position: 0 -288px;
}

.ui-dialog.confirm .ui-dialog-title {
  background: url('../images/icons.png') no-repeat 0 -224px;
}

.ui-dialog.create-form .ui-dialog-title {
  background: url('../images/icons.png') no-repeat 0 -255px;
}

.ui-dialog.warning .ui-dialog-title {
  background: url('../images/icons.png') no-repeat 0 -286px;
}

.ui-dialog.confirm .ui-button {
  /*+placement:shift 0px -8px;*/
  position: relative;
  top: -8px;
  left: 0;
}
