// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

div.toolbar div.filters {
  float: left;
  width: 200px;
  margin: 5px 0 0 12px;
}

div.toolbar div.filters select {
  width: 104px;
  height: 21px;
  margin: 1px 0 0;
  padding: 0 0 0;
  /*+border-radius:4px;*/
  border: 1px solid #808080;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  font-size: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

#breadcrumbs {
  width: 100%;
  height: 29px;
  max-height: 29px;
  background: #ffffff;
  overflow: hidden;
}

.project-view #breadcrumbs {
  background-color: #828282;
  background-image: url('../images/bg-breadcrumbs-project-view.png');
  background-position: 0 1px;
}

#breadcrumbs div.home {
  position: relative;
  z-index: $z-index-breadcrumbs2;
  float: left;
  /*+placement:shift -1px 0px;*/
  top: 0;
  left: -1px;
  width: auto;
  height: 23px;
  cursor: pointer;
}

.project-view #breadcrumbs div.home {
  background-position: -63px -98px;
}

.project-view #breadcrumbs div.end {
  background-position: -89px -98px;
}

#breadcrumbs ul li,
#breadcrumbs div.active-project,
#breadcrumbs .home {
  position: relative;
  position: relative;
  float: left;
  top: 0;
  left: -13px;
  height: 21px;
  /*+placement:shift -13px 0px;*/
  margin: 0 0 0 2px;
  padding: 9px 5px 0 0;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}

#breadcrumbs ul li:after,
#breadcrumbs .home:after {
  content: '>';
  position: relative;
  /*+placement:shift 7px -1px;*/
  top: -1px;
  left: 7px;
  font-size: 11px;
  color: #c4c4c4;
}

.project-view #breadcrumbs ul li {
  color: #ffffff !important;
}

#breadcrumbs ul li,
#breadcrumbs div.active-project,
#breadcrumbs .home {
  /*+placement:shift 0px 0px;*/
  position: relative;
  top: 0;
  left: 0;
  padding: 9px 5px 0 8px;
  color: #63a9f1;
}

#breadcrumbs ul li:hover,
#breadcrumbs ul li.active,
#breadcrumbs ul li.maximized {
  color: #000000;
}

/*NOTE: End divs are not displayed per UI changes*/
#breadcrumbs ul div.end {
  /*+placement:shift -37px -1px;*/
  display: none;
  position: relative;
  top: -1px;
  left: -37px;
  /*Disabled*/
  margin-right: 0;
}

#breadcrumbs ul li {
  position: relative;
  /*+placement:shift -36px 0px;*/
  top: 0;
  font-size: 13px;
}

#breadcrumbs div.active-project {
  display: none;
  z-index: $z-index-breadcrumbs1;
  text-indent: 9px;
}
