// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.copy-template-destination-list div.text-search {
  right: 5px;
}

.copy-template-destination-list div.ui-widget-content {
  display: block !important;
}

div.panel.copy-template-destination-list div.list-view div.fixed-header {
  width: 500px;
}

.copy-template-destination-list.panel div.list-view div.data-table table {
  width: 595px;
}

.copy-template-destination-list .list-view .toolbar {
  width: 654px;
}

.multi-edit-add-list .ui-button.copytemplateok {
  left: 330px;
}

.multi-edit-add-list .ui-button.copytemplatecancel {
  left: 310px;
}
