// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#header div.notifications {
  position: relative;
  float: right;
  top: -57px;
  left: -239px;
  /*+placement:shift -174px -57px;*/
  height: 18px;
  padding: 1px 0 0;
  background: transparent;
}

#header div.notifications:after {
  content: '|';
  /*+placement:shift 28px 7px;*/
  position: relative;
  top: 7px;
  left: 28px;
}

#header div.notifications span {
  position: relative;
  top: 5px;
  left: 7px;
  /*+text-shadow:0px -1px 1px #464646;*/
  text-shadow: 0 -1px 1px #464646;
  -moz-text-shadow: 0 -1px 1px #464646;
  -webkit-text-shadow: 0 -1px 1px #464646;
  -o-text-shadow: 0 -1px 1px #464646;
}

#header div.notifications:hover {
  color: #5faaf7;
}

#header div.notifications div.total {
  float: left;
  width: 22px;
  height: 19px;
  margin: 3px;
  background: url('../images/sprites.png') no-repeat -593px -870px;
  font-size: 11px;
  color: #ffffff;
  /*+text-shadow:0px -1px #6C7283;*/
  text-shadow: 0 -1px #6c7283;
  -moz-text-shadow: 0 -1px #6c7283;
  -webkit-text-shadow: 0 -1px #6c7283;
  -o-text-shadow: 0 -1px #6c7283;
  -moz-text-shadow: 0 -1px 0 #6c7283;
  -webkit-text-shadow: 0 -1px 0 #6c7283;
  -o-text-shadow: 0 -1px 0 #6c7283;
}

#header div.notifications div.total.pending {
  background-position: -593px -846px;
  font-weight: bold;
}

#header div.notifications div.total span {
  /*+placement:shift 0px 3px;*/
  display: block;
  position: relative;
  top: 3px;
  left: 0;
  width: 21px;
  font-size: 12px;
  text-align: center;
}
