// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.info-boxes {
  float: right;
  width: 233px;
  height: 551px;
  margin: 21px 5px 0 0;
}

.info-boxes .info-box {
  display: inline-block;
  border: 1px solid #b3c3d0;
  /*+box-shadow:inset 0px -1px 7px #A7A7A7;*/
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: inset 0 -1px 7px #a7a7a7;
  background: #ffffff;
  -moz-box-shadow: inset 0 -1px 7px #a7a7a7;
  /*+border-radius:4px;*/
  -webkit-box-shadow: inset 0 -1px 7px #a7a7a7;
  -o-box-shadow: inset 0 -1px 7px #a7a7a7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.info-boxes .info-box.events {
  width: 228px;
  height: 323px;
  margin-top: 4px;
}

.info-boxes .info-box.events ul {
  max-height: 295px;
  overflow: auto;
  overflow-x: hidden;
}

.info-boxes .info-box ul {
  display: inline-block;
  height: auto;
  margin: 0 0 3px 2px;
}

.info-boxes .info-box ul li {
  display: inline-block;
  width: 224px;
  margin: 0 2px 0 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #bdd2df;
}

.info-boxes .info-box ul li.odd {
  background: #ececec;
}

.info-boxes .info-box .button {
  float: right;
  margin: 0 14px 0 0;
  padding: 2px 6px 3px 3px;
  /*+text-shadow:0px 1px 1px #000000;*/
  border: 1px solid #82a3c7;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: inset 0 1px 1px #85acc4;
  /*+border-radius:4px;*/
  background: url('../images/bg-gradients.png') 0 -734px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 1px #000000;
  /*+box-shadow:inset 0px 1px 1px #85ACC4;*/
  cursor: pointer;
  -moz-text-shadow: 0 1px 1px #000000;
  -webkit-text-shadow: 0 1px 1px #000000;
  -o-text-shadow: 0 1px 1px #000000;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px #85acc4;
  -webkit-box-shadow: inset 0 1px 1px #85acc4;
  -o-box-shadow: inset 0 1px 1px #85acc4;
}

.info-boxes .info-box .button span {
  /*+placement:shift 0px 2px;*/
  position: relative;
  float: left;
  top: 2px;
  left: 0;
}

.info-boxes .info-box .title .button {
  margin: 4px 6px 0 3px;
}

.info-boxes .info-box .title .button span {
  position: relative;
  top: 1px;
  left: 1px;
  margin: 0;
  /*+placement:shift 1px 1px;*/
  padding: 0;
  font-size: 10px;
  color: #ffffff;
}

.info-boxes .info-box .button:hover {
  background-position: 0 -766px;
}

.info-boxes .info-box .button .arrow {
  position: relative;
  float: right;
  top: 0;
  /*+placement:shift 0px 0px;*/
  left: 0;
  width: 16px;
  height: 13px;
  background: url('../images/sprites.png') no-repeat -455px -84px;
}

.info-boxes .info-box ul li .total,
.info-boxes .info-box ul li .date {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  width: 52px;
  height: 36px;
  /*+placement:shift;*/
  border-right: 1px solid #bdd2df;
  font-size: 24px;
  color: #647c91;
  text-align: right;
}

.info-boxes .info-box ul li .date {
  margin: 1px 0 0;
  font-size: 11px;
  text-align: center;
}

.info-boxes .info-box ul li .date span {
  /*+placement:shift 0px 11px;*/
  position: relative;
  top: 11px;
  left: 0;
}

.info-boxes .info-box ul li .desc {
  display: inline-block;
  position: relative;
  /*+placement:shift 5px 8px;*/
  top: 8px;
  left: 5px;
  max-width: 153px;
  padding-bottom: 13px;
  font-size: 12px;
  white-space: nowrap;
  color: #606060;
  text-overflow: ellipsis;
  overflow: hidden;
}

.info-boxes .info-box ul li .total span {
  /*+placement:shift -5px 7px;*/
  position: relative;
  top: 7px;
  left: -5px;
}

.info-boxes .info-box .title {
  height: 27px;
  border-bottom: 1px solid #bdd2df;
}

.info-boxes .info-box .title span {
  /*+placement:shift 8px 6px;*/
  position: relative;
  top: 6px;
  left: 8px;
  font-size: 12px;
  font-weight: bold;
  color: #4e748c;
}
