// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

//TODO refactoring for all "list-view" files
div.panel div.list-view {
  height: 632px;
  margin-top: 30px;
  overflow: auto;
  overflow-x: hidden;
}

.detail-view div.list-view {
  width: 930px;
  height: 536px !important;
  margin: 41px auto auto !important;
  border: 1px solid #dad4d4;
  background: #f7f7f7;
}

div.panel div.list-view div.data-table table {
  width: 955px;
}

.detail-view div.list-view div.data-table table {
  width: 903px !important;
}

.detail-view div.list-view div.data-table table td {
  border-left: 1px solid #cacaca;
}

div.panel div.list-view div.fixed-header {
  display: table;
  position: absolute;
  z-index: $z-index-standard;
  top: 29px;
  left: 12px;
  width: 960px;
  height: 47px;
  margin: 0;
  background-color: #f7f7f7;
}

.detail-view div.list-view div.fixed-header {
  top: 49px !important;
  left: 29px !important;
  width: 903px !important;
  background: #ffffff;
}

.detail-view div#details-tab-zones div.fixed-header {
  left: 25px !important;
}

.detail-view div.list-view div.fixed-header table {
  width: 100% !important;
}

.project-view div.panel div.list-view div.fixed-header {
  background: #6d747d;
}

div.panel div.list-view div.fixed-header table {
  position: relative;
  /*+placement:shift 0px 18px;*/
  top: 18px;
  left: 0;
  width: 955px;
  margin: 0;
  /*+box-shadow:0px 4px 10px #DFE1E3;*/
  box-shadow: 0 4px 10px #dfe1e3;
  -moz-box-shadow: 0 4px 10px #dfe1e3;
  -webkit-box-shadow: 0 4px 10px #dfe1e3;
  -o-box-shadow: 0 4px 10px #dfe1e3;
}

.project-view div.panel div.list-view div.fixed-header table {
  /*+box-shadow:0px 2px 2px #CACDD1;*/
  box-shadow: 0 2px 2px #cacdd1;
  -moz-box-shadow: 0 2px 2px #cacdd1;
  -webkit-box-shadow: 0 2px 2px #cacdd1;
  -o-box-shadow: 0 2px 2px #cacdd1;
}

div.list-view td.state {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
}

div.list-view td.first {
  cursor: pointer;
}

div.list-view tr:not(.multi-edit-selected) td.first:hover {
  color: #3a82cd;
}

div.list-view td.state span {
  width: 80px;
  padding: 1px 0 0 18px;
  background: url('../images/sprites.png') 1px -526px;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  text-align: center;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

div.list-view td.state.on span {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-position: 1px -460px;
  color: #008000;
}

div.list-view td.state.off span {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-position: 1px -492px;
  color: #b90606;
}

div.list-view td.state.warning span {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-position: 1px -558px;
  color: #b90606;
}

div.list-view td.state.transition span {
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
  background-position: 1px -432px;
  color: #b90606;
}

div.list-view td.state.suitable span {
  height: 18px;
  background: url('../images/icons.png') no-repeat scroll 1px -224px;
  color: #008000;
}

div.list-view td.state.suitable-storage-migration-required span {
  width: 200px;
}

div.list-view td.state.notsuitable span {
  width: 100px;
  height: 19px;
  background: url('../images/icons.png') no-repeat scroll 1px -190px;
  color: #b90606;
}

div.list-view td.state.notsuitable-storage-migration-required span {
  width: 220px !important;
}
