// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

div.container div.panel div#details-tab-addloadBalancer.detail-group div.loadBalancer div.multi-edit form table.multi-edit thead tr th,
div.container div.panel div#details-tab-addloadBalancer.detail-group div.loadBalancer div.multi-edit form table.multi-edit tbody tr td {
  min-width: 100px;
}

.multi-edit {
  overflow: auto;
}

.multi-edit > form {
  position: relative;
  clear: both;
}

.multi-edit table.multi-edit {
  border-top: 0;
}

.multi-edit table th {
  min-width: 88px;
  white-space: nowrap;
  text-align: center;
  text-indent: 0;
}

.detail-group .multi-edit table td {
  border-left: 1px solid #cdcccc;
}

.detail-view .multi-edit input {
  width: 70%;
}

.detail-view .multi-edit select {
  width: 93%;
  min-width: 80px;
  font-size: 10px;
}

.multi-edit input {
  width: 85%;
}

.multi-edit .range {
  position: relative;
}

.multi-edit .range .range-item {
  float: left;
}

.multi-edit .range input {
  position: relative;
  width: 35px;
  margin-right: 2px;
}

.multi-edit .range label {
  display: block;
  position: relative;
  /*+placement:shift 3px 2px;*/
  clear: both;
  top: 2px;
  left: 3px;
}

.multi-edit label.error {
  float: left;
  margin: 3px 0 0;
  font-size: 10px;
}

.multi-edit .data-table td span {
  float: left;
}

.multi-edit .data-table td.add-vm {
  cursor: pointer;
}

.multi-edit th.add-rule,
.multi-edit td.add-rule {
  border-right: 1px solid #cdcccc;
}

.multi-edit .data-table td.add-vm:hover {
  color: #5faaf7;
}

.multi-edit .data-table .fixed-header {
  display: none;
}

.multi-edit .button.add-vm {
  position: relative;
  top: 0;
  left: 4px;
  width: 74px;
  /*+text-shadow:0px 1px 1px #000000;*/
  padding: 6px 0 4px;
  border: 1px solid #858585;
  border-top: 0;
  border-radius: 5px;
  /*+box-shadow:0px 1px 1px #FFFFFF;*/
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px #ffffff;
  background: url('../images/bg-gradients.png') repeat-x 0 -220px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  /*+border-radius:5px;*/
  text-align: center;
  text-indent: 0;
  text-shadow: 0 1px 1px #000000;
  cursor: pointer;
  -moz-text-shadow: 0 1px 1px #000000;
  -webkit-text-shadow: 0 1px 1px #000000;
  -o-text-shadow: 0 1px 1px #000000;
  -moz-box-shadow: 0 1px 1px #ffffff;
  -webkit-box-shadow: 0 1px 1px #ffffff;
  -o-box-shadow: 0 1px 1px #ffffff;
  /*+placement:shift 4px 0px;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.multi-edit .button.add-vm:hover {
  box-shadow: inset 0 1px 1px #000000;
  /*+box-shadow:inset 0px 1px 1px #000000;*/
  background-position: 0 -241px;
  -moz-box-shadow: inset 0 1px 1px #000000;
  -webkit-box-shadow: inset 0 1px 1px #000000;
  -o-box-shadow: inset 0 1px 1px #000000;
}

.multi-edit .button.custom-action {
  border: 1px solid #b7b7b7;
  background: url('../images/bg-gradients.png') 0 -271px;
  font-size: 10px;
  color: #485867;
  /*+text-shadow:0px 1px #FFFFFF;*/
  text-shadow: 0 1px #ffffff;
  -moz-text-shadow: 0 1px #ffffff;
  -webkit-text-shadow: 0 1px #ffffff;
  -o-text-shadow: 0 1px #ffffff;
}

.multi-edit td.disabled .button.add-vm.custom-action {
  /*+opacity:50%;*/
  opacity: 0.5;
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
}

.multi-edit .button.custom-action:hover {
  background: #808080 url('../images/bg-gradients.png');
  color: #ffffff;
  /*+text-shadow:0px 1px 1px #000000;*/
  text-shadow: 0 1px 1px #000000;
  -moz-text-shadow: 0 1px 1px #000000;
  -webkit-text-shadow: 0 1px 1px #000000;
  -o-text-shadow: 0 1px 1px #000000;
}

.ui-dialog.multi-edit-add-list {
  width: initial !important;
}

.ui-dialog.multi-edit-add-list .ui-dialog-buttonpane {
  display: block;
}

.ui-dialog.multi-edit-add-list .ui-dialog-buttonpane .ui-dialog-buttonset {
  width: initial;
  padding-right: 15px;
}

.ui-dialog.multi-edit-add-list .ui-dialog-buttonpane .ui-dialog-buttonset button {
  top: 0;
  left: 0;
}

.multi-edit-add-list .ui-button.ok,
.multi-edit-add-list .ui-button.cancel {
  position: relative;
  /*+placement:shift 506px -18px;*/
  float: right;
  top: -18px;
  left: 506px;
}

.multi-edit-add-list .ui-button.cancel {
  /*+placement:shift 492px -18px;*/
  position: relative;
  left: 492px;
  border: 0;
  background: transparent;
  font-weight: bold;
  color: #808b95;
}

.multi-edit-add-list div.form-container {
  width: auto !important;
  height: auto;
  text-align: center;
}

.multi-edit-add-list div.form-container div.name label {
  display: inline;
}

.multi-edit .data .data-body {
  margin: auto auto auto 11px;
  overflow: hidden;
}

.panel.always-maximized .multi-edit .data .data-body {
  width: 96%;
  margin: 0 0 0 12px;
}

.multi-edit .data .data-body .data-item {
  position: relative;
  margin-bottom: 14px;
  border: 1px solid #cdcccc;
}

.multi-edit .data .data-body .data-item .loading-overlay {
  background-position: 50% 50%;
}

.multi-edit .data .data-body .data-item.loading {
  height: 28px;
  border: 1px solid #dddddd;
  background: #ffffff url('../images/ajax-loader.gif') no-repeat center;
}

.multi-edit .data .data-body .data-item.loading .label {
  margin: 12px 0 0;
  font-size: 12px;
  color: #808080;
  text-align: center;
  text-indent: 19%;
}

.multi-edit .data .data-body .data-item table {
  width: 100%;
  margin: 0;
  border: 0;
  background: #f0f1f2;
  overflow: hidden;
}

.multi-edit .data .data-body .data-item tr {
  border: 0;
  background: #efefef;
}

.multi-edit .data .data-body .data-item table tbody tr td {
  height: 15px;
  border-right: 1px solid #cfc9c9;
  border-left: 0;
  background: #f0f1f2;
  overflow: auto;
}

.multi-edit .data .data-body .data-item > table tbody tr td span {
  display: block;
  float: left;
  max-width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.multi-edit .data .data-body .data-item table tbody tr td.name {
  padding-top: 9px;
}

.multi-edit .data .data-body .data-item table tbody tr td.name span {
  width: 53px;
  font-weight: bold;
  color: #4c5d78;
}

.multi-edit .data .data-body .data-item .expandable-listing table tbody tr td.name span {
  font-weight: normal;
  color: #4c5d78;
  cursor: pointer;
}

.multi-edit .data .data-body .data-item .expandable-listing table tbody tr td.name span:hover {
  color: #0000ff;
}

div#details-tab-aclRules table.multi-edit tr th.number,
div#details-tab-aclRules div.data-item table tr td.number {
  width: 45px !important;
  min-width: 45px !important;
  max-width: 45px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.action,
div#details-tab-aclRules div.multi-edit table tr td.action {
  width: 40px !important;
  min-width: 40px !important;
  max-width: 40px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.protocol,
div#details-tab-aclRules div.multi-edit table tr td.protocol {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.protocolnumber,
div#details-tab-aclRules div.multi-edit table tr td.protocolnumber {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.traffictype,
div#details-tab-aclRules div.multi-edit table tr td.traffictype {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.reason,
div#details-tab-aclRules div.multi-edit table tr td.reason {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.icmptype,
div#details-tab-aclRules div.multi-edit table tr td.icmptype,
div#details-tab-aclRules div.multi-edit table tr th.icmpcode,
div#details-tab-aclRules div.multi-edit table tr td.icmpcode {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}

div#details-tab-aclRules div.multi-edit table tr th.startport,
div#details-tab-aclRules div.multi-edit table tr td.startport,
div#details-tab-aclRules div.multi-edit table tr th.endport,
div#details-tab-aclRules div.multi-edit table tr td.endport {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}

div#details-tab-aclRules td.cidrlist span {
  width: 100%;
  text-align: center;
}

.multi-edit .data .data-body .data-item table tbody tr td.multi-actions .action {
  float: left;
  width: 28px;
  height: 21px;
  cursor: pointer;
}

.multi-edit .data .data-body .data-item table tbody tr td.multi-actions .action span.icon {
  float: left;
  width: 28px;
  height: 21px;
  background-image: url('../images/sprites.png');
  cursor: pointer;
}

.multi-edit .data .data-body .data-item tr td .expand {
  display: block;
  float: left;
  width: 14px;
  height: 15px;
  margin: -3px 0 0 11px;
  border: 1px solid #d0d0d0;
  /*+border-radius:9px;*/
  border-radius: 9px;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/sprites.png') -541px -499px;
  cursor: pointer;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
}

.multi-edit .data .data-body .data-item tr td.add-vm,
.multi-edit tr th.add-vm {
  cursor: pointer;
}

.multi-edit .data .data-body .data-item tr td .custom-action {
  margin: -2px 0 0 0;
}

.multi-edit .data .data-body .data-item tr td.add-vm:hover {
  font-weight: bold;
  color: #0060ff;
}

.multi-edit .data .data-body .data-item tr td.add-vm p {
  margin-top: 3px;
  margin-bottom: 6px;
  padding-left: 9px;
  text-indent: 0;
}

.multi-edit .data .data-body .data-item tr td.multi-actions .icon {
  /*+placement:shift -3px -2px;*/
  position: relative;
  top: -2px;
  left: -3px;
}

.multi-edit .data .data-body .data-item .expandable-listing {
  width: 99.8%;
  max-height: 161px;
  border: 1px solid #cfc9c9;
  overflow: auto;
  overflow-x: hidden;
}

.multi-edit .data .data-body .data-item .expandable-listing tr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.multi-edit .data .data-body .data-item .expandable-listing tr td {
  margin: 0;
  border: 0;
  background: #dde0e2;
  text-indent: 37px;
}

.multi-edit .data .data-body .data-item .expandable-listing tr.odd td {
  background: #f2f0f0;
}

.ui-tabs-panel .add-by {
  width: 94%;
  margin: 13px 0 0 14px;
  font-size: 12px;
  color: #536474;
}

.ui-tabs-panel .add-by .selection {
  width: 236px;
  margin: 8px 0 0;
}

.ui-tabs-panel .add-by .selection input {
  margin: 0 6px 0 0;
}

.ui-tabs-panel .add-by .selection label {
  margin: 0 22px 0 0;
}

/** Fix long table overflow*/
.detail-view .multi-edit {
  width: 100%;
}

.detail-view .multi-edit table {
  width: 97%;
  max-width: inherit;
}

.detail-view .multi-edit table tr th,
.detail-view .multi-edit table tr td {
  width: 84px !important;
  min-width: 84px !important;
  max-width: 84px !important;
  font-size: 10px;
}

/* special case for 'Source CIDR' column - make it wide enough to fit a CIDR without ellipsizing*/
.detail-view .multi-edit table tr th.cidrlist,
.detail-view .multi-edit table tr td.cidrlist {
  min-width: 118px !important;
  max-width: 118px !important;
  padding: 0 0 0 0;
}

.detail-view .multi-edit td.cidrlist input {
  width: 85%;
}


/** Header fields*/
.multi-edit .header-fields {
  position: relative;
  /*+placement:shift 14px 11px;*/
  position: relative;
  top: 11px;
  left: 14px;
}

.multi-edit .header-fields .form-container {
  width: 96%;
  height: 32px;
  border: 1px solid #d4cfcf;
  /*+border-radius:4px;*/
  border-radius: 4px;
  background: #e4e4e4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-edit .header-fields .form-item {
  float: left;
  margin-right: 0;
  margin-bottom: 32px;
  padding: 4px 15px 3px 9px;
}

.multi-edit .header-fields .form-item input,
.multi-edit .header-fields .form-item select {
  margin-top: 4px;
}

.multi-edit .header-fields .form-item .name,
.multi-edit .header-fields .form-item .value {
  float: left;
}

.multi-edit .header-fields .form-item .name {
  padding: 5px;
  font-size: 14px;
  color: #55687a;
}

/*Sortable*/
.multi-edit table tbody tr td.reorder,
.multi-edit table thead tr th.reorder {
  width: 16px !important;
  min-width: 16px !important;
  max-width: 16px !important;
}

/*Security Rules*/
.security-rules .multi-edit input {
  width: 69px;
  margin: 0 0 0 9px;
}

.security-rules .multi-edit .range input {
  width: 44px;
  margin: 0;
}
