// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

div.notification-box {
  width: 323px;
  height: 354px;
  background: url('../images/bg-notifications.png') no-repeat 0 0;
}

div.notification-box h3 {
  position: relative;
  /*+placement:shift 0px 35px;*/
  top: 35px;
  left: 0;
  font-size: 21px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  /*+text-shadow:0px 1px 2px #000000;*/
  text-shadow: 0 1px 2px #000000;
  -moz-text-shadow: 0 1px 2px #000000;
  -webkit-text-shadow: 0 1px 2px #000000;
  -o-text-shadow: 0 1px 2px #000000;
}

div.notification-box .container {
  position: relative;
  top: 46px;
  left: 3px;
  width: 296px;
  /*+placement:shift 3px 46px;*/
  height: 241px;
  margin: auto;
  border: 1px solid #8198ae;
  /*+box-shadow:inset 0px 3px 7px #656565;*/
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: inset 0 3px 7px #656565;
  background: #ffffff;
  /*+border-radius:4px;*/
  -moz-box-shadow: inset 0 3px 7px #656565;
  -webkit-box-shadow: inset 0 3px 7px #656565;
  -o-box-shadow: inset 0 3px 7px #656565;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

div.notification-box .container ul {
  width: 294px;
  height: 229px;
  margin-top: 8px;
  overflow: auto;
  overflow-x: hidden;
}

div.notification-box .container ul li {
  width: 100%;
  height: 41px;
  border-bottom: 1px solid #cecece;
  background: url('../images/icons.png') no-repeat 10px -213px;
  font-size: 12px;
  color: #4d5e6e;
  text-indent: 0;
  cursor: pointer;
  overflow-x: hidden;
}

div.notification-box .container ul li.error {
  height: 53px;
  background: url('../images/icons.png') no-repeat 10px -171px;
}

div.notification-box .container ul li.error .subtitle {
  display: block;
  position: relative;
  float: left;
  top: 17px;
  left: 48px;
  width: 213px;
  height: 10px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  color: #808080;
  /*+placement:shift 48px 17px;*/
  text-indent: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.notification-box .container ul li span {
  position: relative;
  /*+placement:shift 48px 15px;*/
  float: left;
  top: 15px;
  left: 48px;
  max-width: 202px;
  font-size: 14px;
  font-weight: 100;
  overflow: hidden;
}

div.notification-box .container ul li span:hover {
  color: #5faaf7;
  text-decoration: underline;
}

div.notification-box .container ul div.remove {
  position: relative;
  float: right;
  top: 16px;
  left: 0;
  width: 17px;
  height: 21px;
  /*+placement:shift 0px 16px;*/
  margin: -4px 8px 0 0;
  background: url('../images/buttons.png') no-repeat -623px -8px;
  cursor: pointer;
}

div.notification-box .container ul div.remove:hover {
  background-position: -606px -8px;
}

div.notification-box .container ul li.pending {
  background: url('../images/ajax-loader.gif') no-repeat 8px 6px;
  color: #7e96ac;
}

div.notification-box .container ul li.first {
  border-top: 0;
}

div.notification-box .button {
  position: relative;
  float: left;
  top: 51px;
  /*+placement:shift 0px 51px;*/
  left: 0;
  padding: 5px 10px 6px;
  border-bottom: 1px solid #2b2b2b;
  /*+border-radius:4px;*/
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 2px #272727;
  background: url('../images/buttons.png') no-repeat;
  cursor: pointer;
  -moz-border-radius: 4px;
  /*+box-shadow:0px 0px 2px #272727;*/
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-box-shadow: 0 0 2px #272727;
  -webkit-box-shadow: 0 0 2px #272727;
  -o-box-shadow: 0 0 2px #272727;
}

div.notification-box .button span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  /*+text-shadow:0px -1px 2px #171717;*/
  text-shadow: 0 -1px 2px #171717;
  -moz-text-shadow: 0 -1px 2px #171717;
  -webkit-text-shadow: 0 -1px 2px #171717;
  -o-text-shadow: 0 -1px 2px #171717;
}

div.notification-box .button.clear-list {
  margin-left: 16px;
  background: url('../images/gradients.png') 0 -10px;
}

div.notification-box .button.clear-list:hover {
  background-position: 0 -51px;
}

div.notification-box .button.close {
  float: right;
  margin-right: 10px;
  border-bottom: 1px solid #232323;
  background: url('../images/gradients.png') 0 -317px;
}

div.notification-box .button.close:hover {
  background-position: -4px -368px;
}

/*** Corner alert*/
div.notification.corner-alert {
  opacity: 0.7;
  position: absolute;
  /*+box-shadow:0px 2px 10px #000000;*/
  z-index: $z-index-notification;
  width: 300px;
  height: 75px;
  margin: 38px 0 0 -56px;
  padding: 7px 7px 0;
  border-radius: 3px;
  /*+border-radius:3px;*/
  box-shadow: 0 2px 10px #000000;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.95);
  font-size: 12px;
  text-indent: 10px;
  -moz-box-shadow: 0 2px 10px #000000;
  -webkit-box-shadow: 0 2px 10px #000000;
  -o-box-shadow: 0 2px 10px #000000;
  /*+opacity:70%;*/
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  filter: alpha(opacity=70);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  -moz-opacity: 0.7;
}

div.notification.corner-alert .top-arrow {
  position: absolute;
  top: -15px;
  left: 50px;
  width: 36px;
  height: 15px;
  background: url('../images/sprites.png') no-repeat -580px -1353px;
}

div.notification.corner-alert div.title {
  width: 100%;
  height: 33px;
  color: #ffffff;
}

div.notification.corner-alert div.title span {
  /*+placement:shift 0px 10px;*/
  position: relative;
  top: 10px;
  left: 0;
  padding: 3px 0 12px 24px;
  padding-left: 33px;
  background: url('../images/icons.png') no-repeat 3px -223px;
  font-size: 14px;
  font-weight: 100;
  color: #6d6d6d;
}

div.notification.corner-alert.error div.title span {
  background: url('../images/icons.png') no-repeat -2px -190px;
}

div.notification.corner-alert div.message span {
  display: block;
  position: relative;
  position: relative;
  top: -2px;
  left: 17px;
  /*+placement:shift 17px -2px;*/
  padding-top: 6px;
  font-size: 14px;
  color: #000000;
}
