// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.region-switcher {
  display: inline-block;
  position: relative;
  /*+border-radius:4px;*/
  position: relative;
  float: left;
  top: 1px;
  left: 27px;
  height: 28px;
  margin: 5px 13px 0 0;
  border-radius: 4px;
  cursor: pointer;
  /*+placement:shift 27px 1px;*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.region-selector {
  /*+border-radius:4px;*/
  position: relative;
  position: absolute;
  z-index: $z-index-region-selector;
  top: 49px;
  left: 185px;
  width: 318px;
  height: 372px;
  /*+placement:shift 185px 49px;*/
  border-radius: 4px;
  background: url('../images/bg-notifications.png') center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.region-selector h2 {
  margin: 31px 0 14px;
  font-size: 21px;
  letter-spacing: 1px;
  color: #ffffff;
  /*+text-shadow:0px 1px 2px #000000;*/
  text-align: center;
  text-shadow: 0 1px 2px #000000;
  -moz-text-shadow: 0 1px 2px #000000;
  -webkit-text-shadow: 0 1px 2px #000000;
  -o-text-shadow: 0 1px 2px #000000;
}

.region-selector .buttons {
  width: 95%;
  height: 33px;
  margin: 5px auto 0;
}

.region-selector .buttons .button.close {
  float: right;
  margin-right: 10px;
  padding: 8px;
  border-bottom: 1px solid #232323;
  /*+border-radius:4px;*/
  border-radius: 4px;
  background: url('../images/gradients.png') 0 -317px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.region-selector .buttons .button.close:hover {
  /*+box-shadow:inset 0px 2px 4px #525252;*/
  box-shadow: inset 0 2px 4px #525252;
  -moz-box-shadow: inset 0 2px 4px #525252;
  -webkit-box-shadow: inset 0 2px 4px #525252;
  -o-box-shadow: inset 0 2px 4px #525252;
}

.region-selector .buttons .button.close span {
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  /*+text-shadow:0px 1px 2px #000000;*/
  text-shadow: 0 1px 2px #000000;
  -moz-text-shadow: 0 1px 2px #000000;
  -webkit-text-shadow: 0 1px 2px #000000;
  -o-text-shadow: 0 1px 2px #000000;
}

.region-selector ul {
  width: 94%;
  height: 237px;
  /*+border-radius:4px;*/
  margin: auto;
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  box-shadow: inset 0 0 8px #a3a3a3;
  background: #ffffff;
  overflow: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  /*+box-shadow:inset 0px 0px 8px #A3A3A3;*/
  -khtml-border-radius: 4px;
  -moz-box-shadow: inset 0 0 8px #a3a3a3;
  -webkit-box-shadow: inset 0 0 8px #a3a3a3;
  -o-box-shadow: inset 0 0 8px #a3a3a3;
}

.region-selector ul li {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #cacaca;
  /*+text-shadow:none;*/
  background: none;
  font-size: 13px;
  color: #415c72;
  text-indent: 14px;
  text-shadow: none;
  cursor: pointer;
  -moz-text-shadow: none;
  -webkit-text-shadow: none;
  -o-text-shadow: none;
}

.region-selector ul li:hover,
.region-selector ul li.active {
  background: #e9e9e9 url('../images/bg-gradients.png') repeat-x 0 -31px;
  /*+text-shadow:0px 1px #FFFFFF;*/
  text-shadow: 0 1px #ffffff;
  -moz-text-shadow: 0 1px #ffffff;
  -webkit-text-shadow: 0 1px #ffffff;
  -o-text-shadow: 0 1px #ffffff;
}

.region-switcher .icon {
  display: inline-block;
  display: block;
  position: absolute;
  float: left;
  width: 26px;
  height: 26px;
  background: url('../images/sprites.png') -15px -1313px;
}

.region-switcher .title {
  display: inline-block;
  position: relative;
  float: right;
  top: 0;
  left: -1px;
  max-width: 285px;
  padding: 9px 9px 0 34px;
  font-size: 13px;
  font-weight: 100;
  /*+placement:shift -1px 0px;*/
  white-space: nowrap;
  color: #ffffff;
  overflow: hidden;
}

.region-switcher:hover,
.region-switcher.active {
  /*+box-shadow:inset 0px 1px 5px #000000;*/
  box-shadow: inset 0 1px 5px #000000;
  -moz-box-shadow: inset 0 1px 5px #000000;
  -webkit-box-shadow: inset 0 1px 5px #000000;
  -o-box-shadow: inset 0 1px 5px #000000;
}

.region-switcher:hover .icon,
.region-switcher.active .icon {
  background-position: -70px -1311px;
}
