// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#user {
  display: inline-block;
  position: absolute;
  float: left;
  top: -47px;
  left: 1025px;
  height: 30px;
  margin: 0;
  background: transparent;
  cursor: default !important;
}

#user div.name {
  display: inline-block;
  float: left;
  min-width: 110px;
  max-width: 220px;
  /*[empty]border-top:;*/
  height: 12px;
  margin: 0;
  padding: 9px 18px 7px 12px;
  border-right: 0;
  text-align: center;
  /*+text-shadow:0px -1px 1px #464646;*/
  text-shadow: 0 -1px 1px #464646;
  overflow: hidden;
  -moz-text-shadow: 0 -1px 1px #464646;
  -webkit-text-shadow: 0 -1px 1px #464646;
  -o-text-shadow: 0 -1px 1px #464646;
}

#user div.options {
  position: relative;
  float: left;
  top: 0;
  /*+placement:shift 0px 0px;*/
  left: 0;
  width: 31px;
  height: 28px;
  background-position: 0 -867px;
  cursor: pointer;
}

#user div.options .arrow {
  position: relative;
  top: 11px;
  left: 8px;
  /*+placement:shift 8px 11px;*/
  width: 11px;
  height: 8px;
  background: url('../images/buttons.png') -402px -23px;
}

#user-options {
  position: absolute;
  z-index: $z-index-panel-highlight;
  top: 30px;
  width: 150px;
  padding: 15px;
  border-radius: 0 0 3px 3px;
  /*+border-radius:0 0 3px 3px;*/
  box-shadow: 0 1px 7px #000000;
  background: #ffffff;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  /*+box-shadow:0px 1px 7px #000000;*/
  -khtml-border-radius: 0 0 3px 3px;
  -moz-box-shadow: 0 1px 7px #000000;
  -webkit-box-shadow: 0 1px 7px #000000;
  -o-box-shadow: 0 1px 7px #000000;
}

#user-options a {
  float: left;
  width: 100%;
  padding: 10px 0;
}
