#!/bin/bash -e

export registryConfig="\\        [plugins.\"io.containerd.grpc.v1.cri\".registry.mirrors.\"*\"]\n \\         endpoint = [\"{{registry.url}}\"]"
export registryCredentials="\\      [plugins.\"io.containerd.grpc.v1.cri\".registry.configs.\"{{registry.url.endpoint}}\".auth]\n\tusername = \"{{registry.username}}\" \n\tpassword = \"{{registry.password}}\" \n\tidentitytoken = \"{{registry.token}}\""

echo "creating config file for containerd"
containerd config default > /etc/containerd/config.toml
sed  -i '/\[plugins."io.containerd.grpc.v1.cri".registry\]/a '"${registryCredentials}"'' /etc/containerd/config.toml
sed  -i '/\[plugins."io.containerd.grpc.v1.cri".registry.mirrors\]/a '"${registryConfig}"'' /etc/containerd/config.toml

echo "Restarting containerd service"
systemctl daemon-reload
systemctl restart containerd
