<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CloudStack.Plugin.AgentShell.AgentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CloudStack.Plugin.AgentShell.AgentSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <applicationSettings>
    <CloudStack.Plugin.AgentShell.AgentSettings>
      <setting name="cpus" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="private_ip_address" serializeAs="String">
        <value>10.1.1.1</value>
      </setting>
      <setting name="type" serializeAs="String">
        <value>Routing</value>
      </setting>
      <setting name="local_storage_uuid" serializeAs="String">
        <value>5fe2bad3-d785-394e-9949-89786b8a63d2</value>
      </setting>
      <setting name="capabilities" serializeAs="String">
        <value>hvm</value>
      </setting>
      <setting name="Settingcpuspeed" serializeAs="String">
        <value>2130</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>8250</value>
      </setting>
      <setting name="memory" serializeAs="String">
        <value>34359738368</value>
      </setting>
      <setting name="host" serializeAs="String">
        <value>camldonall01.citrite.net</value>
      </setting>
      <setting name="pod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="gateway_ip_address" serializeAs="String">
        <value>10.70.176.1</value>
      </setting>
      <setting name="cluster" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="zone" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="local_storage_path" serializeAs="String">
        <value>E:\Disks\Disks</value>
      </setting>
      <setting name="workers" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="private_ip_netmask" serializeAs="String">
        <value>255.255.240.0</value>
      </setting>
      <setting name="RootDeviceReservedSpaceBytes" serializeAs="String">
        <value>4294967296</value>
      </setting>
      <setting name="hyperv_plugin_root" serializeAs="String">
        <value>..\..\..\..\..\</value>
      </setting>
      <setting name="RootDeviceName" serializeAs="String">
        <value>e:\</value>
      </setting>
      <setting name="dom0MinMemory" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="private_mac_address" serializeAs="String">
        <value>101F742C6B88</value>
      </setting>
    </CloudStack.Plugin.AgentShell.AgentSettings>
  </applicationSettings>
  <userSettings>
    <CloudStack.Plugin.AgentShell.AgentSettings>
      <setting name="local_secondary_storage_path" serializeAs="String">
        <value>c:\Secondary</value>
      </setting>
      <setting name="local_storage_path" serializeAs="String">
        <value>E:\Disks\Disks</value>
      </setting>
      <setting name="testLocalStoreUUID" serializeAs="String">
        <value>5fe2bad3-d785-394e-9949-89786b8a63d2</value>
      </setting>
      <setting name="testLocalStorePath" serializeAs="String">
        <value>.\var\test\storagepool</value>
      </setting>
      <setting name="testS3Bucket" serializeAs="String">
        <value>cshv3eu</value>
      </setting>
      <setting name="testS3Endpoint" serializeAs="String">
        <value>s3.amazonaws.com</value>
      </setting>
      <setting name="testS3AccessKey" serializeAs="String">
        <value>testS3AccessKey</value>
      </setting>
      <setting name="testS3SecretKey" serializeAs="String">
        <value>testS3SecretKey</value>
      </setting>
      <setting name="testS3TemplateName" serializeAs="String">
        <value>206-2-73592258-559a-3b38-8f66-b667aab143eb</value>
      </setting>
      <setting name="testCifsTemplateName" serializeAs="String">
        <value>206-2-73592258-559a-3b38-8f66-b667aab143eb</value>
      </setting>
      <setting name="testCifsUrl" serializeAs="String">
        <value>cifs://10.1.1.1/secondary?user\u003dadministrator\u0026password\u003d1pass%40word1</value>
      </setting>
      <setting name="testCifsPath" serializeAs="String">
        <value>template/tmpl/2/201/6dda6631-4daa-3150-a49a-d5a4b0a4c4b6.vhd</value>
      </setting>
    </CloudStack.Plugin.AgentShell.AgentSettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
