#instance=AH
#private.macaddr.start=00:16:3e:77:01:01
#private.ipaddr.start=192.168.166.128

#instance=KM
#private.macaddr.start=00:16:3e:77:02:01
#private.ipaddr.start=192.168.167.128

#instance=KY
#private.macaddr.start=00:16:3e:77:03:01
#private.ipaddr.start=192.168.168.128

#instance=WC
#private.macaddr.start=00:16:3e:77:04:01
#private.ipaddr.start=192.168.169.128

#instance=CV
#private.macaddr.start=00:16:3e:77:05:01
#private.ipaddr.start=192.168.170.128

#instance=KS
#private.macaddr.start=00:16:3e:77:06:01
#private.ipaddr.start=192.168.171.128

#instance=ES
#private.macaddr.start=00:16:3e:77:07:01
#private.ipaddr.start=192.168.172.128

#instance=RC
#private.macaddr.start=00:16:3e:77:08:01
#private.ipaddr.start=192.168.173.128

#instance=AX
#private.macaddr.start=00:16:3e:77:09:01
#private.ipaddr.start=192.168.174.128

private.macaddr.start=@private.macaddr.start@
private.ipaddr.start=@private.ipaddr.start@
