#!/bin/bash -e
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

if [[ -f "/home/cloud/success" ]]; then
echo "Already provisioned!"
exit 0
fi

if [[ "$PATH" != *:/opt/bin && "$PATH" != *:/opt/bin:* ]]; then
  export PATH=$PATH:/opt/bin
fi

MAX_SETUP_CRUCIAL_CMD_ATTEMPTS=3
crucial_cmd_attempts=1
while true; do
  if (( "$crucial_cmd_attempts" > "$MAX_SETUP_CRUCIAL_CMD_ATTEMPTS" )); then
    echo "Error: kubeadm init failed!"
    exit 1
  fi
  retval=0
  set +e
  kubeadm init --token {{ k8s_control_node.cluster.token }} --token-ttl 0 {{ k8s_control_node.cluster.initargs }} --cri-socket /run/containerd/containerd.sock
  retval=$?
  set -e
  if [ $retval -eq 0 ]; then
    break;
  fi
  crucial_cmd_attempts=$[$crucial_cmd_attempts + 1]
done

K8S_CONFIG_SCRIPTS_COPY_DIR=/tmp/k8sconfigscripts/
K8S_HELM=/tmp/k8shelm/

if [[ $(systemctl is-active setup-kube-system) != "inactive" ]]; then
  echo "setup-kube-system is running!"
  exit 1
fi
if [[ "$PATH" != *:/opt/bin && "$PATH" != *:/opt/bin:* ]]; then
  export PATH=$PATH:/opt/bin
fi
export KUBECONFIG=/etc/kubernetes/admin.conf

mkdir -p /root/.kube
cp -i /etc/kubernetes/admin.conf /root/.kube/config
chown $(id -u):$(id -g) /root/.kube/config
echo export PATH=\$PATH:/opt/bin >> /root/.bashrc

if [ -d "$K8S_CONFIG_SCRIPTS_COPY_DIR" ]; then
  ### Network, dashboard configs available offline ###
  echo "Offline configs are available!"
  /opt/bin/kubectl apply -f ${K8S_CONFIG_SCRIPTS_COPY_DIR}/dashboard.yaml
  rm -rf "${K8S_CONFIG_SCRIPTS_COPY_DIR}"
else
  /opt/bin/kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.0-beta6/aio/deploy/recommended.yaml
fi

helm upgrade --install cilium ${K8S_HELM}/charts/cilium-*.tgz -f ${K8S_HELM}/overrides/cilium-overrides.yaml -n kube-system
/bin/rm -rf ${K8S_HELM}

/opt/bin/kubectl create rolebinding admin-binding --role=admin --user=admin || true
/opt/bin/kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user=admin || true
/opt/bin/kubectl create clusterrolebinding kubernetes-dashboard-ui --clusterrole=cluster-admin --serviceaccount=kubernetes-dashboard:kubernetes-dashboard || true

sudo touch /home/cloud/success
echo "true" > /home/cloud/success
