// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.accounts-wizard table {
  width: 100%;
  margin: 0;
  table-layout: fixed;
}

.accounts-wizard .ui-button {
  display: inline-block !important;
  float: none !important;
}

.accounts-wizard td:last-child {
  border: 0;
}

.accounts-wizard tbody tr:nth-child(even) {
  background: #dfe1e3;
}

.accounts-wizard tbody tr:nth-child(odd) {
  background: #f2f0f0;
}

.accounts-wizard .content {
  display: inline-block;
}

.accounts-wizard .content td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.accounts-wizard .content td.select,
.accounts-wizard .content th.select {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  border-right: 1px solid #bfbfbf;
  background: none;
}

.accounts-wizard .content .select input {
  width: auto;
  height: auto;
  margin: 18px 0 0 24px;
  padding: 0;
}

.accounts-wizard .content:last-child {
  margin-left: 14px;
}

.accounts-wizard table thead th:first-child {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
}

.accounts-wizard .input-area {
  width: 320px;
  font-size: 13px;
  color: #485867;
  text-shadow: 0 2px 1px #ffffff;
}

.ldap-account-choice {
  border: 0;
  border-radius: 0 0 0 0 !important;
}

.manual-account-details .name {
  float: left;
  width: 100px;
  margin-top: 2px;
  padding-bottom: 10px;
}

.manual-account-details {
  height: auto !important;
  overflow: visible !important;
  overflow-x: visible !important;
}

.manual-account-details label.error {
  display: block;
  font-size: 10px;
}

.manual-account-details .value {
  float: left;
}

.manual-account-details .form-item:after {
  visibility: hidden;
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
}

.manual-account-details .form-item {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.manual-account-details select,
.manual-account-details input {
  width: 150px;
}

.manual-account-details input {
  border: 1px solid #afafaf;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: #f6f6f6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.manual-account-details > *:nth-child(even) {
  background: #dfe1e3;
}

.manual-account-details > *:nth-child(odd) {
  background: #f2f0f0;
}

.manual-account-details .value {
  display: inline-block;
}
