// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#browser {
  position: relative;
  float: left;
  width: 994px;
  max-width: 994px;
  height: 100%;
  overflow: hidden;
}

#browser.panel-highlight {
  overflow: visible;
}

#browser div.panel {
  height: 100%;
  border-right: 1px solid #a5a5a5;
  background-color: #f7f7f7;
  overflow: visible;
}

#browser div.panel.panel-highlight-wrapper {
  display: inline-block;
  position: absolute;
  /*+border-radius:9px;*/
  z-index: $z-index-panel-highlight;
  height: 542px;
  margin-top: 7px;
  padding: 78px 0 67px 51px;
  border: 3px solid #ffffff;
  /*+box-shadow:0px 0px 12px #000000;*/
  border-radius: 9px;
  box-shadow: 0 0 12px #000000;
  background: none;
  overflow: hidden;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  -o-box-shadow: 0 0 12px #000000;
}

#browser div.panel.panel-highlight-wrapper .panel {
  top: 3px;
  left: 20px !important;
  height: 631px;
  overflow: hidden;
}

.project-view #browser div.panel {
  background: #6d747d;
}

.ui-tabs div.ui-tabs-panel {
  position: relative;
}

.project-view .ui-tabs div.ui-tabs-panel {
  background: #dbdddf;
}

#browser div.panel .shadow {
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background: url('../images/bg-panel-shadow.png') repeat-y 0 0;
}

#browser.panel-highlight {
  overflow: visible;
}

#browser.panel-highlight .panel.highlighted {
  /*+box-shadow:0px 10px 11px #5C5C5C;*/
  margin-top: 21px;
  border: 5px solid #ffffff;
  border-radius: 6px;
  box-shadow: 0 10px 11px #5c5c5c;
  -moz-box-shadow: 0 10px 11px #5c5c5c;
  /*+border-radius:6px;*/
  -webkit-box-shadow: 0 10px 11px #5c5c5c;
  -o-box-shadow: 0 10px 11px #5c5c5c;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}

#browser.panel-highlight .panel > .shadow {
  display: none;
}

#browser .highlight-arrow {
  position: absolute;
  top: -22px;
  left: 80px;
  width: 24px;
  height: 19px;
  background: url('../images/sprites.png') -590px -1295px;
}
