// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.panel .add-first-network-resource {
  margin: 37px;
  padding: 19px 19px 79px;
  border: 1px solid #ececec;
  border-radius: 12px;
  /*+border-radius:12px;*/
  border-radius: 12px 12px 12px 12px;
  background: #ffffff;
  font-size: 14px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -khtml-border-radius: 12px;
}

.panel .add-first-network-resource form {
  display: inline-block;
  height: 442px;
  overflow: auto;
  overflow-x: hidden;
}

.panel .add-first-network-resource .title {
  margin: 0 0 17px;
  font-size: 26px;
  /*+text-shadow:0px 1px 2px #BCBCBC;*/
  color: #3984d1;
  text-shadow: 0 1px 2px #bcbcbc;
  -moz-text-shadow: 0 1px 2px #bcbcbc;
  -webkit-text-shadow: 0 1px 2px #bcbcbc;
  -o-text-shadow: 0 1px 2px #bcbcbc;
}

.panel .add-first-network-resource .message {
  display: block;
  margin: 0 0 30px;
  color: #545151;
}

.panel .add-first-network-resource .form-item {
  display: inline-block;
  position: relative;
  width: 409px;
  margin: 0 0 2px;
  padding: 5px;
}

.panel .add-first-network-resource .form-item label {
  float: left;
  width: 109px;
  text-align: right;
}

.panel .add-first-network-resource .form-item label.error {
  display: none;
  position: absolute;
  top: 30px;
  left: 137px;
  font-size: 10px;
}

.panel .add-first-network-resource .form-item input {
  float: right;
  /*+border-radius:6px;*/
  border: 1px solid #b7b7b7;
  border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
  font-size: 16px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.panel .add-first-network-resource .form-item input[type='checkbox'] {
  float: right;
  margin: 0 266px 0 0;
}

.panel .add-first-network-resource .form-item input[type='text'],
.panel .add-first-network-resource .form-item input[type='password'],
.panel .add-first-network-resource .form-item input[type='text'],
.panel .add-first-network-resource .form-item select {
  width: 276px;
}

.panel .add-first-network-resource .form-item select {
  width: 280px;
  margin: 0 0 0 20px;
}

.panel .add-first-network-resource .button {
  clear: both;
  margin: 29px 0 0;
  padding: 11px 23px 11px 21px;
  border: 1px solid #858585;
  /*+border-radius:10px;*/
  border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  background: url('../images/bg-gradients.png') repeat-x 0 -221px;
  color: #ffffff;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  /*[empty]position:;*/
}

.panel .add-first-network-resource .multi-array {
  display: inline-block;
  float: left;
  clear: both;
  width: 383px;
  margin: 3px 0 10px;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 7px;
  /*+border-radius:7px;*/
  border-radius: 7px 7px 7px 7px;
  background: #ffffff;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
}

.panel .add-first-network-resource .multi-array .item {
  float: left;
  max-width: 155px;
  margin: 6px 0 0 24px;
}

.panel .add-first-network-resource .multi-array .item .name {
  float: left;
}

.panel .add-first-network-resource .multi-array .item .value {
  float: right;
  margin: 0 0 0 13px;
}

.panel .add-first-network-resource .multi-array .item .value input {
  margin: 0;
}
