// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

//TODO refactoring for all "list-view" files
.ui-dialog .list-view {
  height: 515px !important;
  overflow: auto;
  overflow-x: hidden;
}

.ui-dialog .list-view .toolbar {
  top: 50px;
  width: 100%;
}

div.panel.ui-dialog div.list-view div.fixed-header {
  z-index: $z-index-standard;
  top: 55px;
  left: 35px;
  width: 759px;
  height: 49px;
  margin: 0;
  background-color: #ffffff;
}

.ui-dialog .list-view table {
  top: 9px !important;
}

.ui-dialog.panel div.list-view div.data-table table {
  width: 778px;
  margin-top: 39px;
}

.ui-dialog.panel div.list-view div.data-table table tbody tr.multi-edit-selected {
  background: #c3e0fc;
}

/*List-view: subselect dropdown*/
.list-view .subselect {
  display: block;
  float: left;
  clear: both;
  width: 173px;
  margin: 0 0 0 -3px;
  padding: 0;
  border: 1px solid #a8a7a7;
  border-radius: 2px;
  background: #e8e8e8;
  /*+border-radius:2px;*/
  cursor: default;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
}

.list-view .subselect:hover span {
  color: initial;
}

.list-view .subselect span {
  margin: 4px 0 0 12px;
  cursor: default;
}

.list-view .subselect span.info {
  background: none;
  font-size: 10px;
  white-space: nowrap;
}

.list-view .subselect span:hover {
  color: initial;
}

.list-view .subselect select {
  width: 175px;
  margin: 0 0 0 -11px;
  font-size: 10px;
}
