// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.multi-wizard {
  display: inline-block;
  width: 500px;
  height: 550px;
}

/*** Progress bar*/
.multi-wizard .progress {
  font-size: 11px;
  color: #ffffff;
}

.multi-wizard .progress ul {
  float: left;
  clear: both;
  height: 40px;
}

/*[clearfix]*/
.multi-wizard .progress ul li {
  display: flex;
  position: relative;
  float: left;
  align-items: center;
  width: 128px;
  height: 40px;
  justify-content: center;
}

.multi-wizard.instance-wizard .progress ul li {
  width: 102px;
  margin-left: 8px;
}

.multi-wizard .progress ul li.active {
  border-radius: 5px;
  background: url('../images/bg-gradients.png') 0 -221px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.multi-wizard .progress ul li span {
  position: relative;
  width: 62px;
  color: #000000;
  text-align: center;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

.multi-wizard .progress ul li span.arrow {
  display: none;
  position: absolute;
  /*+placement:displace 74px -3px;*/
  z-index: $z-index-toolbox-info;
  width: 17px;
  height: 15px;
  margin-top: -3px;
  margin-left: 74px;
  background: url('../images/icons.png') no-repeat 0 -422px;
}

.multi-wizard.instance-wizard .progress ul li span.arrow {
  left: 19px;
}

.multi-wizard .progress ul li.active span.arrow {
  background-position: -1px -396px;
}

.multi-wizard .progress ul li span.number {
  width: auto;
  background: transparent;
  font-size: 27px;
  font-weight: bold;
  color: #bbbbbb;
}

.multi-wizard .progress ul li.active span {
  /*+text-shadow:0px -1px 1px #004AFF;*/
  color: #ffffff;
  text-shadow: 0 -1px 1px #004aff;
  -moz-text-shadow: 0 -1px 1px #004aff;
  -webkit-text-shadow: 0 -1px 1px #004aff;
  -o-text-shadow: 0 -1px 1px #004aff;
}

/*** Content*/
.multi-wizard .main-desc {
  position: relative;
  top: 25px;
  left: 3px;
  /*+placement:shift 3px 25px;*/
  width: 437px;
  font-size: 11px;
  line-height: 17px;
  text-align: left;
}

.multi-wizard .review .main-desc,
.multi-wizard .select-template .main-desc {
  left: 0;
  margin-left: 10px;
}

.multi-wizard .content {
  display: inline-block;
  float: left;
  width: 440px;
  min-height: 366px;
  margin: 24px 0 0;
  /*+border-radius:4px;*/
  padding-bottom: 8px;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard .select-security-group .content {
  height: 366px;
}

.multi-wizard .content .section {
  width: 416px;
  margin: 16px auto auto;
  border: 1px solid #e0dfdf;
  background: #e9e9e9;
  font-size: 12px;
  color: #505a62;
  text-align: left;
  overflow: hidden;
}

.multi-wizard.instance-wizard .service-offering .content {
  width: 463px;
  max-height: 365px;
  overflow: auto;
  overflow-x: hidden;
}

.multi-wizard .content .section .select-area {
  width: 334px;
  height: 45px;
  margin: 9px auto auto;
  background: #d6d6d6;
}

.multi-wizard .content .section .select-area .desc {
  float: right;
  width: 155px;
  padding: 9px 0 0;
  font-size: 12px;
  color: #989898;
  text-align: left;
}

.multi-wizard .content .section .select-area input {
  float: left;
  margin: 0;
  padding: 9px;
}

.multi-wizard .content .section .select-area select {
  float: left;
  width: 158px;
  /*+border-radius:4px;*/
  margin: 11px 0 0 14px;
  padding: 0;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard .content .section .select-area input[type='radio'],
.multi-wizard.instance-wizard .content .section.select-template input[type='radio'] {
  margin: 14px 16px 0;
}

.multi-wizard .content .section .select-area label {
  float: left;
  margin: 12px 12px 12px 2px;
  font-size: 18px;
  color: #62798e;
  /*+text-shadow:0px 2px 2px #EFEFEF;*/
  text-align: left;
  text-shadow: 0 2px 2px #efefef;
  -moz-text-shadow: 0 2px 2px #efefef;
  -webkit-text-shadow: 0 2px 2px #efefef;
  -o-text-shadow: 0 2px 2px #efefef;
}

.multi-wizard .content .section .select-area label.error {
  margin: 2px 0 0 14px;
  font-size: 10px;
  color: #ff0000;
}

.multi-wizard .content .section p {
  padding: 0 0 0 40px;
  font-size: 11px;
  color: #808080;
  text-align: left;
}

.multi-wizard .content .section h3 {
  margin: 0;
  padding: 14px 14px 3px 39px;
  font-weight: bold;
  color: #62798e;
  /*+text-shadow:0px 1px 1px #EFEFEF;*/
  text-align: left;
  text-shadow: 0 1px 1px #efefef;
  -moz-text-shadow: 0 1px 1px #efefef;
  -webkit-text-shadow: 0 1px 1px #efefef;
  -o-text-shadow: 0 1px 1px #efefef;
}

.multi-wizard .content .section.select-zone {
  height: 117px;
}

.multi-wizard .content .section.select-template {
  height: 206px;
}

.multi-wizard .content.tab-view {
  margin: 31px 0 0;
  padding: 0 8px;
  background: transparent;
}

.multi-wizard .content.tab-view div.ui-tabs-panel {
  clear: both;
  width: 98%;
  height: 72% !important;
  height: 591px;
  border: 1px solid #e2dddd;
  border-radius: 0 3px 10px 10px;
  background: #ffffff;
  /*+border-radius:0 3px 10px 10px;*/
  overflow: auto;
  overflow-x: hidden;
  -moz-border-radius: 0 3px 10px 10px;
  -webkit-border-radius: 0 3px 10px 10px;
  -khtml-border-radius: 0 3px 10px 10px;
}

.multi-wizard .content.tab-view div.ui-tabs-panel.ui-tabs-hide {
  display: none;
}

.multi-wizard.instance-wizard .select-iso .content .select .hypervisor {
  display: block;
  position: relative;
  float: left;
  clear: both;
  /*+placement:shift 0px -6px;*/
  top: -6px;
  left: 0;
  margin: 12px 0 0 58px;
}

.multi-wizard.instance-wizard .select-iso .content .select .hypervisor select {
  width: 160px;
}

.multi-wizard.instance-wizard .select-iso .content .select .hypervisor label {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 9px;
  /*+placement:shift;*/
  margin-left: 2px;
  font-size: 11px;
  color: #000000;
}

.multi-wizard.instance-wizard .select-iso .wizard-step-conditional.select-iso .content .select.selected {
  height: 90px;
}

/*** UI widgets*/
.multi-wizard .ui-tabs ul.ui-tabs-nav {
  display: block;
  display: inline-block;
  position: relative;
  z-index: $z-index-install-wizard2;
  top: 5px;
  /*+placement:shift -6px 5px;*/
  left: -6px;
  height: 41px;
  margin-top: 7px;
  border: 0;
  background: transparent;
  overflow: hidden;
}

.multi-wizard .select-iso .ui-tabs ul {
  float: left;
  top: 1px;
  left: 0;
}

.multi-wizard .ui-tabs li.ui-state-active {
  background: #ffffff;
}

.multi-wizard .ui-tabs li.ui-state-default a {
  padding-right: 0;
  padding-left: 0;
}

.multi-wizard .ui-slider {
  float: left;
  width: 136px;
  margin: 8px -2px 3px;
  padding: 0;
  background: url('../images/bg-gradients.png') 0 -307px !important;
}

.multi-wizard.instance-wizard .ui-slider {
  margin: 8px 0 0 2px;
  padding: 7px 0 0 8px;
}

.multi-wizard .ui-slider .ui-slider-handle {
  display: block;
  position: relative;
  top: -0.5rem;
  width: 18px;
  height: 18px;
  margin-left: -0.9rem;
  border: 0;
  outline: none;
  background: url('../images/buttons.png') -622px -274px;
}

/*** Select container*/
.multi-wizard .select-container {
  height: 352px;
  margin: 10px 10px 0;
  border: 1px solid #d9dfe1;
  border-radius: 4px;
  /*+border-radius:4px;*/
  border-radius: 4px 4px 4px 4px;
  overflow: auto;
  overflow-x: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard .select-container p {
  padding: 11px;
  background: #dfdfdf;
  color: #424242;
}

.multi-wizard .select-container .select {
  display: inline-block;
  float: left;
  width: 100%;
  min-height: 35px;
  margin: -1px 0 0;
  padding: 0 0 14px;
  border: 0;
  background: #ffffff;
  font-size: 13px;
  text-align: left;
}

.multi-wizard .select-container .select.odd {
  background: #ebeff4;
}

.multi-wizard .select-container .select input {
  float: left;
  margin: 21px 24px 0;
}

.multi-wizard .select-container .select .select-desc {
  display: inline-block;
  float: left;
  clear: none;
  max-width: 335px;
  min-height: 28px;
  margin: 21px 0 0;
  overflow: hidden;
}

.multi-wizard .select-container .select .select-desc .name {
  margin: 0 0 5px;
  font-weight: bold;
}

.multi-wizard .select-container .select .select-desc .desc {
  display: inline-block;
  font-size: 11px;
  color: #808080;
  /*[empty]height:;*/
}

/*** Buttons*/
.multi-wizard .buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.multi-wizard .buttons .button {
  width: 88px;
  height: 16px;
  padding: 11px 0 8px;
  /*+box-shadow:0px 1px 1px #FFFFFF;*/
  border: 1px solid #78818f;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px #ffffff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -moz-box-shadow: 0 1px 1px #ffffff;
  /*+border-radius:4px;*/
  -webkit-box-shadow: 0 1px 1px #ffffff;
  -o-box-shadow: 0 1px 1px #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard .buttons .button.next {
  /*+placement:float-right 77px 0px;*/
  position: relative;
  float: right;
  top: 0;
  left: 77px;
  border: 1px solid #0069cf;
  /*+text-shadow:0px -1px 1px #465259;*/
  border-top: 1px solid #0070fc;
  background: #0049ff url('../images/gradients.png') 0 -317px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 -1px 1px #465259;
  -moz-text-shadow: 0 -1px 1px #465259;
  -webkit-text-shadow: 0 -1px 1px #465259;
  -o-text-shadow: 0 -1px 1px #465259;
}

.multi-wizard .buttons .button.next:hover {
  border: 1px solid #0035b8;
  border-bottom: 1px solid #0062fa;
  background-position: -3px -368px;
}

.multi-wizard .buttons .button.next.final {
  width: 115px;
  margin: 3px 0 0;
  padding: 4px 0 9px;
}

.multi-wizard .buttons .button.next.final span {
  position: relative;
  /*+placement:shift 0px 5px;*/
  top: 5px;
  left: 0;
  padding: 5px 0 5px 30px;
  background: url('../images/icons.png') 0 -349px;
}

.multi-wizard .buttons .button.cancel {
  position: relative;
  /*+placement:float-right -127px 0px;*/
  float: right;
  top: 0;
  left: -127px;
  padding: 14px 0 0 0;
  border: 0;
  /*+border-radius:0;*/
  border-radius: 0;
  border-radius: 0 0 0 0;
  box-shadow: 0 0;
  background: transparent;
  color: #808080;
  text-shadow: 0 1px 1px #ffffff;
  /*+box-shadow:0px 0px;*/
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-box-shadow: 0 0;
  -webkit-box-shadow: 0 0;
  -o-box-shadow: 0 0;
  -moz-box-shadow: 0 0 inherit;
  -webkit-box-shadow: 0 0 inherit;
  -o-box-shadow: 0 0 inherit;
  -moz-box-shadow: inherit;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  -webkit-box-shadow: inherit;
  -o-box-shadow: inherit;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

.multi-wizard .buttons .button.cancel:hover {
  color: #5e5e5e;
}

.multi-wizard .buttons .button.previous {
  margin-left: 27px;
  background: #d6d6d6;
  color: #62798e;
}

.multi-wizard .buttons .button.previous:hover {
  background: #c6c6c6;
}

/** Instance wizard
** Select ISO*/
.multi-wizard.instance-wizard .select-iso .select-container {
  height: 260px;
  margin: 0;
  /*+border-radius:0 0 5px 5px;*/
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -khtml-border-radius: 0 0 5px 5px;
}

/*** Data disk offering*/
.multi-wizard.instance-wizard .content .section {
  margin: 12px 0 15px 8px;
  padding: 9px 0 16px;
}

.multi-wizard.instance-wizard .content .section.no-thanks {
  box-sizing: border-box;
  width: 426px;
}

.multi-wizard.instance-wizard .data-disk-offering .select-container,
.multi-wizard.instance-wizard .sshkeyPairs .select-container {
  height: 300px;
  margin: -7px 6px 0 8px;
  /*+border-radius:6px;*/
  border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group {
  float: left;
  width: 100%;
  margin-top: 12px;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-header {
  height: 17px;
  /*+border-radius:4px;*/
  padding: 6px;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #c2c2c2 0 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard.instance-wizard .disk-select-group.selected .disk-select-header {
  border-radius: 4px 4px 0 0;
  /*+border-radius:4px 4px 0 0;*/
  background: #505050;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-header input {
  float: left;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-header .title {
  float: left;
  padding: 2px;
  font-size: 14px;
}

.multi-wizard.instance-wizard .disk-select-group.selected .disk-select-header .title {
  color: #ffffff;
  /*+text-shadow:0px -1px #000000;*/
  text-shadow: 0 -1px #000000;
  -moz-text-shadow: 0 -1px #000000;
  -webkit-text-shadow: 0 -1px #000000;
  -o-text-shadow: 0 -1px #000000;
}

.multi-wizard.instance-wizard .data-disk-offering .multi-disk-select-container {
  max-height: 257px;
  padding: 13px;
  border: 1px solid #dddbdb;
  background: #e4e4e4;
  overflow: auto;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group .select-container {
  display: none;
  float: left;
  max-height: 114px;
  margin: 0;
  /*+border-radius:0;*/
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group.selected .select-container {
  display: block;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group .select {
  height: 0;
  padding: 0 0 17px;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group.custom-size .section.custom-size {
  display: block !important;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group .select input {
  margin: 13px 12px 12px;
}

.multi-wizard.instance-wizard .data-disk-offering .disk-select-group .select-desc {
  margin: 13px 0 0;
}

.multi-wizard.instance-wizard .data-disk-offering.required .select-container {
  position: relative;
  height: 344px;
  margin-top: 9px !important;
}

.multi-wizard.instance-wizard .custom-slider-container .select-container {
  height: 279px;
}

.multi-wizard.instance-wizard .custom-slider-container .select-container {
  height: 213px;
  margin: -7px 6px 0 8px;
  /*+border-radius:6px;*/
  border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.multi-wizard.instance-wizard .content .section input {
  float: left;
}

.multi-wizard.instance-wizard .content .section input[type='radio'] {
  margin: 8px 2px 0 17px;
}

.multi-wizard.instance-wizard .content .section label {
  display: block;
  float: left;
  margin: 10px 7px 7px;
}

.multi-wizard.instance-wizard .content .section .select-area label {
  margin: 12px 0 0;
}

.multi-wizard.instance-wizard .content .section label.size {
  font-weight: bold;
  color: #647a8e;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

.multi-wizard.instance-wizard .section.custom-size {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 12px 0;
  padding: 7px;
  border-radius: 4px;
  background: #f4f4f4;
}

.multi-wizard.instance-wizard .section.custom-size.custom-disk-size {
  width: 426px;
  margin-left: 8px;
}

.multi-wizard.instance-wizard .section.custom-iops {
  position: relative;
  padding: 7px;
  border-radius: 4px;
  background: #f4f4f4;
}

.multi-wizard.instance-wizard .section.custom-iops-do {
  position: relative;
  box-sizing: border-box;
  width: 426px;
  padding: 7px;
  border-radius: 4px;
  background: #f4f4f4;
}

.multi-wizard.instance-wizard .section.custom-size input[type='radio'] {
  float: left;
}

.multi-wizard.instance-wizard .section.custom-size input[type='text'] {
  float: left;
  width: 28px;
  margin: 6px -1px 0 8px;
}

.multi-wizard.instance-wizard .section.custom-iops input[type='text'] {
  float: left;
  width: 28px;
  margin: 6px -1px 0 8px;
}

.multi-wizard.instance-wizard .section.custom-iops-do input[type='text'] {
  float: left;
  width: 28px;
  margin: 6px -1px 0 8px;
}

.multi-wizard.instance-wizard .section.custom-size label.error {
  position: absolute;
  top: 29px;
  left: 242px;
  font-size: 10px;
}

.instance-wizard .step.data-disk-offering.custom-slider-container .select-container {
  height: 272px;
}

.instance-wizard .step.service-offering.custom-slider-container .select-container {
  height: 272px;
}

.instance-wizard .step.data-disk-offering.custom-iops-do .select-container {
  height: 240px;
}

.instance-wizard .step.data-disk-offering.custom-slider-container.custom-iops-do .select-container {
  height: 176px;
}

.instance-wizard .step.service-offering.required.custom-slider-container .select-container {
  height: 315px;
}

.instance-wizard .step.data-disk-offering.required.custom-slider-container .select-container {
  height: 315px;
}

.instance-wizard .step.data-disk-offering.required.custom-iops-do .select-container {
  height: 295px;
}

.instance-wizard .step.data-disk-offering.required.custom-slider-container.custom-iops-do .select-container {
  height: 223px;
}

.instance-wizard .step.data-disk-offering .custom-iops-do {
  display: none;
}

.instance-wizard .step.data-disk-offering.custom-iops-do .custom-iops-do {
  display: block;
}

.instance-wizard .step.data-disk-offering .custom-iops-do .field {
  float: left;
  width: 30%;
  margin-bottom: 5px;
}

.instance-wizard .step.data-disk-offering .custom-iops-do .field label {
  text-indent: 20px;
}

.instance-wizard .step.data-disk-offering .custom-iops-do .field input {
  width: 88%;
  margin-left: 26px;
}

/*** Compute offering*/
.instance-wizard .step.service-offering.custom-size .select-container {
  height: 235px;
}

.instance-wizard .step.service-offering.custom-iops .select-container {
  height: 235px;
}

.instance-wizard .step.service-offering .custom-size {
  display: none;
}

.instance-wizard .step.service-offering .custom-iops {
  display: none;
}

.instance-wizard .step.service-offering.custom-size .custom-size {
  display: block;
}

.instance-wizard .step.service-offering.custom-iops .custom-iops {
  display: block;
}

.instance-wizard .step.service-offering .custom-size .field {
  float: left;
  width: 30%;
  margin-bottom: 13px;
}

.instance-wizard .step.service-offering .custom-iops .field {
  float: left;
  width: 30%;
  margin-bottom: 13px;
}

.instance-wizard .step.service-offering .custom-size .field label {
  text-indent: 20px;
}

.instance-wizard .step.service-offering .custom-iops .field label {
  text-indent: 20px;
}

.instance-wizard .step.service-offering .custom-size .field input {
  width: 88%;
  margin-left: 26px;
}

.instance-wizard .step.service-offering .custom-size .field label.error {
  position: relative;
  top: 0;
  left: 0;
}

.instance-wizard .step.service-offering .custom-iops .field input {
  width: 88%;
  margin-left: 26px;
}

/*** Network*/
.multi-wizard.instance-wizard .no-network {
  position: absolute;
  z-index: $z-index-standard;
  top: 98px;
  left: 11px;
  width: 773px;
  height: 52px;
  /*+border-radius:5px;*/
  padding: 162px 0 194px;
  border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  background: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.multi-wizard.instance-wizard .no-network p {
  font-size: 22px;
  line-height: 25px;
}

.multi-wizard.instance-wizard .select-network .select table {
  float: left;
  width: 405px;
  margin: 4px 12px 0;
}

.multi-wizard.instance-wizard .select-network .select table thead {
  margin: 0;
  padding: 0;
}

.multi-wizard.instance-wizard .select-network .select table td {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.multi-wizard.instance-wizard .select-network .select table .select-container {
  height: 223px;
  margin: 0;
  border: 0;
}

.multi-wizard.instance-wizard .select-network.no-add-network .select table .select-container {
  height: 282px;
}

.multi-wizard.instance-wizard .select-network .select.new-network table .select-container {
  height: 29px;
  overflow: visible;
}

.multi-wizard.instance-wizard .select-network .select.new-network table .select-container .select {
  position: relative;
  margin: -12px 0 0;
  text-align: right;
}

.multi-wizard.instance-wizard .select-network .select.new-network table .select-container .select select {
  position: relative;
  top: 0;
  /*+placement:shift;*/
  left: 0;
  width: 145px;
  margin: 4px 0 0;
}

.multi-wizard.instance-wizard .select-network .select.new-network {
  margin: -17px 0 0;
}

.multi-wizard.instance-wizard .select-network.no-add-network .select.new-network {
  display: none !important;
}

.multi-wizard.instance-wizard .select-network .main-desc {
  float: left;
  top: 12px;
  left: 12px;
  width: 252px;
}

.multi-wizard.instance-wizard .select-network .select .secondary-input {
  float: right;
  width: 80px;
  height: 48px;
  border-left: 1px solid #d7d7d7;
  font-size: 11px;
  color: #000000;
}

.multi-wizard.instance-wizard .select-network .select.advanced .secondary-input {
  height: 73px;
}

.multi-wizard.instance-wizard .select-network .select .secondary-input input {
  position: relative;
  top: 21px;
  /*+placement:shift 9px 21px;*/
  left: 9px;
  margin: 0 !important;
  padding: 0 !important;
}

.multi-wizard.instance-wizard .select-network .select .secondary-input .name {
  position: relative;
  /*+placement:shift -16px 22px;*/
  float: right;
  top: 22px;
  left: -16px;
}

.multi-wizard.instance-wizard .select-network .select-container .select {
  position: relative;
  float: left;
  width: 100%;
  padding: 0;
}

.multi-wizard.instance-wizard .select-network .select-container .select.advanced {
  height: 74px;
}

.multi-wizard.instance-wizard .select-network .select .advanced-options {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 15px;
  margin-right: 13px;
  background: url('../images/sprites.png') -7px -795px;
  cursor: pointer;
}

.multi-wizard.instance-wizard .select-network .select .advanced-options:hover,
.multi-wizard.instance-wizard .select-network .select.advanced .advanced-options {
  background: url('../images/sprites.png') -32px -795px;
}

.multi-wizard.instance-wizard .select-network .select .specify-ip {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
}

.multi-wizard.instance-wizard .select-network .select.advanced .specify-ip {
  display: block;
}

.multi-wizard.instance-wizard .select-network .select.advanced .specify-ip input {
  width: 138px;
  margin: 0 0 0 15px;
}

.multi-wizard.instance-wizard .select-network .select-container .select input {
  float: left;
  margin: 21px 15px 0;
}

.multi-wizard.instance-wizard .select-network .select-container .select label {
  float: left;
  margin: 4px 0 0 42px;
  font-size: 11px;
  color: #4e6b82;
}

.multi-wizard.instance-wizard .select-network .select-vpc {
  float: left;
  margin: 7px 0 7px 7px;
  padding: 3px;
}

.multi-wizard.instance-wizard .select-network.no-add-network .select-vpc {
  visibility: hidden !important;
}

.multi-wizard.instance-wizard .select-network .select-vpc select {
  width: 124px;
}

.multi-wizard.instance-wizard .select-network .select-vpc label {
  font-size: 10px;
}

/**** New networ*/
.multi-wizard.instance-wizard .select-network .select.new-network .advanced-options {
  /*+placement:shift 379px 15px;*/
  position: relative;
  position: absolute;
  top: 15px;
  left: 379px;
}

.multi-wizard.instance-wizard .select-network .select.new-network .select.advanced {
  position: relative;
  height: 106px;
}

.multi-wizard.instance-wizard .select-network .select.new-network.unselected .select.advanced {
  height: auto;
}

.multi-wizard.instance-wizard .select-network .select.new-network .select.advanced .specify-ip {
  top: 74px;
  left: 29px;
}

.multi-wizard.instance-wizard .select-network .select.new-network .hide-if-selected {
  display: none;
}

.multi-wizard.instance-wizard .select-network .select.new-network.unselected .hide-if-unselected {
  display: none;
}

.multi-wizard.instance-wizard .select-network .select.new-network.unselected .hide-if-selected {
  display: block;
}

.multi-wizard.instance-wizard .select-network .select.new-network input {
  margin-top: 24px;
}

.multi-wizard.instance-wizard .select-network .select.new-network .field {
  /*+placement:shift 41px 21px;*/
  position: relative;
  position: absolute;
  top: 21px;
  left: 41px;
  font-size: 11px;
  color: #000000;
}

.multi-wizard.instance-wizard .select-network .select.new-network .field .name {
  float: left;
  width: 99px;
  padding: 3px 0 0;
  /*[empty]display:;*/
}

.multi-wizard.instance-wizard .select-network .select.new-network .field .value {
  float: left;
}

.multi-wizard.instance-wizard .select-network .select.new-network .field .value input {
  width: 138px;
  margin: 0 0 0 11px;
}

.multi-wizard.instance-wizard .select-network .select.new-network label.error {
  display: none !important;
}

.multi-wizard.instance-wizard .select-network .select.new-network .secondary-input {
  width: 97px;
  padding: 13px 0 17px;
}

.multi-wizard.instance-wizard .select-network .select.new-network .secondary-input .name {
  margin: 0 17px 0 0;
}

.multi-wizard.instance-wizard .select-network .select.new-network .select-desc {
  width: 255px;
}

.multi-wizard.instance-wizard .select-network .select-container .select .select-desc .desc {
  float: left;
  max-width: 113px;
  font-size: 11px;
  color: #808080;
}

.multi-wizard.instance-wizard .select-network .select-container .select .select-desc .name {
  float: left;
  width: 116px;
  margin: 0 16px 0 0;
  font-size: 11px;
  font-weight: normal;
  color: #000000;
}

.multi-wizard.instance-wizard .select-network .select.new-network .select-desc .name {
  width: 99px;
  margin: 4px 0 0;
}

.multi-wizard.instance-wizard .select-network .select.new-network.unselected .select-desc .name {
  color: #808080;
}

/*** Confirmation*/
.multi-wizard .review .select-container .select {
  height: 35px;
  padding: 0;
}

.multi-wizard .review .select-container .select .name {
  float: left;
  width: 127px;
  margin: 13px 22px 0 14px;
  font-size: 11px;
}

.multi-wizard .review .select-container .select .value {
  float: left;
  width: 136px;
  margin: 9px 21px 0;
}

.multi-wizard .review .select-container .select .value span {
  font-size: 10px;
}

.multi-wizard .review .select-container .select .edit {
  float: right;
  height: 18px;
  margin: 11px 20px 0 0;
  padding: 0 0 0 20px;
  background: url('../images/icons.png') -10px -452px;
  cursor: pointer;
}

.multi-wizard .review .select-container .select.odd .edit a {
  background: #ebeff4;
}

.multi-wizard .review .select-container .select .edit a {
  padding: 5px 0 8px;
  background: #ffffff;
  font-size: 10px;
  color: #0000ff;
  text-decoration: none;
}

.multi-wizard .review .select-container .select input,
.multi-wizard .review .select-container .select select {
  float: left;
  width: 151px;
  margin: 0;
}

/*** Diagram*/
.multi-wizard.instance-wizard .diagram {
  position: absolute;
  top: 109px;
  left: 465px;
  width: 1px;
  height: 502px;
}

.multi-wizard.instance-wizard .diagram .part {
  background: url('../images/instance-wizard-parts.png') no-repeat 0 0;
}

.multi-wizard.instance-wizard .diagram .part.zone-plane {
  position: absolute;
  width: 354px;
  height: 117px;
  /*+placement:displace -38px 259px;*/
  margin-top: 259px;
  background-position: -38px -55px;
}

.multi-wizard.instance-wizard .diagram .part.computer-tower-front {
  position: absolute;
  width: 95px;
  height: 254px;
  /*+placement:displace 44px 92px;*/
  margin-top: 92px;
  margin-left: 44px;
  background-position: -54px -210px;
}

.multi-wizard.instance-wizard .diagram .part.computer-tower-back {
  position: absolute;
  width: 194px;
  height: 271px;
  /*+placement:displace 138px 74px;*/
  margin-top: 74px;
  margin-left: 138px;
  background-position: -148px -192px;
}

.multi-wizard.instance-wizard .diagram .part.os-drive {
  position: absolute;
  width: 194px;
  height: 86px;
  /*+placement:displace 138px 74px;*/
  margin-top: 74px;
  margin-left: 138px;
  background-position: -348px -192px;
}

.multi-wizard.instance-wizard .diagram .part.cpu {
  position: absolute;
  width: 194px;
  height: 49px;
  /*+placement:displace 138px 156px;*/
  margin-top: 156px;
  margin-left: 138px;
  background-position: -344px -278px;
}

.multi-wizard.instance-wizard .diagram .part.hd {
  position: absolute;
  width: 194px;
  height: 44px;
  /*+placement:displace 138px 208px;*/
  margin-top: 208px;
  margin-left: 138px;
  background-position: -344px -331px;
}

.multi-wizard.instance-wizard .diagram .part.network-card {
  position: absolute;
  width: 194px;
  height: 44px;
  /*+placement:displace 138px 260px;*/
  margin-top: 260px;
  margin-left: 138px;
  background-position: -344px -380px;
}

/** Add zone wizard*/
.multi-wizard.zone-wizard {
  display: block;
  height: 675px;
}

.multi-wizard.zone-wizard ul.subnav {
  position: relative;
  /*+placement:shift 30px 104px;*/
  position: absolute;
  top: 104px;
  left: 30px;
  text-align: left;
  list-style: disc inside;
}

.multi-wizard.zone-wizard ul.subnav li {
  float: left;
  height: 20px;
  margin-right: 34px;
  padding: 0;
  font-size: 12px;
  white-space: nowrap;
  color: #9a9a9a;
  text-transform: uppercase;
  list-style: none;
}

.multi-wizard.zone-wizard ul.subnav li:after {
  content: '>';
  position: relative;
  /*+placement:shift 4px -1px;*/
  top: -1px;
  left: 4px;
  font-size: 13px;
}

.multi-wizard.zone-wizard ul.subnav li.active {
  color: #0000ff;
}

.multi-wizard.zone-wizard .ui-tabs-panel {
  height: 422px;
  overflow: auto;
  overflow-x: hidden;
}

.multi-wizard.zone-wizard ul.ui-tabs-nav {
  /*+placement:shift 0px 0px;*/
  position: relative;
  float: left;
  top: 0;
  left: 0;
  margin: 6px 0 3px 3px;
}

.multi-wizard.zone-wizard .select-container {
  height: 333px;
  overflow: auto;
}

.multi-wizard.zone-wizard .setup-guest-traffic .select-container {
  background: #e9eaeb;
  overflow: hidden;
}

.multi-wizard.zone-wizard .setup-guest-traffic.basic .select-container {
  background: #ffffff;
}

.multi-wizard.zone-wizard .main-desc {
  position: relative;
  float: left;
  /*+placement:shift 0;*/
  top: 0;
  left: 0;
  width: 516px;
  margin: 23px 0 0 6px;
  font-size: 14px;
  font-weight: 100;
  color: #424242;
}

.multi-wizard.zone-wizard .review .main-desc.pre-setup {
  position: relative;
  top: 153px;
  left: 0;
  left: -10px;
  width: 90%;
  margin-left: 50px;
  padding: 1px 0 1px 20px;
  background: url('../images/icons.png') no-repeat 74px -224px;
  /*+placement:shift 0px 153px;*/
  font-size: 18px;
  font-weight: 100;
  color: #2c4159;
  text-align: center;
  /*+text-shadow:0px 1px #FFFFFF;*/
  text-shadow: 0 1px #ffffff;
  -moz-text-shadow: 0 1px #ffffff;
  -webkit-text-shadow: 0 1px #ffffff;
  -o-text-shadow: 0 1px #ffffff;
}

.multi-wizard.zone-wizard .info-desc {
  float: left;
  width: 698px;
  margin: 29px 0 68px 5px;
  padding: 11px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: #ffffff;
  font-size: 11px;
  text-align: left;
  /*+border-radius:4px;*/
  overflow: auto;
  overflow-x: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard.zone-wizard .setup-storage-traffic .info-desc {
  margin-bottom: 10px;
}

.multi-wizard.zone-wizard .setup-public-traffic .info-desc,
.multi-wizard.zone-wizard .setup-guest-traffic .info-desc,
.multi-wizard.zone-wizard .setup-physical-network .info-desc {
  margin-bottom: 12px;
}

.multi-wizard.zone-wizard .info-desc strong {
  font-weight: bold;
}

.multi-wizard.zone-wizard .main-desc em {
  font-weight: bold;
  text-decoration: underline;
}

.multi-wizard.zone-wizard .progress ul li {
  width: 107px;
  margin-left: 7px;
  padding: 0 32px 0 0;
}

.multi-wizard.zone-wizard .progress ul li span {
  width: 102px;
}

.multi-wizard.zone-wizard .progress ul li span.arrow {
  margin: -4px 0 0 109px;
}

.multi-wizard.zone-wizard .select-network .content .section {
  position: relative;
  top: 14px;
  /*+placement:shift 0px 14px;*/
  left: 0;
  width: 665px;
  height: 430px;
}

.multi-wizard.zone-wizard .select-network .content {
  float: none;
  width: 100%;
  height: 461px;
  margin: 7px auto auto;
  padding-bottom: 28px;
}

.multi-wizard.zone-wizard .select-network-model .select-area {
  position: relative;
  width: 586px;
  height: 181px;
}

.multi-wizard.zone-wizard .select-network-model .select-area.basic-zone {
  height: 105px;
}

.multi-wizard.zone-wizard .select-network-model .select-area.advanced-zone {
  height: 233px;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode {
  position: absolute;
  float: left;
  top: 114px;
  left: 9px;
  height: 98px;
  margin: 5px 0 0;
  overflow: hidden;
}



.multi-wizard.zone-wizard .select-network-model .select-area.disabled .isolation-mode {
  /*+opacity:50%;*/
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode .title {
  position: relative;
  top: 2px;
  /*+placement:shift 36px 2px;*/
  left: 36px;
  font-size: 15px;
  color: #5d7387;
}

.multi-wizard.zone-wizard .select-network-model .select-area .desc {
  position: relative;
  top: 12px;
  left: -27px;
  width: 373px;
  height: 70px;
  /*+placement:shift -27px 12px;*/
  padding: 12px 18px 25px;
  border-radius: 7px;
  border-radius: 7px 7px 7px 7px;
  /*+border-radius:7px;*/
  background: #efefef;
  line-height: 19px;
  color: #727272;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
}

.multi-wizard.zone-wizard .select-network-model .select-area.basic-zone .desc {
  padding-bottom: 4px;
}

.multi-wizard.zone-wizard .select-network-model .select-area .desc em {
  font-weight: bold;
  text-decoration: underline;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode .select-area {
  width: 586px;
  height: 61px;
  margin: 0;
  padding: 0 0 9px;
  background: none;
  overflow: hidden;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode .select-area label {
  margin: 24px 0 0 2px;
  font-size: 11px;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode .select-area input {
  margin: 26px 0 11px;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode .select-area input {
  margin: 24px 8px 0 12px !important;
  padding: 0 !important;
}

.multi-wizard.zone-wizard .select-network-model .select-area .isolation-mode .select-area .desc {
  position: relative;
  float: right;
  top: 12px;
  left: -27px;
  width: 388px;
  height: 29px;
  margin-right: 9px;
  /*+placement:shift -27px 12px;*/
  padding: 6px 7px 11px;
  background: #efefef;
  font-size: 11px;
}

.multi-wizard.zone-wizard .content.input-area {
  width: 721px;
  min-height: inherit;
  margin: -50px auto auto 4px;
  overflow: auto;
  overflow-x: hidden;
}

/*** Add physical network -- network form items*/
.multi-wizard.zone-wizard .setup-physical-network .content.input-area {
  position: relative;
  width: 627px;
  height: 396px;
  background: transparent;
}

.multi-wizard.zone-wizard .setup-physical-network .drag-helper-icon {
  position: relative;
  position: absolute;
  top: 303px;
  /*+placement:shift 134px 303px;*/
  left: 134px;
  width: 80px;
  height: 84px;
  background: url('../images/sprites.png') no-repeat 0 -1365px;
}

.multi-wizard.zone-wizard .select-container.multi {
  display: inline-block;
  float: right;
  width: 490px;
  height: auto;
  margin: 6px auto auto;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  /*+border-radius:4px;*/
  border-radius: 4px 4px 4px 4px;
  box-shadow: inset 0 1px 2px #cbcaca;
  background: #f8f6f6;
  overflow: visible;
  -moz-border-radius: 4px;
  /*+box-shadow:inset 0px 1px 2px #CBCACA;*/
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-box-shadow: inset 0 1px 2px #cbcaca;
  -webkit-box-shadow: inset 0 1px 2px #cbcaca;
  -o-box-shadow: inset 0 1px 2px #cbcaca;
  /*[empty]display:;*/
}

.multi-wizard.zone-wizard .select-container.multi.disabled {
  opacity: 0.4;
  /*+opacity:40%;*/
  border: 1px dotted #a7a7a7;
  filter: alpha(opacity=40);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  -moz-opacity: 0.4;
}

.multi-wizard.zone-wizard .select-container.multi .physical-network-icon {
  float: left;
  width: 61px;
  height: 53px;
  border-right: 1px solid #cdcdcd;
  background: url('../images/sprites.png') -109px -1393px;
}

.multi-wizard.zone-wizard .select-container.multi input {
  width: 195px !important;
  margin: 2px 0 0 17px !important;
}

.multi-wizard.zone-wizard .select-container.multi .field {
  width: 425px;
  height: 46px;
  margin-top: -6px;
}

.multi-wizard.zone-wizard .select-container.multi .field .name {
  width: 93%;
  margin-left: 17px;
}

.multi-wizard.zone-wizard .select-container.multi .drop-container {
  position: relative;
  clear: both;
  width: 484px;
  height: 114px;
  border: 3px dashed #bbbfc4;
  /*+border-radius:4px;*/
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: #dae2ec;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard.zone-wizard .select-container.multi .drop-container ul {
  position: absolute;
  /*+border-radius:5px;*/
  top: 4px;
  left: 2px;
  width: 99%;
  height: 94%;
  border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  background: #dae2ec;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.multi-wizard.zone-wizard .select-container.multi .drop-container ul.active {
  background: #dfeaff;
}

.multi-wizard.zone-wizard .select-container.multi .drop-container ul li {
  float: left;
  margin: 2px 17px 0 29px;
}

.multi-wizard.zone-wizard .select-container.multi .drop-container span.empty-message {
  position: relative;
  top: 45px;
  left: 0;
  /*+placement:shift 0px 45px;*/
  font-size: 13px;
  color: #959ba0;
  text-align: center;
}

/*** Add physical network -- traffic type drag area*/
.multi-wizard.zone-wizard .traffic-types-drag-area {
  position: relative;
  float: left;
  top: 0;
  left: 3px;
  /*+border-radius:4px;*/
  width: 96px;
  height: 370px;
  margin: 8px 0 0;
  padding: 0;
  border: 1px solid #dccaca;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: #f0f1f2;
  text-align: left;
  /*+placement:shift 3px 0px;*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area .header {
  margin: 0;
  padding: 8px 0 7px;
  border-bottom: 1px solid #dccaca;
  border-radius: 4px 4px 0 0;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  background: #f8f8f8;
  font-size: 13px;
  font-weight: bold;
  color: #5c5c5c;
  text-align: center;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  /*+border-radius:4px 4px 0 0;*/
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -khtml-border-radius: 4px 4px 0 0;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul {
  width: 100%;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li {
  float: left;
  width: 100%;
  height: 83px;
  margin: 16px 13px 0 0;
  background: transparent;
  font-size: 11px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li.required {
  display: none;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li.required.clone {
  display: block;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li ul.container {
  width: 60px;
  height: 54px;
  margin-left: 16px;
  border-bottom: 1px solid #ffffff;
  /*+border-radius:5px;*/
  border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: inset 0 2px 4px #999696;
  background: #e4e4e4;
  -moz-border-radius: 5px;
  /*+box-shadow:inset 0px 2px 4px #999696;*/
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-box-shadow: inset 0 2px 4px #999696;
  -webkit-box-shadow: inset 0 2px 4px #999696;
  -o-box-shadow: inset 0 2px 4px #999696;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li ul.container li {
  /*+placement:shift 1px 2px;*/
  position: relative;
  top: 2px;
  left: 1px;
}

.multi-wizard.zone-wizard li.traffic-type-draggable {
  display: block;
  z-index: $z-index-multi-wizard2;
  width: 51px;
  height: 51px;
  margin: auto;
  background: transparent url('../images/sprites.png') no-repeat 0 -1161px;
  cursor: move;
}

.multi-wizard.zone-wizard .traffic-types-drag-area li.traffic-type-draggable:hover,
.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable:hover {
  width: 69px !important;
  height: 66px !important;
}

.multi-wizard.zone-wizard .traffic-types-drag-area li.traffic-type-draggable:hover,
.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable:hover {
  /*+placement:shift -2px -4px;*/
  position: relative;
  top: -4px;
  left: -2px;
}

.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable:hover {
  /*+placement:shift -8px -6px;*/
  position: relative;
  top: -6px;
  left: -8px;
  width: 70px !important;
  margin-right: 0;
}

.multi-wizard.zone-wizard li.traffic-type-draggable.disabled {
  /*+opacity:50%;*/
  opacity: 0.5;
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
}

.multi-wizard.zone-wizard .traffic-types-drag-area ul > li.disabled {
  display: none;
}

.multi-wizard.zone-wizard li.traffic-type-draggable.disabled {
  /*+opacity:50%;*/
  opacity: 0.5;
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
}

.multi-wizard.zone-wizard li.traffic-type-draggable.management {
  height: 52px;
  background-position: 0 -1161px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area li.traffic-type-draggable.management:hover,
.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable.management:hover {
  background-position: -11px -1225px;
}

.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable.management:hover {
  margin-right: -1px;
}

.multi-wizard.zone-wizard li.traffic-type-draggable.public {
  width: 53px;
  height: 53px;
  background-position: -54px -1160px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area li.traffic-type-draggable.public:hover,
.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable.public:hover {
  background-position: -87px -1225px;
}

.multi-wizard.zone-wizard li.traffic-type-draggable.guest {
  background-position: -113px -1161px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area li.traffic-type-draggable.guest:hover,
.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable.guest:hover {
  background-position: -166px -1227px;
}

.multi-wizard.zone-wizard li.traffic-type-draggable.storage {
  background-position: -170px -1160px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area li.traffic-type-draggable.storage:hover,
.multi-wizard.zone-wizard .select-container.multi li.traffic-type-draggable.storage:hover {
  background-position: -244px -1224px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li .info {
  float: left;
  width: 100%;
  margin: 5px 0 0 -2px;
  line-height: 14px;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li .info .title {
  font-weight: bold;
  color: #787879;
  text-align: center;
}

.multi-wizard.zone-wizard .traffic-types-drag-area > ul > li .info .desc {
  display: none;
}

/*** Traffic type icon -- edit button*/
.multi-wizard.zone-wizard .traffic-type-draggable .edit-traffic-type {
  display: none;
}

.multi-wizard.zone-wizard .drop-container .traffic-type-draggable > .edit-traffic-type {
  display: block;
  position: relative;
  top: 70px;
  left: -16px;
  width: 59px;
  height: 23px;
  padding: 2px 9px 0 12px;
  /*+border-radius:4px;*/
  border: 1px solid #c4c4c4;
  border-top: 1px solid #ffffff;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: url('../images/bg-gradients.png') 0 -1342px;
  cursor: pointer;
  /*+placement:shift -16px 70px;*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard.zone-wizard .drop-container .traffic-type-draggable > .edit-traffic-type:hover {
  box-shadow: inset 0 -1px 1px #727272;
  background-position: 0 -105px;
  /*+box-shadow:inset 0px -1px 1px #727272;*/
  color: #ffffff;
  -moz-box-shadow: inset 0 -1px 1px #727272;
  -webkit-box-shadow: inset 0 -1px 1px #727272;
  -o-box-shadow: inset 0 -1px 1px #727272;
}

.multi-wizard.zone-wizard .drop-container .traffic-type-draggable > .edit-traffic-type:hover span {
  color: #ffffff;
  /*+text-shadow:0px 1px 1px #000000;*/
  text-shadow: 0 1px 1px #000000;
  -moz-text-shadow: 0 1px 1px #000000;
  -webkit-text-shadow: 0 1px 1px #000000;
  -o-text-shadow: 0 1px 1px #000000;
}

.multi-wizard.zone-wizard .drop-container .traffic-type-draggable:hover > .edit-traffic-type {
  /*+placement:shift -7px 76px;*/
  position: relative;
  top: 76px;
  left: -7px;
}

.multi-wizard.zone-wizard .drop-container .traffic-type-draggable .edit-traffic-type span {
  font-size: 11px;
  font-weight: bold;
  color: #4e73a6;
  text-align: center;
  /*+text-shadow:0px 1px #FFFFFF;*/
  text-shadow: 0 1px #ffffff;
  -moz-text-shadow: 0 1px #ffffff;
  -webkit-text-shadow: 0 1px #ffffff;
  -o-text-shadow: 0 1px #ffffff;
}

.multi-wizard.zone-wizard .drop-container .traffic-type-draggable .edit-traffic-type span.icon {
  float: left;
  padding: 7px 11px 0 7px;
  background: url('../images/sprites.png') -7px -4px;
}

.multi-wizard.zone-wizard .traffic-type-draggable .edit-traffic-type span.name {
  position: relative;
  float: left;
  top: -16px;
  left: -13px;
  width: 76px;
  margin-bottom: -13px;
  /*+border-radius:4px 4px 0 0;*/
  padding: 2px;
  border: 1px solid #c3bcbc;
  border-bottom: 1px solid #d1cdcd;
  border-radius: 4px 4px 0 0;
  /*+placement:shift -13px -16px;*/
  box-shadow: inset 0 1px 1px #f5f4f4;
  background: #dbe1e9;
  font-size: 10px;
  color: #4e5f6f;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  /*+box-shadow:inset 0px 1px 1px #F5F4F4;*/
  -khtml-border-radius: 4px 4px 0 0;
  -moz-box-shadow: inset 0 1px 1px #f5f4f4;
  -webkit-box-shadow: inset 0 1px 1px #f5f4f4;
  -o-box-shadow: inset 0 1px 1px #f5f4f4;
}

.multi-wizard.zone-wizard .traffic-type-draggable .edit-traffic-type:hover span.name {
  background: #c4c3c3;
}

/*** Configure guest network -- tabs*/
.multi-wizard.zone-wizard .setup-guest-traffic .ui-widget-content {
  position: relative;
  top: -7px;
  left: -1px;
  width: 682px;
  /*+placement:shift -1px -7px;*/
  height: 281px;
  border-right: 0;
  border-bottom: 0;
}

.multi-wizard.zone-wizard .setup-guest-traffic ul.ui-tabs-nav {
  position: relative;
  /*+placement:shift -4px -8px;*/
  top: -8px;
  left: -4px;
  width: 456px;
}

.multi-wizard.zone-wizard .setup-guest-traffic .main-desc {
  margin-top: 27px;
  margin-left: -3px;
}

.multi-wizard.zone-wizard .setup-guest-traffic .content {
  margin-top: 2px;
  margin-left: -4px;
}

/*** Multi-edit*/
.multi-wizard.zone-wizard .multi-edit {
  float: left;
  width: 732px;
  margin-left: 0;
}

.multi-wizard.zone-wizard .multi-edit table {
  float: left;
  width: 98%;
}

.multi-wizard.zone-wizard .multi-edit table td,
.multi-wizard.zone-wizard .multi-edit table th {
  padding: 4px;
}

.multi-wizard.zone-wizard .multi-edit table th {
  padding-top: 11px;
  padding-bottom: 8px;
}

.multi-wizard.zone-wizard .multi-edit table input {
  margin: 2px 0 2px -5px;
  padding: 2px 0;
}

.multi-wizard.zone-wizard .multi-edit .data {
  float: left;
  overflow: visible;
}

.multi-wizard.zone-wizard .multi-edit .data-body {
  margin: 0;
}

.multi-wizard.zone-wizard .multi-edit .data-body .data-item {
  float: left;
}

.multi-wizard.zone-wizard .multi-edit .data-body .data-item td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.multi-wizard.zone-wizard .multi-edit .data-body .data-item td span {
  max-width: 91px;
  font-size: 10px;
  text-overflow: ellipsis;
}

/*** Select container fields*/
.multi-wizard.zone-wizard .select-container .field {
  float: left;
  width: 100%;
  padding-bottom: 13px;
}

.multi-wizard.zone-wizard .select-container .field.odd {
  background: #ebeff5;
}

.multi-wizard.zone-wizard .select-container .field .name {
  float: left;
  width: 95px;
  margin: 18px 0 0 12px;
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.multi-wizard.zone-wizard .select-container .field .value {
  position: relative;
  float: left;
}

.multi-wizard.zone-wizard .select-container .field .value span {
  display: block;
  margin: 20px 0 0;
  font-size: 11px;
  color: #052060;
}

.multi-wizard.zone-wizard .select-container .field .value label.error {
  display: block;
  position: absolute;
  position: relative;
  position: absolute;
  float: right;
  top: 31px;
  left: 1px;
  /*+placement:shift 1px 31px;*/
  margin: 2px 0 0 16px;
  font-size: 10px;
  color: #ff0000;
  text-align: left;
}

.multi-wizard.zone-wizard .select-container .field .value input,
.multi-wizard.zone-wizard .select-container .field .value select {
  float: left;
  width: 316px;
  height: 20px;
  margin: 13px 13px 0 18px;
}

.multi-wizard.zone-wizard .select-container .field .range-edit .range-item {
  float: left;
  width: 106px;
}

.multi-wizard.zone-wizard .select-container .field .range-edit .range-item input[type='text'] {
  width: 93px;
  margin: 16px 0 0 17px;
}

.multi-wizard.zone-wizard .select-container .field .value select {
  width: 327px;
  height: 21px;
}

.multi-wizard.zone-wizard .select-container .field .value input[type='checkbox'] {
  display: block;
  float: left;
  width: 13px;
}

.multi-wizard.zone-wizard .select-container .field .value.multi-range input {
  float: left;
  width: 137px;
}

.multi-wizard.zone-wizard .select-container .field .value.multi-range span {
  float: left;
  margin: 13px 0 0;
}

.multi-wizard.zone-wizard .select-container .field .select-array {
  display: inline-block;
  width: 360px;
}

/*[clearfix]*/
.multi-wizard.zone-wizard .select-container .field .select-array-item {
  float: left;
  width: 175px;
  height: 34px;
}

div.toolbar,
.multi-wizard.zone-wizard .select-container .field .select-array-item {
  display: block;
}

div.toolbar:after,
.multi-wizard.zone-wizard .select-container .field .select-array-item:after {
  visibility: hidden;
  content: '.';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}

.multi-wizard.zone-wizard .select-container .field .select-array-item .name {
  float: right;
  width: 127px;
  margin: 11px 0 0;
  padding: 0;
}

.multi-wizard.zone-wizard .select-container .field .select-array-item .value {
  float: right;
  width: 41px;
  margin: 0;
  padding: 0;
}

.multi-wizard.zone-wizard .select-container .field .select-array-item .value input {
  width: inherit;
  margin: 12px 0 0 11px;
}

.multi-wizard.zone-wizard .setup-physical-network .button.add.new-physical-network {
  visibility: hidden;
  float: right;
  margin: 14px 6px 0 0;
  padding: 6px 20px 6px 11px;
  border: 1px solid #ada7a7;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  /*+border-radius:4px;*/
  background: #808080 url('../images/bg-gradients.png') 0 -264px;
  font-size: 12px;
  color: #475765;
  text-shadow: 0 1px 1px #ffffff;
  cursor: pointer;
  -moz-border-radius: 4px;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

.multi-wizard.zone-wizard .setup-physical-network .button.remove.physical-network {
  position: relative;
  float: right;
  top: 27px;
  margin: -26px 0 0;
  padding: 10px 10px 0;
  background: url('../images/sprites.png') -6px -93px;
  cursor: pointer;
}

.multi-wizard.zone-wizard .setup-physical-network .select-container.disabled .button.remove.physical-network {
  display: none;
}

.multi-wizard.zone-wizard .setup-physical-network .button.remove.physical-network:hover {
  background-position: -6px -675px;
}

.multi-wizard.zone-wizard .setup-physical-network .button.add.new-physical-network:hover {
  background-position: 0 -349px;
  color: #000000;
  /*+text-shadow:0px 1px 2px #FFFFFF;*/
  text-shadow: 0 1px 2px #ffffff;
  -moz-text-shadow: 0 1px 2px #ffffff;
  -webkit-text-shadow: 0 1px 2px #ffffff;
  -o-text-shadow: 0 1px 2px #ffffff;
}

.multi-wizard.zone-wizard .setup-physical-network .button.add.new-physical-network .icon {
  padding: 10px;
  background: url('../images/sprites.png') -44px -58px;
}

/*** Review / launch*/
.multi-wizard.zone-wizard .review .launch-container {
  float: left;
  width: 98%;
  max-height: 438px;
  margin: 11px 0 0 7px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  background: #ececec 0 -12px;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #eaeaea 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #eaeaea 100%);
  /*+border-radius:4px;*/
  overflow: auto;
  overflow-x: hidden;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eaeaea', GradientType=0);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.multi-wizard.zone-wizard .review .launch-container li {
  width: 100%;
  padding: 15px 0 15px 12px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.multi-wizard.zone-wizard .review .launch-container li .icon {
  /*[empty]display:;*/
  padding: 10px 21px 10px 10px;
  background: url('../images/icons.png') -2px -217px;
}

.multi-wizard.zone-wizard .review .launch-container li.loading .icon {
  background: url('../images/ajax-loader-small.gif') no-repeat 2px 9px;
}

.multi-wizard.zone-wizard .review .launch-container li.error .icon {
  background-position: -2px -185px;
}

.multi-wizard.zone-wizard .review .launch-container li.info .icon {
  display: none;
}
