// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.new-project {
  display: inline-block;
  margin: 0 0 20px 30px;
}

.new-project form {
  margin: 0;
}

.ui-dialog .new-project {
  text-align: left;
}

.ui-dialog .new-project .add-by {
  margin-left: 11px;
  font-size: 12px;
  color: #5e6d7d;
}

.ui-dialog .new-project .add-by input {
  margin-right: 8px;
}

.ui-dialog .new-project .add-by label {
  margin-right: 12px;
}

.new-project .title {
  margin: 10px 0 32px;
  font-size: 26px;
  /*+text-shadow:0px 1px 2px #D6D6D6;*/
  letter-spacing: 0;
  color: #3497e6;
  text-shadow: 0 1px 2px #d6d6d6;
  -moz-text-shadow: 0 1px 2px #d6d6d6;
  -webkit-text-shadow: 0 1px 2px #d6d6d6;
  -o-text-shadow: 0 1px 2px #d6d6d6;
}

.new-project .field {
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  display: inline-block;
  width: 686px;
  margin: -2px 0 -4px auto;
  background: #dfdfdf;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

#new-project-review-tabs-resouces {
  height: 225px;
  background: #d2d2d2;
}

.new-project .resources .ui-widget-content {
  background: #ffffff;
}

.new-project .resources .field {
  height: 39px;
  padding: 0;
}

.new-project .field span.value {
  position: relative;
  /*+placement:shift 21px 20px;*/
  top: 20px;
  left: 21px;
  color: #475765;
}

.new-project .field label {
  display: block;
  float: left;
  width: 104px;
  height: 59px;
  padding: 20px 24px 0 0;
  background: #d2d2d2;
  color: #5b5b5b;
  text-align: right;
}

.new-project .resources .field label {
  height: auto;
  padding: 10px 14px 14px 40px;
  font-size: 14px;
}

.new-project .field label.error {
  position: absolute;
  width: auto;
  /*+placement:displace 154px 29px;*/
  height: auto;
  margin-top: 29px;
  margin-left: 154px;
  background: transparent;
  font-size: 9px;
  color: #ff0000;
}

.new-project .field input[type='text'] {
  float: right;
  /*+border-radius:5px;*/
  width: 506px;
  height: 20px;
  margin: 17px 25px 0 0;
  border: 1px solid #e2e1df;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  /*+box-shadow:inset 0px 1px #A1A1A1;*/
  box-shadow: inset 0 1px #a1a1a1;
  background: #ffffff 0 7px;
  font-size: 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-box-shadow: inset 0 1px #a1a1a1;
  -webkit-box-shadow: inset 0 1px #a1a1a1;
  -o-box-shadow: inset 0 1px #a1a1a1;
  -moz-box-shadow: inset 0 1px 0 #a1a1a1;
  -webkit-box-shadow: inset 0 1px 0 #a1a1a1;
  -o-box-shadow: inset 0 1px 0 #a1a1a1;
}

.new-project .resources .field input[type='text'] {
  margin: 6px 9px 0 0;
}

.new-project .button.cancel {
  position: relative;
  float: left;
  top: 9px;
  left: 488px;
  left: 480px;
  margin: 19px 0 0 40px;
  background: transparent;
  /*+placement:shift 488px 9px;*/
  font-size: 12px;
  font-weight: bold;
  color: #808080;
  color: #838181;
  cursor: pointer;
}

.new-project .button.cancel:hover {
  color: #3a3a3a;
}

.new-project input[type='submit'],
.new-project .button.confirm {
  display: inline-block;
  position: relative;
  float: right;
  /*+placement:float-right 63px 18px;*/
  top: 18px;
  left: 63px;
  height: 31px;
  margin: 0 63px 0 0;
  border: 0;
  /*+text-shadow:0px -1px 1px #465259;*/
  border: 1px solid #0069cf;
  border-top: 1px solid #0070fc;
  border-radius: 9px;
  border-radius: 9px 9px 9px 9px;
  background: #0049ff url('../images/gradients.png') 0 -317px;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 -1px 1px #465259;
  /*+border-radius:9px;*/
  cursor: pointer;
  -moz-text-shadow: 0 -1px 1px #465259;
  -webkit-text-shadow: 0 -1px 1px #465259;
  -o-text-shadow: 0 -1px 1px #465259;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
}

.new-project input[type='submit']:hover,
.new-project .button.confirm:hover {
  background-position: -3px -369px;
}

.new-project .button {
  cursor: pointer;
}

.new-project .button.confirm {
  display: block;
  height: 27px;
  padding: 13px 10px 0 12px;
}

.new-project .button.confirm.next {
  padding: 10px 34px 0 29px;
}

.new-project .review .button.confirm.next {
  /*+placement:shift 25px 11px;*/
  position: relative;
  top: 11px;
  left: 25px;
}

.new-project .review .ui-tabs {
  /*+placement:shift -29px -31px;*/
  position: relative;
  top: -31px;
  left: -29px;
}

.new-project .review .ui-tabs .ui-widget-content {
  width: 695px;
  height: 185px;
}

.new-project .review .ui-tabs .ui-widget-content.ui-tabs-hide {
  display: none;
}

.new-project .review .ui-tabs ul {
  position: relative;
  /*+placement:shift 0px -2px;*/
  top: -2px;
  left: 0;
  text-align: left;
}

.new-project .review .ui-tabs .list-view {
  width: 688px;
  height: 185px !important;
}

.new-project .review .ui-tabs .list-view .fixed-header {
  position: absolute;
  z-index: $z-index-toolbox-info;
  top: -22px;
  height: 58px;
  background: #ffffff;
}

.new-project .review .ui-tabs .list-view .data-table table {
  width: 669px;
  margin: 31px 0 -1px;
}

.new-project .review .ui-tabs .list-view .data-table table .edit {
  position: relative;
  top: 0;
  /*+placement:shift 14px 0px;*/
  left: 14px;
  width: 132px;
  background: #ffffff;
}

.new-project .review .ui-tabs .list-view .data-table table .edit select {
  float: left;
  width: 95px;
  height: 20px;
  border: 1px solid #b2b2b2;
  background: #ffffff;
}

.new-project .review .ui-tabs .list-view .data-table table .edit .action {
  position: relative;
  float: left;
  top: 0;
  /*+placement:shift 14px 0px;*/
  left: 14px;
  height: 20px;
  margin: 0;
  padding: 0;
}

.new-project .review .ui-tabs .list-view .toolbar {
  display: none;
}

.new-project .review .project-data {
  position: relative;
  top: -13px;
  left: -19px;
  /*+placement:shift -19px -13px;*/
  margin: 0;
  padding: 16px;
  background: #f4f4f4;
}

.new-project .review .project-data .field {
  width: 677px;
  margin: auto;
}

.new-project .button.later {
  float: right;
  margin: 19px -40px 0 0;
  padding: 13px 7px 14px 8px;
  /*+box-shadow:inset 0px 2px 2px #FFFFFF;*/
  border: 1px solid #b1b1b1;
  border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: inset 0 2px 2px #ffffff;
  background: url('../images/bg-gradients.png') 0 -261px;
  font-size: 13px;
  color: #808080;
  -moz-box-shadow: inset 0 2px 2px #ffffff;
  /*+border-radius:10px;*/
  -webkit-box-shadow: inset 0 2px 2px #ffffff;
  -o-box-shadow: inset 0 2px 2px #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}

.new-project .button.later:hover {
  box-shadow: inset 0 1px 1px #a1a1a1;
  /*+box-shadow:inset 0px 1px 1px #A1A1A1;*/
  background-position: 0 -86px;
  color: #000000;
  -moz-box-shadow: inset 0 1px 1px #a1a1a1;
  -webkit-box-shadow: inset 0 1px 1px #a1a1a1;
  -o-box-shadow: inset 0 1px 1px #a1a1a1;
}

.new-project input[type='submit']:hover {
  background-position: -3px -369px;
}

.new-project .resources input[type='submit'] {
  display: none;
}

.new-project .multi-edit {
  width: 671px;
}

.new-project .multi-edit .data {
  width: 700px;
}

.new-project .multi-edit .data .data-item {
  margin: 0;
  border: 0;
  border: 1px solid #d2d2d2;
}

.new-project .multi-edit .data .data-item.even td {
  background: #dfe1e3;
}
