// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#browser div.panel div.toolbar div.panel-controls {
  display: none;
  float: right;
  width: 42px;
  height: 23px;
}

#browser div.panel.reduced div.toolbar div.panel-controls {
  display: block;
  float: left;
  width: 194px;
}

#browser div.panel.maximized div.toolbar div.panel-controls {
  display: block;
}

#browser div.panel div.toolbar div.panel-controls div.control {
  float: right;
  width: 25px;
  height: 26px;
  margin-right: 6px;
  background: url('../images/buttons.png') no-repeat -599px -335px;
  cursor: pointer;
}

#browser div.panel.maximized.single div.toolbar div.panel-controls div.control {
  display: none;
}

#browser div.panel div.toolbar div.panel-controls div.control:hover {
  background-position: -593px -309px;
}

#browser div.panel.maximized div.toolbar div.panel-controls div.control {
  background-position: -621px -334px;
}

#browser div.panel.maximized div.toolbar div.panel-controls div.control:hover {
  background-position: -617px -308px;
}
