// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.quick-view-tooltip {
  display: inline-block;
  width: 470px;
  margin-left: 0;
  padding-top: 0;
}

.quick-view-tooltip > div.title {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 444px;
  font-weight: 100;
  color: #808080;
}

.quick-view-tooltip > div.title .icon {
  position: relative;
  float: right;
  top: -2px;
  left: -7px;
  padding: 0 13px 0 0;
  background: url('../images/sprites.png') no-repeat -42px -67px;
}

.quick-view-tooltip .loading-overlay {
  opacity: 0.35;
  top: 94px;
  left: 1px;
  /*+opacity:35%;*/
  height: 57px;
  filter: alpha(opacity=35);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  -moz-opacity: 0.35;
}

.quick-view-tooltip .container {
  display: inline-block;
  width: 471px;
  height: auto;
  min-height: 100px;
  border: 1px solid #9ea2a5;
  box-shadow: 0 7px 9px #676f76;
  background: #ffffff;
  /*+box-shadow:0px 7px 9px #676F76;*/
  overflow: hidden;
  -moz-box-shadow: 0 7px 9px #676f76;
  -webkit-box-shadow: 0 7px 9px #676f76;
  -o-box-shadow: 0 7px 9px #676f76;
}

/*** Quick view detail view*/
.quick-view-tooltip .detail-view .main-groups {
  position: absolute;
  top: 55px;
  width: 456px;
  height: 170px;
  padding-top: 7px;
  border: 1px solid #808080;
  border-right: 0;
  border-left: 0;
  box-shadow: 0 1px #e6e6e6;
  /*+box-shadow:0px 1px #E6E6E6;*/
  overflow: hidden;
  -moz-box-shadow: 0 1px #e6e6e6;
  -webkit-box-shadow: 0 1px #e6e6e6;
  -o-box-shadow: 0 1px #e6e6e6;
}

.quick-view-tooltip .detail-view .tagger {
  display: none;
}

.quick-view-tooltip .detail-view ul {
  display: none !important;
}

.quick-view-tooltip .detail-view.ui-tabs div.ui-tabs-panel {
  display: inline-block;
  float: left;
  width: 100% !important;
  height: auto;
  background-color: inherit;
  overflow: hidden;
}

.quick-view-tooltip .detail-view .details {
  display: inline-block;
  height: auto;
  padding-bottom: 224px;
}

.quick-view-tooltip .detail-view .detail-group {
  left: -9px;
  width: 365px;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

.quick-view-tooltip .detail-view .detail-group table {
  margin: 0;
  border: 0;
  background: none;
}

.quick-view-tooltip .detail-view .detail-group table tr {
  background: none;
}

.quick-view-tooltip .detail-view .detail-group table td.name {
  padding: 0 29px 0 5px !important;
  font-size: 13px;
  color: #000000 !important;
}

.quick-view-tooltip .detail-view .detail-group table td.value {
  font-size: 12px;
  /*+text-shadow:0px 1px #EAEAEA;*/
  text-shadow: 0 1px #eaeaea;
  overflow: hidden;
  -moz-text-shadow: 0 1px #eaeaea;
  -webkit-text-shadow: 0 1px #eaeaea;
  -o-text-shadow: 0 1px #eaeaea;
}

.quick-view-tooltip .detail-view .detail-group table td.value input[type='text'] {
  width: 258px;
  height: 10px;
  margin-left: 0;
}

.quick-view-tooltip .detail-view .detail-group .main-groups table td.value span {
  top: 7px;
  height: 25px;
}

.quick-view-tooltip .detail-view .detail-group.actions {
  position: relative;
  float: left;
  top: 202px;
  width: 100%;
  height: auto;
}

.quick-view-tooltip .detail-view .detail-group.actions .button {
  top: 160px;
}

.quick-view-tooltip .detail-view .detail-group.actions .action.text {
  display: inline-block;
  float: left;
  width: 112px;
  height: 41px;
  margin-left: 5px;
  border: 0;
  background: none;
}

.quick-view-tooltip .detail-view .detail-group.actions .action.text:hover {
  /*+box-shadow:none;*/
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

.quick-view-tooltip .detail-view .detail-group.actions .action.text .icon {
  display: block;
  float: left;
  width: 4px;
}

.quick-view-tooltip .detail-view .detail-group.actions .action.text .label {
  display: block;
  float: right;
  width: 81px;
  font-size: 11px;
  color: #454c53;
  /*+text-shadow:0px 1px #FFFFFF;*/
  text-indent: 0;
  text-shadow: 0 1px #ffffff;
  -moz-text-shadow: 0 1px #ffffff;
  -webkit-text-shadow: 0 1px #ffffff;
  -o-text-shadow: 0 1px #ffffff;
}

.quick-view-tooltip .detail-view .detail-group.actions .action.text:hover .label {
  color: #000000;
}

.quick-view-tooltip .detail-view .detail-group.actions .detail-actions {
  position: relative;
  float: left;
  top: 27px;
  vertical-align: top;
  width: 460px;
  height: auto;
  background: none;
}

.quick-view-tooltip .detail-view .detail-group.actions td.view-all {
  position: relative;
  float: left;
  top: 26px;
  left: 0;
  height: 26px;
  /*+box-shadow:inset 0px 1px #FFFFFF;*/
  box-shadow: inset 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px #ffffff;
  -webkit-box-shadow: inset 0 1px #ffffff;
  -o-box-shadow: inset 0 1px #ffffff;
}

.quick-view-tooltip .detail-view .detail-actions a {
  width: 30px;
  background: none;
}
