// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.recurring-snapshots {
  display: inline-block;
}

.recurring-snapshots .schedule .add-snapshot-actions {
  float: left;
  clear: both;
  width: 581px;
  margin-bottom: 13px;
  border-top: 1px solid #ffffff;
  font-size: 13px;
}

.recurring-snapshots .schedule .add-snapshot-action {
  /*+placement:shift -7px -34px;*/
  position: relative;
  float: right;
  top: -34px;
  left: -7px;
  padding: 10px;
  cursor: pointer;
}

.recurring-snapshots .schedule .add-snapshot-action.add {
  font-weight: bold;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  color: #0000ff;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

.recurring-snapshots .schedule .add-snapshot-action.add:hover {
  color: #1a85f4;
}

.recurring-snapshots .schedule p {
  margin: 0;
  font-size: 13px;
}

.recurring-snapshots .schedule .forms form {
  font-size: 12px;
  color: #4f6171;
}

.recurring-snapshots .schedule .forms form select {
  float: left;
  max-width: 100%;
  margin: 3px 10px 3px 3px;
}

.recurring-snapshots .schedule .forms form input {
  /*+placement:shift 1px 4px;*/
  position: relative;
  top: 4px;
  left: 1px;
}

.recurring-snapshots .schedule .forms form label {
  /*+placement:shift 5px 4px;*/
  position: relative;
  top: 4px;
  left: 5px;
}

.recurring-snapshots .schedule .forms form label.error {
  float: left;
  width: 100%;
  font-size: 10px;
}

.recurring-snapshots .schedule .forms form .field {
  float: left;
  width: 100%;
  margin: 8px 0 0;
}

.recurring-snapshots .schedule .forms form .name {
  float: left;
  width: 72px;
  margin: 3px 14px 0 0;
  padding: 4px 0 0;
  text-align: right;
}

.recurring-snapshots .schedule .forms form .value {
  float: left;
  width: 470px;
  text-align: left;
}

.ui-dialog .recurring-snapshots .ui-widget-content {
  margin: 0;
  padding: 0;
}

.recurring-snapshots .ui-button {
  /*+placement:anchor-bottom-right 9px 9px;*/
  position: absolute;
  right: 9px;
  bottom: 9px;
}

.recurring-snapshots .scheduled-snapshots {
  position: relative;
  clear: both;
  top: -26px;
}

.recurring-snapshots .scheduled-snapshots p {
  font-size: 12px;
  font-weight: bold;
  /*+text-shadow:0px 2px 2px #FFFFFF;*/
  text-shadow: 0 2px 2px #ffffff;
  -moz-text-shadow: 0 2px 2px #ffffff;
  -webkit-text-shadow: 0 2px 2px #ffffff;
  -o-text-shadow: 0 2px 2px #ffffff;
}

.recurring-snapshots .scheduled-snapshots table {
  position: relative;
  /*+placement:shift 0px -14px;*/
  top: -14px;
  width: 100%;
  margin: 0;
  border: 0;
}

.recurring-snapshots .scheduled-snapshots table td.actions div.action span.icon {
  /*+placement:shift -3px -4px;*/
  position: relative;
  top: -4px;
  left: -3px;
}

.recurring-snapshots .scheduled-snapshots tr {
  display: block;
  display: none;
  width: 100%;
  height: 38px;
  margin: 22px 0 0;
  padding: 0;
  border: 0;
}

.recurring-snapshots .scheduled-snapshots tr td {
  padding: 5px 0 0 14px;
  border: 0;
  font-size: 12px;
  word-break: keep-all;
  word-wrap: normal;
  text-indent: 0;
}

.recurring-snapshots .scheduled-snapshots tr td.keep {
  min-width: 60px;
}

.recurring-snapshots .scheduled-snapshots tr td.timezone {
  min-width: 168px;
  font-size: 12px;
}

.recurring-snapshots .scheduled-snapshots tr td.timezone span {
  font-size: 10px;
}

.recurring-snapshots .scheduled-snapshots table tbody tr td.actions {
  min-width: 22px !important;
  max-width: 22px !important;
}

.recurring-snapshots .scheduled-snapshots tr td.time {
  min-width: 144px;
  background: url('../images/sprites.png') no-repeat -536px -533px;
  text-indent: 0.7em;
}

.recurring-snapshots .scheduled-snapshots tr.daily td.time {
  background-position: -537px -569px;
}

.recurring-snapshots .scheduled-snapshots tr.weekly td.time {
  background-position: -537px -605px;
}

.recurring-snapshots .scheduled-snapshots tr.monthly td.time {
  background-position: -537px -648px;
}

.recurring-snapshots p {
  display: block;
  max-width: 550px;
  margin-bottom: 16px;
  padding: 0 47px 0 0;
  font-size: 14px;
  line-height: 18px;
  /*+text-shadow:0px 3px 3px #FFFFFF;*/
  color: #475765;
  text-align: left;
  text-shadow: 0 3px 3px #ffffff;
  -moz-text-shadow: 0 3px 3px #ffffff;
  -webkit-text-shadow: 0 3px 3px #ffffff;
  -o-text-shadow: 0 3px 3px #ffffff;
}

.recurring-snapshots .ui-tabs ul {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
}

.recurring-snapshots .ui-tabs ul li a {
  width: 76px;
  background: url('../images/sprites.png') no-repeat -521px -533px;
}

.recurring-snapshots .ui-tabs ul li.disabled a {
  /*+opacity:50%;*/
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
}

.recurring-snapshots .ui-tabs ul li.disabled:hover a {
  border: 0;
  border: 0;
  box-shadow: 0 0;
  /*+box-shadow:0px 0px;*/
  background-color: transparent;
  cursor: default;
  -moz-box-shadow: 0 0;
  -webkit-box-shadow: 0 0;
  -o-box-shadow: 0 0;
  -moz-box-shadow: 0 0 none;
  -webkit-box-shadow: 0 0 none;
  -o-box-shadow: 0 0 none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

.recurring-snapshots .ui-tabs ul li.daily a {
  background-position: -522px -570px;
}

.recurring-snapshots .ui-tabs ul li.weekly a {
  background-position: -526px -605px;
}

.recurring-snapshots .ui-tabs ul li.monthly a {
  background-position: -528px -649px;
}

.recurring-snapshots .ui-tabs div.ui-tabs-panel {
  width: 100%;
  height: 144px;
  border: 0;
  background: #e9e9e9;
}

.recurring-snapshots .ui-tabs div.ui-tabs-panel.ui-tabs-hide {
  display: none;
}
