// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.


div.panel div.toolbar div.section-switcher {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}

#browser div.panel.maximize-if-selected.selected div.toolbar div.panel-controls div.control {
  display: none;
}

div.toolbar div.section-switcher div.section-select {
  float: right;
  font-size: 12px;
  font-weight: 100;
}

div.list-view div.toolbar div.section-switcher div.section-select label {
  margin: 0 9px 0 0;
}

div.toolbar div.section-switcher div.section {
  float: left;
  border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  /*+border-radius:10px;*/
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px 1px #ededed;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  /*+text-shadow:0px 1px 1px #EDEDED;*/
  -khtml-border-radius: 10px;
  -moz-text-shadow: 0 1px 1px #ededed;
  -webkit-text-shadow: 0 1px 1px #ededed;
  -o-text-shadow: 0 1px 1px #ededed;
}

div.toolbar div.section-switcher div.section a {
  display: block;
  padding: 5px 10px 3px;
  border: 1px solid #979fa4;
  background: url('../images/bg-section-switcher.png') repeat-x 0 -22px;
  color: #516374;
  text-decoration: none;
}

div.toolbar div.section-switcher div.section a.active {
  padding-top: 6px;
  padding-bottom: 2px;
  border: 0;
  border-bottom: 1px solid #ccd1d4;
  box-shadow: inset 0 1px 5px #546874;
  background: url('../images/bg-section-switcher.png') repeat-x 0 -21px;
  /*+box-shadow:inset 0px 1px 5px #546874;*/
  background-position: 0 0;
  -moz-box-shadow: inset 0 1px 5px #546874;
  -webkit-box-shadow: inset 0 1px 5px #546874;
  -o-box-shadow: inset 0 1px 5px #546874;
}

div.toolbar div.section-switcher div.section.first a {
  /*+border-radius:4px 0 0 5px;*/
  border-radius: 4px 0 0 5px;
  -moz-border-radius: 4px 0 0 5px;
  -webkit-border-radius: 4px 0 0 5px;
  -khtml-border-radius: 4px 0 0 5px;
}

div.toolbar div.section-switcher div.section.last a {
  /*+border-radius:0 4px 4px 0px;*/
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 0 4px 4px 0;
}

div.toolbar div.section-switcher div.section.first.last a {
  /*+border-radius:5px;*/
  border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

div.toolbar div.section-switcher div.section-select {
  float: left;
  height: 26px;
}

.project-view div.toolbar div.section-switcher div.section-select {
  background: transparent;
}

div.toolbar div.section-switcher div.section-select select {
  height: 21px;
  margin-right: 13px;
  border: 1px solid #808080;
  border-radius: 4px;
  /*+border-radius:4px;*/
  border-radius: 4px 4px 4px 4px;
  font-size: 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

div.toolbar div.section-switcher div.section-select label {
  margin: 0 9px 0 0;
}

.project-view div.list-view div.toolbar div.section-switcher div.section-select label {
  color: #ffffff;
  /*+text-shadow:0px 1px 1px #000000;*/
  text-shadow: 0 1px 1px #000000;
  -moz-text-shadow: 0 1px 1px #000000;
  -webkit-text-shadow: 0 1px 1px #000000;
  -o-text-shadow: 0 1px 1px #000000;
}
