// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

div.panel div.view.group-thumbnail ul.groups li {
  position: relative;
  float: left;
  width: 142px;
  height: 80px;
  margin: 16px -1px -5px 16px;
  background: url('../images/buttons.png') no-repeat -1px -399px;
  cursor: pointer;
}

div.panel div.view.group-thumbnail ul.groups li.active {
  background-position: -1px -489px;
}

div.panel div.view.group-thumbnail ul.groups li.drop-hover {
  background-position: -1px -310px !important;
}

div.panel div.view.group-thumbnail ul.groups li.new {
  background-position: -147px -401px;
}

div.panel div.view.group-thumbnail ul.groups li.new.drop-hover {
  background-position: -148px -312px !important;
}

div.panel div.view.group-thumbnail ul.groups li span.name {
  position: relative;
  position: absolute;
  /*+placement:shift 9px 7px;*/
  top: 7px;
  left: 9px;
  font-size: 12px;
  font-weight: bold;
  /*+text-shadow:0px 1px 1px #FFFFFF;*/
  color: #49596b;
  text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  -o-text-shadow: 0 1px 1px #ffffff;
}

div.panel div.view.group-thumbnail ul.groups li span.vm-count {
  position: absolute;
  /*+placement:displace 54px 27px;*/
  position: absolute;
  margin-top: 27px;
  margin-left: 54px;
  font-size: 21px;
  color: #3a4857;
}

#browser div.panel.reduced .reduced-hide {
  color: #bbb8b8;
}

#browser div.panel.reduced div.toolbar .reduced-hide {
  display: none;
}

/*List view -- edit field*/
div.view table td.editable div.edit {
  position: relative;
  top: 0;
  /*+placement:shift 6px 0px;*/
  left: 6px;
  width: 106%;
  height: 20px;
}

div.view table td.truncated.editable div.edit {
  top: 1px;
  left: 1px;
  width: 285px;
}

div.view table td.editable div.edit input {
  position: relative;
  z-index: $z-index-standard;
  float: left;
  width: 66%;
  height: 17px;
  border: 0;
}

.detail-view div.view table td.editable div.edit {
  width: 116px;
}

div.view table td.editable div.action {
  position: relative;
  float: left;
  top: 0;
  left: -2px;
  width: 16px;
  /*+placement:shift -2px 0px;*/
  height: 19px;
  padding-left: 2px;
  background: #ffffff url('../images/buttons.png') -614px -684px;
  cursor: pointer;
}

div.view table td.editable div.action.save {
  margin-left: 2px;
}

div.view table td.editable div.action.cancel {
  background-position: -628px -684px;
}
