// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.ui-dialog.configure-acl .multi-edit {
  width: 866px;
}

.ui-dialog.configure-acl .multi-edit table {
  max-width: none;
}

.ui-dialog.configure-acl .multi-edit table select,
.detail-view .acl .multi-edit select {
  width: 76px;
}

.ui-dialog.configure-acl .ui-dialog-buttonpane {
  /*+placement:shift 722px -2px;*/
  position: relative;
  top: -2px;
  left: 722px;
}

.ui-dialog.configure-acl div.view.list-view {
  max-height: 474px;
}

.ui-dialog.configure-acl .multi-edit .data {
  width: 901px;
  height: 370px;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
}

.ui-dialog.configure-acl .multi-edit .data .multi-actions {
  min-width: none !important;
  max-width: none !important;
}

.ui-dialog.configure-acl .view.list-view table.body tr td.actions {
  width: 184px !important;
  max-width: 184px !important;
}

div.ui-dialog div.acl div.multi-edit table.multi-edit thead tr th,
div.ui-dialog div.acl div.multi-edit table.multi-edit tbody tr td {
  min-width: 75px;
}

div.ui-dialog div.acl div.multi-edit div.data div.data-body div.data-item table tbody tr td {
  width: 100%;
  min-width: 77px;
}

.detail-view .acl .multi-edit th,
.detail-view .acl .multi-edit td {
  min-width: 25px !important;
  padding-right: 0 !important;
}

.detail-view .acl .multi-edit th {
  font-size: 10px;
}

.detail-view .acl .multi-edit input {
  width: 50px;
}

.detail-view .acl .multi-edit .add-vm {
  width: 51px;
  padding-right: 0;
  text-indent: 0;
}

.detail-view .acl .multi-edit td.multi-actions {
  width: 65px;
}
