// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.ui-dialog div.autoscaler {
  max-height: 600px;
  overflow: auto;
}

div.container div.panel div#details-tab-network.detail-group div div.multi-edit table.multi-edit tbody tr td,
div.container div.panel div#details-tab-network.detail-group div div.multi-edit table.multi-edit thead tr th {
  min-width: 80px;
  max-width: 80px;
  font-size: 10px;
}

.ui-dialog div.autoscaler .detail-actions .buttons {
  float: right;
  margin-right: 6px;
}

.ui-dialog div.autoscaler .detail-actions .buttons .action {
  float: left;
  width: 32px;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='securityGroups'] {
  display: block;
  float: left;
  width: 370px;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='diskOfferingId'] {
  display: inline-block;
  position: relative;
  float: left;
  width: 370px;
  margin-top: 1px;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='minInstance'] {
  display: block;
  float: left;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='maxInstance'] {
  display: inline-block;
  position: relative;
  float: left;
  left: -30px;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='interval'] {
  display: block;
  float: left;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='quietTime'] {
  display: inline-block;
  position: relative;
  float: left;
  left: -15px;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='snmpCommunity'] {
  display: block;
  float: left;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='snmpPort'] {
  display: inline-block;
  position: relative;
  float: left;
  left: -15px;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.value select {
  float: left;
  width: 88%;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title div.form-container {
  height: 55px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title div.form-container {
  height: 55px;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.multi-edit {
  margin-top: 0;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.multi-edit {
  margin-top: 0;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title {
  margin-top: 40px;
  margin-left: -650px;
  color: #0055bb;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title label {
  margin-right: 10px;
  margin-left: 200px;
  font-size: 13px;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title hr.policy-divider {
  margin-bottom: 12px;
  border-top: 1px none #38546d;
  border-right: 1px none #16222c;
  border-left: 1px none #38546d;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title hr.policy-divider {
  margin-bottom: 12px;
  border-top: 1px none #38546d;
  border-right: 1px none #16222c;
  border-left: 1px none #38546d;
}

div.ui-dialog div.autoscaler div.field-group.bottom-fields hr.policy-divider {
  margin-top: 15px;
  margin-bottom: -1px;
  border-top: 1px none #38546d;
  border-right: 1px none #16222c;
  border-left: 1px none #38546d;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title label {
  margin-right: 10px;
  margin-left: 170px;
  font-size: 13px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title {
  margin-top: 10px;
  margin-left: -620px;
  color: #0055bb;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title div.form-container div.form-item div.value input[type='text'] {
  width: 30%;
  margin-top: -17px;
  margin-left: 729px;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title div.form-container div.form-item div.name {
  margin-left: 420px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title div.form-container div.form-item div.value input[type='text'] {
  width: 30%;
  margin-top: -16px;
  margin-left: 698px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title div.form-container div.form-item div.name {
  margin-left: 420px;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.multi-edit div.data div.data-body div.data-item {
  margin-right: 22px;
  margin-bottom: 0;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.multi-edit div.data div.data-body div.data-item {
  margin-right: 22px;
  margin-bottom: 0;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.slide-label {
  width: 12px;
  margin-bottom: 3px;
  margin-left: 755px;
  font-size: 14px;
  color: #a5a3a7;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.slide-label {
  width: 12px;
  margin-bottom: 3px;
  margin-left: 755px;
  font-size: 14px;
  color: #a5a3a7;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.hide {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/minus.png') no-repeat 38% 59%;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.hide {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/minus.png') no-repeat 31% 54%;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.expand {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/sprites.png') repeat -541px -499px;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.expand {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/sprites.png') repeat -541px -499px;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.field-group div.form-container form div.form-item div.name label {
  font-size: 11px;
}

/*List state BG colors*/
.list-view .body td.item-state-on {
  border-bottom: 1px solid #09bc09;
  background: #c0ffc0;
}

.list-view .body td.item-state-off {
  border-bottom: 1px solid #ff9f9f;
  background: #ffd8cf;
}

.list-view .body tr.selected td.item-state-on,
.list-view .body tr.selected td.item-state-off {
  border-color: inherit;
  background-color: inherit;
}

/*Autoscaler*/
.ui-dialog div.autoscaler {
  max-height: 600px;
  overflow: auto;
}

div.container div.panel div#details-tab-network.detail-group div div.multi-edit table.multi-edit tbody tr td,
div.container div.panel div#details-tab-network.detail-group div div.multi-edit table.multi-edit thead tr th {
  min-width: 72px;
  font-size: 10px;
}

.ui-dialog div.autoscaler .detail-actions .buttons {
  float: right;
  margin-right: 6px;
}

.ui-dialog div.autoscaler .detail-actions .buttons .action {
  float: left;
  width: 32px;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='securityGroups'] {
  display: block;
  float: left;
  width: 370px;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='diskOfferingId'] {
  display: inline-block;
  position: relative;
  float: left;
  width: 370px;
  margin-top: 1px;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='minInstance'] {
  display: block;
  float: left;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='maxInstance'] {
  display: inline-block;
  position: relative;
  float: left;
  left: -30px;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='interval'] {
  display: block;
  float: left;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='quietTime'] {
  display: inline-block;
  position: relative;
  float: left;
  left: -15px;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='snmpCommunity'] {
  display: block;
  float: left;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.form-item[rel='snmpPort'] {
  display: inline-block;
  position: relative;
  float: left;
  left: -15px;
  width: 50%;
}

.ui-dialog div.autoscaler div.form-container div.value select {
  float: left;
  width: 88%;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title div.form-container {
  height: 55px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title div.form-container {
  height: 55px;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.multi-edit {
  margin-top: 0;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.multi-edit {
  margin-top: 0;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title {
  margin-top: 40px;
  margin-left: -650px;
  color: #0055bb;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title label {
  margin-right: 10px;
  margin-left: 200px;
  font-size: 13px;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title hr.policy-divider {
  margin-bottom: 12px;
  border-top: 1px none #38546d;
  border-right: 1px none #16222c;
  border-left: 1px none #38546d;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title hr.policy-divider {
  margin-bottom: 12px;
  border-top: 1px none #38546d;
  border-right: 1px none #16222c;
  border-left: 1px none #38546d;
}

div.ui-dialog div.autoscaler div.field-group.bottom-fields hr.policy-divider {
  margin-top: 15px;
  margin-bottom: -1px;
  border-top: 1px none #38546d;
  border-right: 1px none #16222c;
  border-left: 1px none #38546d;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title label {
  margin-right: 10px;
  margin-left: 170px;
  font-size: 13px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title {
  margin-top: 10px;
  margin-left: -620px;
  color: #0055bb;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title div.form-container div.form-item div.value input[type='text'] {
  width: 30%;
  margin-top: 1px;
  margin-left: 195px;
}

div.ui-dialog div.autoscaler div.scale-up-policy-title div.form-container div.form-item div.name {
  margin-left: 390px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title div.form-container div.form-item div.value input[type='text'] {
  width: 30%;
  margin-top: -16px;
  margin-left: 670px;
}

div.ui-dialog div.autoscaler div.scale-down-policy-title div.form-container div.form-item div.name {
  margin-left: 390px;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.multi-edit div.data div.data-body div.data-item {
  margin-right: 22px;
  margin-bottom: 0;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.multi-edit div.data div.data-body div.data-item {
  margin-right: 22px;
  margin-bottom: 0;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.slide-label {
  width: 12px;
  margin-bottom: 3px;
  margin-left: 755px;
  font-size: 14px;
  color: #a5a3a7;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.slide-label {
  width: 12px;
  margin-bottom: 3px;
  margin-left: 755px;
  font-size: 14px;
  color: #a5a3a7;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.hide {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/minus.png') no-repeat 38% 59%;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.hide {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/minus.png') no-repeat 31% 54%;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.scale-up-policy div.expand {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/sprites.png') repeat -541px -499px;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.scale-down-policy div.expand {
  float: right;
  width: 14px;
  height: 15px;
  margin: -20px 45px 0 11px;
  border: 1px solid #d0d0d0;
  border-radius: 9px 9px 9px 9px;
  background: #ffffff url('../images/sprites.png') repeat -541px -499px;
  cursor: pointer;
}

div.ui-dialog div.autoscaler div.field-group div.form-container form div.form-item div.name label {
  font-size: 11px;
}
