// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

.tree-view {
  width: 24%;
  height: 98%;
  overflow: auto;
}

.tree-view.overflowScroll {
  overflow: scroll;
}

.tree-view ul {
  display: block;
  width: 85px;
}

.tree-view ul li {
  display: block;
  position: relative;
  clear: both;
  left: 21px;
  width: 100%;
  margin: 7px 0 0;
  font-size: 12px;
}

.tree-view > ul {
  /*+placement:shift 3px 40px;*/
  position: relative;
  top: 40px;
  left: 3px;
}

.tree-view > ul > li {
  left: 5px;
}

.tree-view ul li .name {
  float: left;
  margin: 1px 0 13px 17px;
  padding: 6px 9px 6px 4px;
  cursor: pointer;
}

.tree-view ul li .name:hover {
  text-decoration: underline;
}

.tree-view ul li .name.selected {
  border-radius: 5px;
  /*+border-radius:5px;*/
  border-radius: 5px 5px 5px 5px;
  background: #dddcdd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

.tree-view ul li .expand {
  position: absolute;
  float: left;
  float: left;
  width: 10px;
  height: 10px;
  margin: 4px 5px 0 0;
  background: url('../images/buttons.png') -630px -245px;
  cursor: pointer;
}

.tree-view ul li.expanded > .expand {
  background-position: -631px -228px;
}

#browser .tree-view div.toolbar div.text-search {
  float: left;
}
