// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#header .view-switcher {
  float: left;
  margin: 11px 0 0 18px;
  font-size: 12px;
  color: #55687b;
}

#header div.view-switcher {
  display: none;
  position: relative;
  /*+placement:shift 0px -10px;*/
  top: -10px;
  left: 0;
  height: 39px;
  margin-right: 9px;
  background-position: 0 -5px;
}

#header div.view-switcher.alt {
  background-position: 0 -41px;
}

#header div.view-switcher div {
  position: relative;
  /*[empty]display:;*/
  float: left;
  width: 126px;
  margin: 0;
  padding: 13px 0 0;
  text-indent: 17px;
  /*+text-shadow:0px -1px 1px #2D2D2D;*/
  text-shadow: 0 -1px 1px #2d2d2d;
  -moz-text-shadow: 0 -1px 1px #2d2d2d;
  -webkit-text-shadow: 0 -1px 1px #2d2d2d;
  -o-text-shadow: 0 -1px 1px #2d2d2d;
}

#header div.view-switcher .select.active {
  font-weight: bold;
  color: #ffffff;
  /*+text-shadow:0px -1px 1px #5B5B5B;*/
  text-shadow: 0 -1px 1px #5b5b5b;
  -moz-text-shadow: 0 -1px 1px #5b5b5b;
  -webkit-text-shadow: 0 -1px 1px #5b5b5b;
  -o-text-shadow: 0 -1px 1px #5b5b5b;
}

#header div.view-switcher div span.icon {
  position: relative;
  top: 0;
  top: 0;
  left: -4px;
  width: 10px;
  /*+placement:shift -4px 0px;*/
  height: 10px;
  padding: 0 19px 0 0;
  background: url('../images/icons.png') no-repeat;
}

#header div.view-switcher div.default-view span.icon {
  background-position: -23px 0;
}

#header div.view-switcher div.project-view span.icon {
  background-position: -24px 0 !important;
}

#header div.view-switcher div.select span.icon {
  background-position: -47px 0;
}

#header .view-switcher span {
  padding: 0 13px 0 0;
  background-repeat: repeat-x;
}

#header .view-switcher select {
  max-width: 120px;
  margin: 6px 3px 0 -21px;
  padding: 3px 0 4px;
}

/*** View switcher (drop-down)*/
.project-switcher,
.domain-switcher {
  float: left;
  width: 223px;
  padding: 9px 17px 0 19px;
  /*+border-radius:4px;*/
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.project-switcher label,
.domain-switcher label {
  float: left;
  top: 29px;
  margin-top: 5px;
  margin-right: 7px;
  font-size: 13px;
  color: #ffffff;
}

.project-switcher select,
.domain-switcher select {
  float: left;
  width: 70%;
  margin-top: 0;
  border: 1px solid #393939;
  /*+text-shadow:0px -1px 1px #373737;*/
  background: #515151;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 0 -1px 1px #373737;
  -moz-text-shadow: 0 -1px 1px #373737;
  -webkit-text-shadow: 0 -1px 1px #373737;
  -o-text-shadow: 0 -1px 1px #373737;
}
