@charset "UTF-8";
/* CSS Document */

html,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	height:auto;
	font-weight:normal;
	background:#68af23 url(../images/custom3_login_bg.gif) repeat-x top left;
	margin:0;
	padding:0;

}

.login_logobox {
	width:217px;
	height:58px;
	float:left;
	background:url(../images/custom3_login_logo.png) no-repeat top left;
	margin:0 0 0 75px;
	display:inline;
	padding:0;
}

.main_loginbox_bot {
	width:660px;
	height:109px;
	float:left;
	background:url(../images/custom3_loginbox_bot.png) no-repeat top left;
	margin:0;
	padding:0;
}

#main_header {
	min-width:980px;
	width:100%;
	height:73px;
	float:left;
	background:#b84634 url(../../custom3/images/custom3_header_bg.jpg) repeat-x top left;
	margin:0;
	padding:0;
}

.header_left {
	width:509px;
	height:73px;
	float:left;
	margin:0;
	padding:0;
}

.logo {
	width:212px;
	height:54px;
	float:left;
	background:url(../../custom3/images/custom3_logo.jpg) no-repeat top left;
	margin:8px 0 0 8px;
	display:inline;
	padding:0;
}

.mgmtconsole_logo {
	width:138px;
	height:17px;
	float:left;
	background:url(../../custom3/images/custom3_mgmtconsole_logo.jpg) no-repeat top left;
	margin:25px 0 0 15px;
	display:inline;
	padding:0;
}


.userlinks {
	width:auto;
	height:auto;
	float:left;
	margin:30px 15px 0 0;
	padding:0;
}


.userlinks p {
	width:auto;
	height:auto;
	float:left;
	text-align:left;
	font-size:12px;
	font-weight:normal;
	color:#FFF;
}

.userlinks span {
	font-weight:bold;
	text-align:left;
	font-size:11px;
}

.logout_button {
	width:63px;
	height:24px;
	float:left;
	margin:28px 0 0 10px;
	padding:0;
}

.userlinks a {
	width:auto;
	height:auto;
	color:#c4ff25;
	text-decoration:none;
	font-size:11px;
	font-weight:normal;
}

.userlinks a:link, userlinks a:visited {
	text-decoration:none;
}

.userlinks a:hover {
	text-decoration:underline;
}

.language_dropdownpanel {
	width:103px;
	height:19px;
	float:left;
	position:relative;
	background:url(../../custom3/images/custom3_language_bg.gif) no-repeat top left;
	margin:-3px 0 0 8px;
	display:inline;
	padding:0;
	cursor:pointer;
	cursor:hand;
}

.language_dropdownpanel:hover {
	background:url(../../custom3/images/custom3_language_bg_hover.gif) no-repeat top left;
}

.language_icon {
	width: 13px;
	height:12px;
	float:left;
	background:url(../../custom3/images/custom3_language_icon.gif) no-repeat top left;
	margin:3px 0 0 5px;
	display:inline;
	padding:0;
}

.language_dropdownbox {
	width:101px;
	height:auto;
	position:absolute;
	background:#a44031 repeat top left;
	border:1px solid #d87d58;
	margin:0;
	padding:0 0 15px 0;
	top:17px;
	z-index:1010;
}

.leftmenu_panel {
	width:221px;
	height:100%;
	min-height:1025px;
	float:left;
	background:#dbdbdb repeat top left;
	border-right:1px dotted #183042;
	border-top:1px dotted #183042;
	margin:0 0 0 -100%;
	padding:0;
}

.leftmenu_arrows_firstlevel_open {
	width:19px;
	height:17px;
	float:right;
	margin:-2px 4px 0 0;
	background:url(../images/custom3_leftmenu_maindownarrow.gif) no-repeat top left;
	padding:0;
}

.leftmenu_list{
	width:100%;
	height:auto;
	float:left; 
	margin:0;
	padding:0;
	background:#dbdbdb  repeat-x bottom left;
	border-bottom:1px dotted #333;
}

.leftmenu_expandedbox{
	width:100%;
	height:auto;
	float:left;
	position:relative;
	background:#7ec558 url(../../custom3/images/custom3_leftmenu_expanded.gif) repeat-x top left;
	border-bottom:1px solid #FFF;
	margin:0;
	padding:0;
	overflow-x:scoll;
	overflow-x:auto;
	overflow-y:hidden;
}

.leftmenu_content_flevel.selected{
	background:#dadada url(../../custom3/images/custom3_leftmenu_highlighted.gif) repeat-x top left;
	border-bottom:1px dotted #333;
	font-weight:bold;
	color:#333;
}

.leftmenu_content_flevel:hover{
	background:#f7f7f7 url(../../custom3/images/custom3_leftmenu_hover.gif) repeat-x top left;
}

.leftmenu_content:hover{
	color:#FFF;
	background:#508e24 repeat top left;
}

.leftmenu_content.selected{
	color:#FFF;
	background:#39750b  repeat-x top left;
}

.leftmenu_secondindent{
	min-width:180px;
	max-width:auto;
	height:auto;
	float:left;
	color:#FFF;
	margin:7px 0 0 30px;
	display:inline;
	padding:0;
}

.leftmenu_thirdindent{
	min-width:160px;
	max-width:auto;
	height:auto;
	float:left;
	color:#FFF;
	margin:7px 0 0 50px;
	display:inline;
	padding:0;
}

.leftmenu_fourthindent{
	min-width:200px;
	max-width:auto;
	height:auto;
	float:left;
	color:#FFF;
	margin:7px 0 0 70px;
	display:inline;
	padding:0;
}

.leftmenu_fifthindent{
	min-width:200px;
	max-width:auto;
	height:auto;
	float:left;
	color:#FFF;
	margin:7px 0 0 100px;
	display:inline;
	padding:0;
}

.leftmenu_sixthindent{
	min-width:200px;
	max-width:auto;
	height:auto;
	float:left;
	color:#FFF;
	margin:7px 0 0 120px;
	display:inline;
	padding:0;
}

.leftmenu_domainindent{
	min-width:180px;
	max-width:auto;
	height:auto;
	float:left;
	color:#FFF;
	margin:7px 0 0 30px;
	display:inline;
	padding:0;
}







.midmenu_panel {
	width:221px;
	min-height:1000px;
	height:auto;
	float:left;
	position:relative;
	background:#f9f9f9 repeat top left;
	border-right:1px dotted #183042;
	margin:27px 0 0 -100%;
	display:inline;
	padding:0;
}

.midmenu_list{
	width:220px;
	height:auto;
	float:left;
	background:#f9f9f9 repeat-x bottom left;
	border-bottom:1px dotted #183042;
	margin:0;
	padding:0;
}

.midmenu_content:hover{
	background:#b6b6b6 url(../../custom3/images/custom3_midmenu_hover.gif) repeat-x top left;
	color:#333;
}

.midmenu_content.selected {
	background:#167a1a url(../../custom3/images/custom3_midmenu_selected.gif) repeat-x top left;
	color:#FFF;

}




.content_tabs.off {
	background:url(../images/custom3_contenttab_unselected.gif) no-repeat bottom left;
	color:#FFF;
	cursor:pointer;
	cursor:hand;

}



.adv_searchpopup_bg {
	width:100%;
	height:auto;
	float:left;
	background:#cecece url(../../custom3/images/custom3_adv_searchbg.gif) repeat-x top left;
	border-bottom:1px solid #2d2d2d;
	margin:0;
	padding:0 0 9px 0;
}
