<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for additional
  information regarding copyright ownership. The ASF licenses this file to
  you under the Apache License, Version 2.0 (the "License"); you may not use
  this file except in compliance with the License. You may obtain a copy of
  the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required
  by applicable law or agreed to in writing, software distributed under the
  License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
  OF ANY KIND, either express or implied. See the License for the specific
  language governing permissions and limitations under the License. -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
	 xmlns:bal='http://schemas.microsoft.com/wix/BalExtension'>
<!-- Installing dependencies -->
	<Bundle UpgradeCode="7cc78eac-106d-400e-b266-1b2c778b16b9" Version="4.4.0">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" >
			<bal:WixStandardBootstrapperApplication LicenseFile="acs_license.rtf" ShowVersion="yes" ThemeFile="optionstheme.xml" LocalizationFile="optionstheme_en-us.wxl"/>
		</BootstrapperApplicationRef>
		<Chain>
			<MsiPackage Id="MySql" Name="mysql-5.1.73-winx64.msi" DownloadUrl="http://cdn.mysql.com/Downloads/MySQL-5.1/mysql-5.1.73-winx64.msi" Compressed="no" Visible="yes" ForcePerMachine="yes" DisplayInternalUI="yes" EnableFeatureSelection="yes" InstallCondition="ACSCheckbox"/>
			<MsiPackage Id="MySqlClient" Name="mysql-5.1.73-winx64.msi" DownloadUrl="http://cdn.mysql.com/Downloads/MySQL-5.1/mysql-5.1.73-winx64.msi" Compressed="no" Visible="yes" ForcePerMachine="yes" EnableFeatureSelection="no" DisplayInternalUI="no" InstallCondition="Not ACSCheckbox"/>
			<MsiPackage Id="SevenZip" Name="7z920-x64.msi" DownloadUrl="http://downloads.sourceforge.net/sevenzip/7z920-x64.msi" Compressed="no" Visible="yes" ForcePerMachine="yes" After="MySql"/>
			<MsiPackage Id="Python" Name="python-2.7.6.amd64.msi" DownloadUrl="https://www.python.org/ftp/python/2.7.6/python-2.7.6.amd64.msi" Compressed="no" Visible="yes" ForcePerMachine="yes" After="SevenZip"/>
			<ExePackage Id="Tomcat6" Name="apache-tomcat-6.0.39.exe" PerMachine="yes" DownloadUrl="http://mirror.sdunix.com/apache/tomcat/tomcat-6/v6.0.39/bin/apache-tomcat-6.0.39.exe" Compressed="no" InstallCommand="/S" After="Python"/>
			<ExePackage Id="CdrTools" Name="CDR-Tools.exe" PerMachine="yes" DownloadUrl="http://sourceforge.net/projects/cdrtoolswin/files/1.0/Binaries/CDR-Tools.exe/download" Compressed="no" InstallCommand="/S" After="Tomcat6"/>
			<MsiPackage Id="acs" Name="acs.msi" Compressed="yes" Visible="yes" ForcePerMachine="yes" DisplayInternalUI="yes" EnableFeatureSelection="yes" After="CdrTools"/>
		</Chain>
	</Bundle>
</Wix>