[Unit]
Description=CloudStack Agent service
After=cloud-early-config.service network.target cloud-postinit.service local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/cloud/systemvm
ExecStart=/usr/local/cloud/systemvm/_run.sh
Restart=on-failure
