// External libs
@import "../lib/normalize";
@import "../lib/animate";
@import "../lib/bourbon/bourbon";
@import "../lib/neat/neat";

// Custom main UI font
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
    font-weight: bold;
}

// Core style
html, body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}

// Sub-components
@import "login";
@import "button";
@import "form";
@import "header";
@import "asset";
@import "dialog";
@import "list";