// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

$csui-tab-bg: lighten(#ccc, 15%);

@mixin csui-tab {
    float: left;
    list-style: none;
    padding: 15px 30px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;

    a {
        color: darken(#ccc, 25%);
        text-decoration: none;
        text-shadow: 0px 2px 1px white;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}

@mixin csui-tab-active {
    background: $csui-tab-bg;
    border-radius: 8px 8px 0 0;
    margin: 0;

    a {
        color: black;
        text-decoration: none;
        cursor: default;
    }
}

@mixin csui-tabs {
    @include row;

    margin: 0;
    padding: 0;

    li {
        @include csui-tab;
    }
}

@mixin csui-details {
    background: $csui-tab-bg;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

// jQuery UI tabs
ul.ui-tabs-nav {
    @include csui-tabs;

    li {
        @include csui-tab;

        &.ui-state-active {
            @include csui-tab-active;
        }
    }
}

.ui-tabs-panel {
    &.ui-tabs-hide {
        display: none;
    }
}