// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
@mixin csui-header {
    background-color: #0d68a0;

    @include background(
            url(csui/img/overlay-pattern.png) repeat,
            url(csui/img/header/gradient.png) no-repeat
    );

    background-size: auto, cover;
    border-bottom: 2px solid #0c89d0;

    .logo {
        background: url(csui/img/header/logo.png) no-repeat left;
        width: 1280px;
        height: 80px;
        margin: auto;
        background-size: 300px;
    }

    .controls {
        @include linear-gradient(#525252, #262626);
        @include row;

        width: 1280px;
        padding: 15px;
        margin: auto;
        color: white;
        border: 1px solid gray;
        border-radius: 4px 4px 0 0;
    }
}