// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
@mixin csui-list {
    overflow: auto;
    
    table {
        width: 100%;
        
        th, tr td {
            padding: 7px;
        }
        
        th {
            text-align: left;
            border: 1px solid #b9b9b9;
            background: #e8e8e8;
            font-size: 11px;
            color: #474747;
            
            @include linear-gradient(#ffffff, #e2e2e2);
        }

        tr {
            &:not(.empty) {
                border-bottom: 1px solid #ccc;
            }

            &:nth-child(even) {
                background: lighten(#ccc, 17%);
            }
        }

        tr td {
            padding: 5px;
            font-size: 11px;
            max-width: 100px;

            span {
                float: left;
            }
        }

        th, td {
            &.quick-view {
                width: 40px;
            }

            &.actions {
                width: 80px;
            }

            &.reorder {
                width: 150px;
            }
        }

        td.quick-view {
            height: 50px;
        }

        td.first {
            cursor: pointer;
            
            &:hover {
                color: #237AD7;
            }
        }

        &.body {
            margin-top: 0px;
        }
    }
}

.quick-view-tooltip {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: white;
    position: absolute;
    top: 0px;
    left: 0px;
}
