// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
@mixin csui-login {
    height: 100%;
    min-height: 630px;
    background-color: #385770;

    @include animation-duration(300ms);

    @include background(
            url(csui/img/login/brand-logo.png),
            url(csui/img/login/bottom-bar.png),
            url(csui/img/overlay-pattern.png),
            url(csui/img/login/gradient.png)
    );

    background-repeat: no-repeat, repeat-x, repeat, no-repeat;
    background-size: 300px, auto, auto, cover;
    background-position: center bottom 10px, bottom, center, center;

    form {
        @include row;

        background-color: #000812;
        background: rgba(#000812, 0.8);
        padding-top: 60px;
        padding-bottom: 60px;
        position: relative;
        top: 15%;

        .logo {
            @include shift(2);
            @include span-columns(4);
            @include animation-duration(1s);
            @extend .animated.fadeInLeft;

            background: url(csui/img/login/logo.png) no-repeat top center;
            float: left;
            height: 300px;
        }

        .fields {
            @include span-columns(3);

            color: white;

            input[type=text],
            input[type=password] {
                font-size: 13px;
                width: 100%;
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                border: 2px solid gray;

                &:focus {
                    border: 2px solid #6aa6e9;
                    outline: none;
                }
            }

            input[type=submit] {
                @include csui-button-cta;
            }

            select {
                @include csui-dropdown-dark;

                width: 100%;
                margin-top: 50px;
            }

            label {
                font-size: 12px;
            }
        }
    }
}