$csui-toolbar-field-height: 35px;

@mixin csui-toolbar {
    @include row;

    background: lighten(#e0e0e0, 5%);
    padding: 10px;

    .button.action {
        @include csui-button;

        float: right;
        margin-left: 10px;
    }

    input, label, select {
        float: left;
        margin: 0 10px 0 10px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        height: $csui-toolbar-field-height;
    }

    label {
        margin-right: 0px;
    }

    .search-bar {
        float: right;
    }
}