<?xml version="1.0" encoding="UTF-8"?>
<module name="cloud-auth-s3" class="com.cloud.bridge.auth.s3.AuthenticationModule">
   <inflow>
        <!-- add s3authentication to the axis2.xml file as first in user phases -->
        <handler name="InFlowS3AuthHandler" class="com.cloud.bridge.auth.s3.AuthenticationHandler">
        <order phase="s3authentication" />
        </handler>    
   </inflow>

   <INfaultflow>
        <handler name="FaultInFlowS3AuthHandler" class="com.cloud.bridge.auth.s3.AuthenticationHandler">
        <order phase="s3authentication"/>
        </handler>
   </INfaultflow>
   
 </module>

