Source: cloud
Section: libs
Priority: extra
Maintainer: Manuel Amador (Rudd-O) <manuel@cloud.com>
Build-Depends: debhelper (>= 7), openjdk-6-jdk, tomcat6, libws-commons-util-java, libcommons-dbcp-java, libcommons-collections-java, libcommons-httpclient-java, libservlet2.5-java, genisoimage, python-mysqldb
Standards-Version: 3.8.1
Homepage: http://techcenter.cloud.com/software/cloudstack

Package: cloud-deps
Provides: vmops-deps
Conflicts: vmops-deps
Replaces: vmops-deps
Architecture: any
Depends: openjdk-6-jre, cloud-agent-deps
Description: CloudStack library dependencies
 This package contains a number of third-party dependencies
 not shipped by distributions, required to run the CloudStack
 Cloud Stack.

Package: cloud-agent-deps
Provides: cloud-agent-deps
Conflicts: cloud-agent-deps
Replaces: cloud-agent-deps
Architecture: any
Depends: openjdk-6-jre
Description: CloudStack agent library dependencies
 This package contains a number of third-party dependencies
 not shipped by distributions, required to run the CloudStack
 Cloud Stack.


Package: cloud-utils
Provides: vmops-utils
Conflicts: vmops-utils
Replaces: vmops-utils
Architecture: any
Depends: openjdk-6-jre, python
Description: CloudStack utility library
 The CloudStack utility libraries provide a set of Java classes used
 in the CloudStack Cloud Stack.

Package: cloud-client-ui
Provides: vmops-client-ui
Conflicts: vmops-client-ui
Replaces: vmops-client-ui
Architecture: any
Depends: openjdk-6-jre, cloud-client (= ${source:Version})
Description: CloudStack management server UI
 The CloudStack management server is the central point of coordination,
 management, and intelligence in the CloudStack Cloud Stack.  This package
 is a requirement of the cloud-client package, which installs the
 CloudStack management server.

Package: cloud-server
Provides: vmops-server
Conflicts: vmops-server
Replaces: vmops-server
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version}), cloud-core (= ${source:Version}), cloud-deps (= ${source:Version}), libservlet2.5-java
Description: CloudStack server library
 The CloudStack server libraries provide a set of Java classes used
 in the CloudStack Cloud Stack.

Package: cloud-agent-scripts
Provides: vmops-agent-scripts, vmops-console, cloud-console, vmops-console-proxy
Conflicts: vmops-agent-scripts, vmops-console, cloud-console, vmops-console-proxy
Replaces: vmops-agent-scripts, vmops-console, cloud-console, vmops-console-proxy
Architecture: any
Depends: openjdk-6-jre, python, bash, bzip2, gzip, unzip, nfs-common, openssh-client
Description: CloudStack agent scripts
 The CloudStack agent is in charge of managing shared computing resources in
 a CloudStack Cloud Stack-powered cloud.  Install this package if this computer
 will participate in your cloud -- this is a requirement for the CloudStack
 agent.

Package: cloud-daemonize
Provides: vmops-daemonize
Conflicts: vmops-daemonize
Replaces: vmops-daemonize
Architecture: any
Description: CloudStack daemonization utility
 This package contains a program that daemonizes the specified
 process.  The CloudStack Cloud Stack uses this to start the agent
 as a service.

Package: cloud-core
Provides: vmops-core
Conflicts: vmops-core
Replaces: vmops-core
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version})
Description: CloudStack core library
 The CloudStack core libraries provide a set of Java classes used
 in the CloudStack Cloud Stack.

Package: cloud-test
Provides: vmops-test
Conflicts: vmops-test
Replaces: vmops-test
Architecture: any
Depends: openjdk-6-jre, wget, cloud-utils (= ${source:Version}), cloud-deps (= ${source:Version})
Description: CloudStack test suite
 The CloudStack test package contains a suite of automated tests
 that the very much appreciated QA team at CloudStack constantly
 uses to help increase the quality of the Cloud Stack.

Package: cloud-client
Provides: vmops-client
Conflicts: vmops-client
Replaces: vmops-client
Architecture: any
Depends: openjdk-6-jre, cloud-deps (= ${source:Version}), cloud-utils (= ${source:Version}), cloud-server (= ${source:Version}), cloud-client-ui (= ${source:Version}), cloud-setup (= ${source:Version}), cloud-agent-scripts (= ${source:Version}), cloud-python (= ${source:Version}), tomcat6, libws-commons-util-java, libcommons-dbcp-java, libcommons-collections-java, libcommons-httpclient-java, sysvinit-utils, chkconfig, sudo, jsvc, python-mysqldb, python-paramiko, augeas-tools, genisoimage, cloud-system-iso
Description: CloudStack client
 The CloudStack management server is the central point of coordination,
 management, and intelligence in the CloudStack Cloud Stack.  This package
 is required for the management server to work.

Package: cloud-setup
Provides: vmops-setup
Conflicts: vmops-setup
Replaces: vmops-setup
Architecture: any
Depends: openjdk-6-jre, python, cloud-utils (= ${source:Version}), cloud-deps (= ${source:Version}), cloud-server (= ${source:Version}), cloud-python (= ${source:Version}), python-mysqldb
Description: CloudStack client
 The CloudStack setup tools let you set up your Management Server and Usage Server.

Package: cloud-python
Architecture: any
Depends: python
Description: CloudStack Python library
 The CloudStack Python library contains a few Python modules that the
 CloudStack uses.

Package: cloud-agent-libs
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version}), cloud-core (= ${source:Version}), cloud-agent-deps (= ${source:Version}), libcommons-httpclient-java, libcommons-collections-java, libcommons-dbcp-java, libcommons-pool-java, libcommons-logging-java
Description: CloudStack agent libraries
 The CloudStack agent libraries are used by the Cloud Agent and the Cloud
 Console Proxy.

Package: cloud-agent
Provides: vmops-agent
Conflicts: vmops-agent
Replaces: vmops-agent
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version}), cloud-core (= ${source:Version}), cloud-agent-deps (= ${source:Version}), python, cloud-python (= ${source:Version}), cloud-agent-libs (= ${source:Version}), cloud-agent-scripts (= ${source:Version}), libcommons-httpclient-java, libcommons-collections-java, libcommons-dbcp-java, libcommons-pool-java, libcommons-logging-java, libvirt0, cloud-daemonize, sysvinit-utils, chkconfig, qemu-kvm, libvirt-bin,  uuid-runtime, rsync, grep, iproute, jnetpcap, ebtables, vlan, libcglib-java, libcommons-httpclient-java, libservlet2.5-java, liblog4j1.2-java, libjna-java, wget
Description: CloudStack agent
 The CloudStack agent is in charge of managing shared computing resources in
 a CloudStack Cloud Stack-powered cloud.  Install this package if this computer
 will participate in your cloud.

Package: cloud-system-iso
Architecture: any
Description: CloudStack system iso
 The CloudStack agent is in charge of managing shared computing resources in
 a CloudStack Cloud Stack-powered cloud.  Install this package if this computer
 will participate in your cloud.

Package: cloud-console-proxy
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version}), cloud-core (= ${source:Version}), cloud-deps (= ${source:Version}), cloud-agent-libs (= ${source:Version}), python, cloud-python (= ${source:Version}), libcommons-httpclient-java, libcommons-collections-java, libcommons-dbcp-java, libcommons-pool-java, libcommons-logging-java, cloud-daemonize, sysvinit-utils, chkconfig, augeas-tools, uuid-runtime, grep, iproute
Description: CloudStack console proxy
 The CloudStack console proxy is the service in charge of granting console
 access into virtual machines managed by the CloudStack CloudStack.

Package: cloud-usage
Provides: vmops-usage
Conflicts: vmops-usage
Replaces: vmops-usage
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version}), cloud-core (= ${source:Version}), cloud-deps (= ${source:Version}), cloud-server (= ${source:Version}), cloud-daemonize (= ${source:Version}), cloud-setup (= ${source:Version}), cloud-client (= ${source:Version})
Description: CloudStack usage monitor
 The CloudStack usage monitor provides usage accounting across the entire cloud for
 cloud operators to charge based on usage parameters.

Package: cloud-cli
Provides: cloud-cli
Architecture: any
Depends: openjdk-6-jre, cloud-utils (= ${source:Version}), cloud-core (= ${source:Version}), cloud-deps (= ${source:Version}), cloud-server (= ${source:Version}), cloud-daemonize (= ${source:Version}), cloud-setup (= ${source:Version}), cloud-client (= ${source:Version})
Description: CloudStack commandline tool
 The CloudStack commandline tool for invoking APi
