@charset "UTF-8";
/* CSS Document */


html,body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	height:auto;
	font-weight:normal;
	background:#333a41 url(../../custom1/images/custom_login_bg.gif) repeat-x top left;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

.login_logobox {
	width:181px;
	height:45px;
	float:left;
	background:url(../../custom1/images/client_login_logo.png) no-repeat top left;
	margin:0 0 0 75px;
	display:inline;
	padding:0;
}
.main_loginbox_bot {
	width:660px;
	height:109px;
	float:left;
	background:url(../../custom1/images/custom1_loginbox_bot.png) no-repeat top left;
	margin:0;
	padding:0;
}


#main_header {
	min-width:980px;
	width:100%;
	height:44px;
	float:left;
	background:#b84634 url(../../custom1/images/custom1_header_bg.jpg) repeat-x top left;
	margin:0;
	padding:0;
}

.header_left {
	width:309px;
	height:44px;
	float:left;
	background:url(../../custom1/images/custom1_headerleft.jpg) no-repeat top left;
	margin:0;
	padding:0;
}

.logo {
	width:80px;
	height:37px;
	float:left;
	background:url(../../custom1/images/custom1_logo.jpg) no-repeat top left;
	margin:0 0 0 8px;
	display:inline;
	padding:0;
}

.mgmtconsole_logo {
	width:157px;
	height:21px;
	float:left;
	background:url(../../custom1/images/custom1_mgmtconsole_logo.jpg) no-repeat top left;
	margin:14px 0 0 2px;
	display:inline;
	padding:0;
}


.language_dropdownpanel {
	width:103px;
	height:19px;
	float:left;
	position:relative;
	background:url(../../custom1/images/custom1_language_bg.gif) no-repeat top left;
	margin:-3px 0 0 8px;
	display:inline;
	padding:0;
	cursor:pointer;
	cursor:hand;
}

.language_dropdownpanel:hover {
	background:url(../../custom1/images/custom1_language_bg_hover.gif) no-repeat top left;
}

.language_icon {
	width: 13px;
	height:12px;
	float:left;
	background:url(../../custom1/images/custom1_language_icon.gif) no-repeat top left;
	margin:3px 0 0 5px;
	display:inline;
	padding:0;
}

.language_dropdownbox {
	width:101px;
	height:auto;
	position:absolute;
	background:#a44031 repeat top left;
	border:1px solid #d87d58;
	margin:0;
	padding:0 0 15px 0;
	top:17px;
	z-index:1010;
}

.leftmenu_panel {
	width:221px;
	height:100%;
	min-height:1025px;
	float:left;
	background:#f3f3f3 repeat top left;
	border-right:1px dotted #262626;
	border-top:1px solid #FFF;
	margin:0 0 0 -100%;
	padding:0;
}

.leftmenu_list{
	width:100%;
	height:auto;
	float:left; 
	margin:0;
	padding:0;
	background:url(../../custom1/images/custom1_leftmenubg.gif) repeat-x bottom left;
	border-bottom:1px dotted #333;
}

.leftmenu_expandedbox{
	width:100%;
	height:auto;
	float:left;
	position:relative;
	background:#9fa983 url(../../custom1/images/custom1_leftmenu_expanded.gif) repeat-x top left;
	border-bottom:1px solid #FFF;
	margin:0;
	padding:0;
	overflow-x:scoll;
	overflow-x:auto;
	overflow-y:hidden;
}

.leftmenu_content_flevel.selected{
	background:#8a8a8a url(../../custom1/images/custom1_leftmenu_highlighted.gif) repeat-x top left;
	border-bottom:1px dotted #333;
	font-weight:bold;
	color:#FFF;
}

.leftmenu_content_flevel:hover{
	background:#f7f7f7 url(../../custom1/images/custom1_leftmenu_hover.gif) repeat-x top left;
}

.leftmenu_content:hover{
	color:#7c8559;
	background:#919b6c repeat top left;
}

.leftmenu_content.selected{
	color:#FFF;
	background:#b6b6b6 url(../../custom1/images/custom1_leftmenu_contentselected.gif) repeat-x top left;
	border-bottom:1px solid #666666;
}

.leftmenu_secondindent{
	min-width:180px;
	max-width:auto;
	height:auto;
	float:left;
	color:#333;
	margin:7px 0 0 30px;
	display:inline;
	padding:0;
}

.leftmenu_thirdindent{
	min-width:160px;
	max-width:auto;
	height:auto;
	float:left;
	color:#333;
	margin:7px 0 0 50px;
	display:inline;
	padding:0;
}

.leftmenu_fourthindent{
	min-width:200px;
	max-width:auto;
	height:auto;
	float:left;
	color:#333;
	margin:7px 0 0 70px;
	display:inline;
	padding:0;
}

.leftmenu_fifthindent{
	min-width:200px;
	max-width:auto;
	height:auto;
	float:left;
	color:#333;
	margin:7px 0 0 100px;
	display:inline;
	padding:0;
}

.leftmenu_sixthindent{
	min-width:200px;
	max-width:auto;
	height:auto;
	float:left;
	color:#333;
	margin:7px 0 0 120px;
	display:inline;
	padding:0;
}

.leftmenu_domainindent{
	min-width:180px;
	max-width:auto;
	height:auto;
	float:left;
	color:#333;
	margin:7px 0 0 30px;
	display:inline;
	padding:0;
}


.actionpanel {
	width:100%;
	height:27px;
	float:left;
	background: url(../../custom1/images/custom1_actionpanel_bg.gif) repeat-x top left;
	margin:0;
	padding:0;
}

.searchpanel {
	width:223px;
	height:27px;
	float:left;
	margin:0;
	padding:0;
	background:url(../../custom1/images/custom1_actionpanel_border.gif) no-repeat top right;
	list-style:none
}

.searchpanel_filterbutton {
	width:16px;
	height:16px;
	float:left;
	margin:5px 0 0 4px;
	display:inline;
	background:url(../../custom1/images/custom1_filter_downarrow.gif) no-repeat top left;
	cursor:pointer;
	cursor:hand;
}

.searchpanel_filterbutton.up {
	background:url(../../custom1/images/custom1_filter_uparrow.gif) no-repeat top left;
}

.search_textbg {
	width:186px;
	height:16px;
	float:left;
	background:url(../../custom1/images/custom1_search_textbg.gif) no-repeat top left;
	margin:0;
	padding:0;
}

.actionpanel_button_wrapper{
	width:auto;
	height:27px;
	float:left;
	margin:0;
	padding:0;
	background:url(../../custom1/images/custom1_actionpanel_border.gif) no-repeat top right;
}

.actionpanel_button_links{
	width:auto;
	height:auto;
	color:#333;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	float:left;
	margin:7px 11px 0 5px;
	padding:0;
}


.actionpanel_button:hover{
	background:url(../../custom1/images/custom1_actionpanel_hover.gif) repeat-x top right;
	color:#FFF;
}

.midmenu_panel {
	width:221px;
	min-height:1000px;
	height:auto;
	float:left;
	position:relative;
	background:#fdfaf0 repeat top left;
	border-right:1px solid #aeb9c5;
	margin:27px 0 0 -100%;
	display:inline;
	padding:0;
}

.midmenu_list{
	width:220px;
	height:auto;
	float:left;
	background:#fef8e5 url(../../custom1/images/custom1_midmenubg.gif) repeat-x bottom left;
	border-bottom:1px dotted #333;
	margin:0;
	padding:0;
}

.midmenu_content:hover{
	background:#f6efce url(../../custom1/images/custom1_midmenu_hover.gif) repeat-x top left;
	color:#333;
}

.midmenu_content.selected {
	background:#b6b6b6 url(../../custom1/images/custom1_midmenu_selected.gif) repeat-x top left;
	color:#333;

}


.tabbox {
	width:100%;
	height:auto;
	float:left;
	margin:0;
	padding:0;
	border:none;
}

.content_tabs {
	width:101px;
	height:27px;
	float:left;
	font-size:11px;
	margin:0 0 0 0;
	text-align:center;
	padding:6px 0 0 0;
	display:inline;

}

.content_tabs.on {
	background:url(../../custom1/images/custom1_contenttab_ON.gif) no-repeat bottom left;
	color:#FFF;
	border-right:1px dotted #333;


}

.content_tabs.off {
	background:none;
	color:#333;
	cursor:pointer;
	cursor:hand;
	border-right:1px dotted #333;


}

.content_tabs.off:hover {
	background:url(../../custom1/images/custom1_contenttab_hover.gif) no-repeat bottom left;
	color:#333;
	cursor:pointer;
	cursor:hand;
}

.adv_searchpopup_bg {
	width:100%;
	height:auto;
	float:left;
	background:#777777 url(../../custom1/images/custom1_adv_searchbg.gif) repeat-x top left;
	border-bottom:1px solid #2d2d2d;
	margin:0;
	padding:0 0 9px 0;
}
