body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.sidebar-nav {
    padding: 9px 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

div.loading {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('/static/images/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
