@charset "UTF-8";
/* CSS Document */

#header{
	min-width:1000px;
	width:100%;
	float:left;
	height:129px;
	background:url(../images/v1header_bg.gif) repeat-x top left;
	margin:0;
	padding:0;
}

a.logo {
	 width:201px;
	 height:77px;
	 float:left;
	 margin-left:10px;
	 background:url(../images/cloud_logo.gif) no-repeat top left;
	 display:inline;
	 padding:0;
	 text-decoration:none;
}

.logout_logo {
	width:167px;
	height:70px;
	float:right;
	background:url(../images/logout_cloudlogo.gif) no-repeat top left;
	margin:43px 99px 0 0;
	display:inline;
	padding:0;
}

a:hover.logo {
	 text-decoration:none;
}

.vmpopup_left {
	 width:33px;
	 height:588px;
	 float:left;	
	 background: url(../images/v1_vmopoup_left.png) no-repeat top left;
	 margin:0;
	 padding:0;
	 overflow:hidden;
}

.vmpopup_mid {
	 width:863px;
	 height:588px;
	 float:left;	
	 background: url(../images/v1_vmopoup_mid.png) repeat-x top left;
	 margin:0;
	 padding:0;
}

.vmpopup_right {
	 width:33px;
	 height:588px;
	 float:left;	
	 background: url(../images/v1_vmopoup_right.png) no-repeat top left;
	 margin:0;
	 padding:0;
	 overflow:hidden;
}

.allsteps_container {
	width:848px;
	height:130px;
	 background:url(../images/v1stepcontainer_bg.gif) repeat-x top left;
	border:1px solid #e9e9e9;
	float:left;
	margin:0;
	padding:0;
}

.steps_box_selected {
	width:212px;
	height:130px;
	float:left;
	background:#748c03 url(../images/v1stepbox_slected.gif) repeat-x top left;
	margin:0;
	padding:0;
}

.stepbox_right h3 {
	width:150px;
	height:auto;
	color:#FFF;
	float:left;
	text-align:left;
	font-size:15px;
	font-weight:bold;
	margin:28px 0 0 8px;
	display:inline;
}


.stepbox_right p {
	width:150px;
	height:auto;
	color:#FFF;
	float:left;
	text-align:justify;
	font-size:11px;
	font-weight:normal;
	margin:8px 0 0 8px;
	display:inline;
}

.usernav_containerleft{
    width:11px;
	float:left;
	height:26px;
	background:url(../images/userlinks_bgleft.gif) no-repeat top left;
	margin:0;
	padding:0;
	overflow:hidden;
}

.usernav_containermid{
    width:auto;
	height:26px;
	background: url(../images/userlinks_bgmid.gif) repeat-x top left;
	margin:0;
	padding:0;
	
}

/* hide from mac \*/ 
* html .usernav_containerleft {margin-right: -3px;} 
* html .usernav_containermid {margin-left: 0;} 
/* end hide */ 


.usernav_containerright{
    width:11px;
	float:left;
	height:26px;
	background: url(../images/userlinks_bgright.gif) no-repeat top left;
	margin:0 0 0 -11px;
	padding:0;
}

.usernav {
	white-space:nowrap;
	margin:0 0 0 0;
	width:auto;
	padding-right:25px;
	padding-top:5px;
	padding-left:25px;
	height:auto;
	font-size:11px;
	color:#FFF;
	text-align:left;
}


.menutab_off {
	cursor:pointer;
	cursor:hand;
	width:156px;
	height:26px;
	float:left;
	background:url(../images/v1menutab_off.gif) no-repeat top left;
	margin-right:1px;
	padding-top:11px;
	color:#252525;
	font-size:14px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}

.menutab_off:hover {
	background:url(../images/v1menutab_off_hover.gif) no-repeat top left;
	color:#FFF;

}

.menutab_on{
	width:156px;
	height:26px;
	float:left;
	background:url(../images/v1menutab_on.gif) no-repeat top left;
	margin-right:1px;
	padding-top:11px;
	color:#000;
	font-size:14px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}


.admin_menutab_off {
	cursor:pointer;
	cursor:hand;
	width:94px;
	height:24px;
	float:left;
	background:url(../images/v1admin_menutab_off.gif) no-repeat top left;
	margin-right:1px;
	margin-top:2px;
	padding-top:11px;
	color:#252525;
	font-size:12px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}

.admin_menutab_off:hover {
	background:url(../images/v1admin_menutab_off_hover.gif) no-repeat top left;
	color:#FFF;
}

.admin_menutab_on{
	width:94px;
	height:24px;
	float:left;
	background:url(../images/v1admin_menutab_on.gif) no-repeat top left;
	margin-right:1px;
	margin-top:2px;
	padding-top:11px;
	color:#000;
	font-size:12px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}

.grid_header {
	width:100%;
	height:24px;
	float:left;
	margin:0;
	padding:0;
	background:url(../images/v1gridheader_bg.gif) repeat-x top left;
}

a.add_newvmbutton {
	width:103px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addnewvm_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_newvmbutton  {
	background:url(../images/v1addnewvm_button_hover.gif) no-repeat top left;
}


a.add_hostbutton {
	width:63px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addhost_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_hostbutton  {
	background:url(../images/v1addhost_button_hover.gif) no-repeat top left;
}

a.add_storagepoolbutton {
	width:115px;
	height:28px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addpstorage_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_storagepoolbutton  {
	background:url(../images/v1addpstorage_button_hover.gif) no-repeat top left;
}

a.add_secondary_storagebutton {
	width:129px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addsstorage_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_secondary_storagebutton  {
	background:url(../images/v1addsstorage_button_hover.gif) no-repeat top left;
}

a.add_volumebutton {
	width:74px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addvolume_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_volumebutton  {
	background:url(../images/v1addvolume_button_hover.gif) no-repeat top left;
}

a.add_publicipbutton {
	width:89px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1aquireip_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_publicipbutton {
	background:url(../images/v1aquireip_button_hover.gif) no-repeat top left;
}

a.add_sgroupbutton {
	width:173px;
	height:28px;
	float:left;
	margin-left:10px;
	display:inline;
	background:url(../images/v1addsggroup_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_sgroupbutton {
	background:url(../images/v1addsggroup_button_hover.gif) no-repeat top left;
}

a.add_loadbalancerbutton {
	width:167px;
	height:28px;
	float:left;
	margin-left:10px;
	display:inline;
	background:url(../images/v1addloadbalncer_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_loadbalancerbutton {
	background:url(../images/v1addloadbalncer_button_hover.gif) no-repeat top left;
}

a.add_newtemplatebutton {
	width:92px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addtemplate_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_newtemplatebutton {
	background:url(../images/v1addtemplate_button_hover.gif) no-repeat top left;
}

a.add_newisobutton {
	width:70px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addiso_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_newisobutton {
	background:url(../images/v1addiso_button_hover.gif) no-repeat top left;
}

a.add_serviceoffbutton {
	width:116px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addserviceoff_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_serviceoffbutton  {
	background:url(../images/v1addserviceoff_button_hover.gif) no-repeat top left;
}

a.add_diskoffbutton {
	width:102px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1adddiskoff_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_diskoffbutton  {
	background:url(../images/v1adddiskoff_button_hover.gif) no-repeat top left;
}

.gridheader_morebutton {
	width:58px;
	height:24px;
	float:right;
	background:url(../images/v1grid_morebutton.gif) no-repeat top left;
	margin-right:10px;
	padding:0;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

.gridheader_morebutton:hover {
		background:url(../images/v1grid_morebutton_hover.gif) no-repeat top left;
}

/* Customized jquery css
----------------------------------*/


.ui-widget-header { 
	border: 1px solid #c0bfbf; 
	background: #41546d url(../images/v1_popupheaderbg.gif) 50% 50% repeat-x; 
	color: #FFF; 
	font-weight: bold; 
}

.ui-state-default, .ui-widget-content .ui-state-default { height:25px; border: 1px solid #c0bfbf; background: #809617 url(../images/v1_popupbuttonbg.gif) 50% 50% repeat-x; font-weight: normal; color: #FFF; outline: none; padding-top:-0.2em; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #c0bfbf; background: #809617 url(../images/v1_popupbuttonbg_hover.gif) 50% 50% repeat-x; font-weight: normal; color: #FFF; outline: none; padding-top:-0.2em;}


.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: -0.2em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: -0.2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }


/* Form in dialog
----------------------------------*/
.dialog_formcontent{ width:auto; height:auto; float:left; margin-top:10px; padding:0; color:#FFF; font-size:11px; margin-left:0; display:inline;}
.dialog_formcontent ol { width:auto; height:auto; color:#333; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; list-style:none; margin:0; padding:0;}
.dialog_formcontent li { width:auto; height:auto; float:left; padding-bottom: 2px; color:#FFF; font-size:12px; font-weight:normal; text-align:left; margin:0 0 0 0;}
.dialog_formcontent label { width:100px; float:left; text-align:left; font-weight:bold; margin:0px 5px 5px 5px; color:#333; font-size:11px; font-weight:normal;}
.dialog_formcontent p{ width:auto; float:left; text-align:left; font-weight:bold; margin:0; color:#333; font-size:11px; font-weight:normal;}
.dialog_formcontent .radio { width:15px; height:15px; float:left; margin:0 10px 0 0; padding:0;}
.dialog_formcontent .checkbox { width:12px; height:12px; float:left; margin:0 10px 0 0; padding:0;}
.dialog_formcontent .text { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 16px; width: 150px; margin:0 5px 3px 0; padding:0; color:#666;}
.dialog_formcontent .text2 { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: auto; margin:0 0 0 0; padding:0; color:#666;}
.dialog_formcontent .smalltext { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: 67px; margin:0 5px 3px 0 padding:0; color:#666;}
.dialog_formcontent .error_smalltext { background-color: #fbabb3; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: 67px; margin:0 5px 3px 0; padding:0; color:#666;}
.dialog_formcontent_errormsg {font: normal 10px Arial, Helvetica, sans-serif; float:left; height: auto; width: 160px; margin:0 10px 2px 110px; padding:0; color:#F00; display:inline;}
.dialog_formcontent_errormsg_long {font: normal 10px Arial, Helvetica, sans-serif; float:left; height: auto; width: 250px; margin:2px 10px 2px 0;  padding:0; color:#F00; display:inline;}
.dialog_formcontent .select { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: auto; min-width: 153px; padding:0; color:#666; margin:0 10px 3px 0;}
.dialog_formcontent .snapselect { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: auto; width: 70px; padding:0; color:#666; margin:0 0 0 0;}
.dialog_formcontent .error_text { background-color: #fbabb3; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: 150px; margin:0 10px 0 0; padding:0; color:#666;} 
.dialog_formcontent .error_text2 { background-color: #fbabb3; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: auto; margin:0 0 0 0; padding:0; color:#666;} 
.dialog_formcontent .error_icon { width:15px; height:12px; float:left; background:url(images/alert_icon.png) no-repeat top left; margin:2px 0 0 3px; padding:0;}
.dialog_formcontent span {font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:left; color:#333; font-weight:normal; float:left; margin:0 5px 0 0; padding:0;}
.dialog_formcontent a { color:#2c8bbc; font-size:11px; font-weight:normal; text-align:left; text-decoration:underline; float:left; margin:0; padding:0;}
.dialog_formcontent a:link .dialog_formcontent a:visited { text-decoration:underline;}
dialog_formcontent a:hover { text-decoration:none;}

/* Snapshots in dialog
----------------------------------*/
.dialog_snapshotbox {width:auto; height:auto; float:left; display:block;  margin:0; padding:0;}
.dialog_snapshotcontainer {width:auto height:auto; display:block; float:left; margin:0; padding:0;}
.dialog_snapshotleft {width:500px; height:135px; float:left;display:block;  margin:0; padding:0;}
.dialog_snapshotleft_list {width:705px; height:auto; float:left; margin:0 0 10px 0; padding:0;  color:#333; font-size:11px;}
.dialog_snapshotleft_info {width:470px; height:auto; float:left; margin:0 0 10px 0; padding:0;  color:#333; font-size:11px;}
.dialog_snapshotleft_info p {width:auto; height:auto; float:left; color:#333; font-size:11px; font-weight:normal; margin:0; padding:0;}
.dialog_snapshotleft_info span {width:auto; height:auto; float:left; color:#333; font-size:11px; font-weight:bold; margin:0 2px 0 2px; padding:0;}
.dialog_snapshotleft_label {width:60px; height:auto; float:left; color:#457700; font-size:11px; font-weight:bold; margin:0; padding:0;}
.dialog_snapshotleft_max {width:75px; height:auto; float:left; margin:0 5px 0 0; padding:0;  color:#333; font-size:11px;}
.dialog_snapshotleft_max p {width:auto; height:auto; float:left; margin:0 5px 0 0; padding:0;  color:#666; font-weight:bold; font-size:11px;}
.dialog_snapshotleft_max span {width:auto; height:auto; float:left; color:#333; font-size:11px; font-weight:bold; margin:0; padding:0;}
.dialog_snapshotleft_actions {width:80px; height:auto; float:left; margin:0 5px 0 0; padding:0;  color:#333; font-size:11px;}
.dialog_snapshotleft_actions a:link {width:auto; height:auto; margin:0 5px 0 0; padding:0;  color:#2c8bbc; text-decoration:none; font-size:11px;}
.dialog_snapshotleft_actions a:visited {width:auto; height:auto; margin:0 5px 0 0; padding:0;  color:#2c8bbc; text-decoration:none; font-size:11px;}
.dialog_snapshotleft_actions a:hover {width:auto; height:auto; margin:0 5px 0 0; padding:0;  color:#2c8bbc; text-decoration:underline; font-size:11px;}
.dialog_snapshotright {width:705px; height:0px; float:left; display:none;  margin:0; padding:15px 0 0 0;  border-top:1px solid #666;}
.dialog_snapshotright_infotext{width:360px; height:160px; float:left; display:none;  margin:0; padding:0; font-size:15px; font-family:Arial, Helvetica, sans-serif; font-size:normal; text-align:left; margin:10px; color:#333;}
.dialog_snapshots_editcontent {width:350px; height:auto; float:left; margin:0; padding:0;}
.dialog_snapshots_editcontent_title {width:280px; height:auto; float:left; margin:0; padding:0;}
.dialog_snapshots_editcontent_title p {width:auto; height:auto; float:left; margin:0; padding:0; font-size:14px; font-weight:normal;}
.dialog_snapshots_editcontent_title span{width:auto; height:auto; float:left; margin:0 0 0 5px; display:inline; padding:0; font-size:14px; font-weight:bold;}


/* Snapshots
----------------------------------*/
.dialog_snapshotformcontent{ width:370px; height:auto; float:left; margin-top:10px; padding:0; color:#FFF; font-size:11px; margin-left:0; display:inline;}
.dialog_snapshotformcontent h2{ width:auto; height:auto; float:left; margin-left:10px; padding:0; font-size:15px; color:#77c4df; font-weight:normal;}
.dialog_snapshotformcontent ol { width:auto; height:auto; color:#333; float:left; font-family:Arial, Helvetica, sans-serif; font-size:11px; list-style:none; margin:0; padding:0;}
.dialog_snapshotformcontent li { width:auto; float:left; padding-bottom: 5px; color:#FFF; font-size:12px; font-weight:normal; text-align:left; margin-top:5px;}
.dialog_snapshotformcontent label { width:auto; float:left; text-align:left; font-weight:bold; margin:0 5px 0 5px; color:#333; font-size:11px; font-weight:normal;}
.dialog_snapshotformcontent span { width:auto; float:left; text-align:left; font-weight:normal; margin: 0 0 0 5px; color:#333; font-size:11px; font-weight:normal;}
.dialog_snapshotformcontent .radio { width:15px; height:15px; float:left; margin:0; padding:0;}
.dialog_snapshotformcontent .checkbox { width:15px; height:15px; float:left; margin:0; padding:0;}
.dialog_snapshotformcontent .text { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: 200px; margin:0; padding:0; color:#666;}
.dialog_snapshotformcontent .error_text { background-color: #fbabb3; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: 200px; margin:0; padding:0; color:#666;}
.dialog_snapshotformcontent a[title] { background-color: #FFF; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: 14px; width: 200px; margin:0; padding:0; color:#666;}
.dialog_snapshotformcontent .select { background-color: #f4f2f2; font: normal 11px Arial, Helvetica, sans-serif; float:left; border: 1px solid #999; height: auto; min-width: 150px; margin-left:5px; padding:0; color:#666;}
.frequency_left {width:150px; height:30px; float:left; margin:0; padding:0;}
.frequency_left h2 {width:auto; height:auto; float:left; margin-left:3px; padding:0; font-size:15px; color:#77c4df; font-weight:normal; }
.retention_right {width:200px; height:30px; float:left; margin:0; padding:0;}
.retention_right h2 {width:auto; height:auto; float:left; margin-left:3px; padding:0; font-size:15px; color:#77c4df; font-weight:normal; }


/* Selectable
----------------------------------*/
.selectable .ui-selecting { background: #cbe4eb; }
.selectable .ui-selected { background: #cbe4eb; color: #333; }
.selectable {width:220px; height:190px; margin:20px 0 0 10px; float:left; list-style-type: none; padding: 0; overflow-x:hidden;overflow-y:auto; display:inline;}
.selectable li { width: 183px; height:15px; margin: 3px; padding: 0.4em; font-size: 11px; background:#FFF repeat top left; border:1px solid #e2e2e2; font-family:Arial, Helvetica, sans-serif; }
.sortable_grouppanel { width:525px; height:auto; float:left; margin:5px; padding:0;}
.sortable_grouppanel h2 { width:200px; height:auto; float:left; font-size:15px; color:#77c4df; font-weight:normal; text-align:left; margin:0; padding:0;}
.sortable_group_left { width:236px; height:250px; float:left; margin:0; padding:0;}
.sortable_group_mid { width:50px; height:250px; float:left; margin:0; padding:0;}
.sortable_direction_box {width:41px; height:55px; float:left; margin:70px 0 0 7px; display:inline; padding:0;}
.rightarrow_button {width:41px; height:23px; float:left; text-decoration: none; margin:0; padding:0; background:url(images/sortable_rightarrow.gif) no-repeat top left; cursor:pointer; cursor:hand;}
.rightarrow_button:hover {background:url(images/sortable_rightarrow_hover.gif) no-repeat top left;}
.leftarrow_button {width:41px; height:23px; float:left; text-decoration: none; margin-top:9px; padding:0; background:url(images/sortable_leftarrow.gif) no-repeat top left; cursor:pointer; cursor:hand;}
.leftarrow_button:hover {background:url(images/sortable_leftarrow_hover.gif) no-repeat top left;}
.sortable_group_right { width:236px; height:250px; float:left; margin:0; padding:0;}
.sortable_groupbox{ width:233px; height:220px; float:left; margin-top:5px; padding:0; background:url(images/sortable_groupbox.gif);}
.selectable_errorbox { width:492px; height:auto; float:left; background:#fcf3f2 repeat top left; border:1px solid #f2a89f;color:#d23c2b; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin: 5px 0 0 10px;; display:inline;}
.selectable_errorbox p { width:auto; height:auto; float:left; margin: 5px; display:inline;}
.selectable_commentbox { width:492px; height:auto; float:left; background:#fff5d4 repeat top left; border:1px solid #ddbb45; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin: 5px 0 0 10px; display:inline;}
.selectable_commentbox p { width:auto; height:auto; float:left; margin: 5px; display:inline;}
.selectable_loader { width:16px; height:16px; background:url(images/comment_loader.gif) no-repeat top left; float:left; margin:5px;}

