@charset "UTF-8";
/* CSS Document */

#header{
	min-width:1000px;
	width:100%;
	float:left;
	height:129px;
	background:url(../images/v1header_bg.gif) repeat-x top left;
	margin:0;
	padding:0;
}

a.logo {
	 width:201px;
	 height:77px;
	 float:left;
	 margin-left:10px;
	 background:url(../images/cloud_logo.gif) no-repeat top left;
	 display:inline;
	 padding:0;
	 text-decoration:none;
}

.logout_logo {
	width:167px;
	height:70px;
	float:right;
	background:url(../images/logout_cloudlogo.gif) no-repeat top left;
	margin:43px 99px 0 0;
	display:inline;
	padding:0;
}

a:hover.logo {
	 text-decoration:none;
}

.vmpopup_left {
	 width:33px;
	 height:588px;
	 float:left;	
	 background: url(../images/v1_vmopoup_left.png) no-repeat top left;
	 margin:0;
	 padding:0;
	 overflow:hidden;
}

.vmpopup_mid {
	 width:863px;
	 height:588px;
	 float:left;	
	 background: url(../images/v1_vmopoup_mid.png) repeat-x top left;
	 margin:0;
	 padding:0;
}

.vmpopup_right {
	 width:33px;
	 height:588px;
	 float:left;	
	 background: url(../images/v1_vmopoup_right.png) no-repeat top left;
	 margin:0;
	 padding:0;
	 overflow:hidden;
}

.allsteps_container {
	width:848px;
	height:130px;
	 background:url(../images/v1stepcontainer_bg.gif) repeat-x top left;
	border:1px solid #e9e9e9;
	float:left;
	margin:0;
	padding:0;
}

.steps_box_selected {
	width:212px;
	height:130px;
	float:left;
	background:#748c03 url(../images/v1stepbox_slected.gif) repeat-x top left;
	margin:0;
	padding:0;
}

.stepbox_right h3 {
	width:150px;
	height:auto;
	color:#FFF;
	float:left;
	text-align:left;
	font-size:15px;
	font-weight:bold;
	margin:28px 0 0 8px;
	display:inline;
}


.stepbox_right p {
	width:150px;
	height:auto;
	color:#FFF;
	float:left;
	text-align:justify;
	font-size:11px;
	font-weight:normal;
	margin:8px 0 0 8px;
	display:inline;
}

.usernav_containerleft{
    width:11px;
	float:left;
	height:26px;
	background:url(../images/userlinks_bgleft.gif) no-repeat top left;
	margin:0;
	padding:0;
	overflow:hidden;
}

.usernav_containermid{
    width:auto;
	height:26px;
	background: url(../images/userlinks_bgmid.gif) repeat-x top left;
	margin:0;
	padding:0;
	
}

/* hide from mac \*/ 
* html .usernav_containerleft {margin-right: -3px;} 
* html .usernav_containermid {margin-left: 0;} 
/* end hide */ 


.usernav_containerright{
    width:11px;
	float:left;
	height:26px;
	background: url(../images/userlinks_bgright.gif) no-repeat top left;
	margin:0 0 0 -11px;
	padding:0;
}

.usernav {
	white-space:nowrap;
	margin:0 0 0 0;
	width:auto;
	padding-right:25px;
	padding-top:5px;
	padding-left:25px;
	height:auto;
	font-size:11px;
	color:#FFF;
	text-align:left;
}


.menutab_off {
	cursor:pointer;
	cursor:hand;
	width:156px;
	height:26px;
	float:left;
	background:url(../images/v1menutab_off.gif) no-repeat top left;
	margin-right:1px;
	padding-top:11px;
	color:#252525;
	font-size:14px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}

.menutab_off:hover {
	background:url(../images/v1menutab_off_hover.gif) no-repeat top left;
	color:#FFF;

}

.menutab_on{
	width:156px;
	height:26px;
	float:left;
	background:url(../images/v1menutab_on.gif) no-repeat top left;
	margin-right:1px;
	padding-top:11px;
	color:#000;
	font-size:14px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}


.admin_menutab_off {
	cursor:pointer;
	cursor:hand;
	width:94px;
	height:24px;
	float:left;
	background:url(../images/v1admin_menutab_off.gif) no-repeat top left;
	margin-right:1px;
	margin-top:2px;
	padding-top:11px;
	color:#252525;
	font-size:12px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}

.admin_menutab_off:hover {
	background:url(../images/v1admin_menutab_off_hover.gif) no-repeat top left;
	color:#FFF;
}

.admin_menutab_on{
	width:94px;
	height:24px;
	float:left;
	background:url(../images/v1admin_menutab_on.gif) no-repeat top left;
	margin-right:1px;
	margin-top:2px;
	padding-top:11px;
	color:#000;
	font-size:12px;
	font-weight:100;
	text-decoration:none;
	text-align:center;
}

.grid_header {
	width:100%;
	height:24px;
	float:left;
	margin:0;
	padding:0;
	background:url(../images/v1gridheader_bg.gif) repeat-x top left;
}

a.add_newvmbutton {
	width:103px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addnewvm_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_newvmbutton  {
	background:url(../images/v1addnewvm_button_hover.gif) no-repeat top left;
}


a.add_hostbutton {
	width:63px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addhost_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_hostbutton  {
	background:url(../images/v1addhost_button_hover.gif) no-repeat top left;
}

a.add_storagepoolbutton {
	width:115px;
	height:28px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addpstorage_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_storagepoolbutton  {
	background:url(../images/v1addpstorage_button_hover.gif) no-repeat top left;
}

a.add_secondary_storagebutton {
	width:129px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addsstorage_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_secondary_storagebutton  {
	background:url(../images/v1addsstorage_button_hover.gif) no-repeat top left;
}

a.add_volumebutton {
	width:74px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addvolume_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_volumebutton  {
	background:url(../images/v1addvolume_button_hover.gif) no-repeat top left;
}

a.add_publicipbutton {
	width:89px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1aquireip_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_publicipbutton {
	background:url(../images/v1aquireip_button_hover.gif) no-repeat top left;
}

a.add_sgroupbutton {
	width:173px;
	height:28px;
	float:left;
	margin-left:10px;
	display:inline;
	background:url(../images/v1addsggroup_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_sgroupbutton {
	background:url(../images/v1addsggroup_button_hover.gif) no-repeat top left;
}

a.add_loadbalancerbutton {
	width:167px;
	height:28px;
	float:left;
	margin-left:10px;
	display:inline;
	background:url(../images/v1addloadbalncer_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_loadbalancerbutton {
	background:url(../images/v1addloadbalncer_button_hover.gif) no-repeat top left;
}

a.add_newtemplatebutton {
	width:92px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addtemplate_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_newtemplatebutton {
	background:url(../images/v1addtemplate_button_hover.gif) no-repeat top left;
}

a.add_newisobutton {
	width:70px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addiso_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_newisobutton {
	background:url(../images/v1addiso_button_hover.gif) no-repeat top left;
}

a.add_serviceoffbutton {
	width:116px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1addserviceoff_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_serviceoffbutton  {
	background:url(../images/v1addserviceoff_button_hover.gif) no-repeat top left;
}

a.add_diskoffbutton {
	width:102px;
	height:22px;
	float:left;
	margin:3px 0 0 10px;
	display:inline;
	background:url(../images/v1adddiskoff_button.gif) no-repeat top left;
	padding:0;
}

a:hover.add_diskoffbutton  {
	background:url(../images/v1adddiskoff_button_hover.gif) no-repeat top left;
}

.gridheader_morebutton {
	width:58px;
	height:24px;
	float:right;
	background:url(../images/v1grid_morebutton.gif) no-repeat top left;
	margin-right:10px;
	padding:0;
	text-decoration:none;
	cursor:pointer;
	cursor:hand;
}

.gridheader_morebutton:hover {
		background:url(../images/v1grid_morebutton_hover.gif) no-repeat top left;
}

.ui-widget-header { 
	border: 1px solid #c0bfbf; 
	background: #41546d url(../images/v1_popupheaderbg.gif) 50% 50% repeat-x; 
	color: #FFF; 
	font-weight: bold; 
}

.ui-state-default, .ui-widget-content .ui-state-default { height:25px; border: 1px solid #c0bfbf; background: #809617 url(../images/v1_popupbuttonbg.gif) 50% 50% repeat-x; font-weight: normal; color: #FFF; outline: none; padding-top:-0.2em; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #c0bfbf; background: #809617 url(../images/v1_popupbuttonbg_hover.gif) 50% 50% repeat-x; font-weight: normal; color: #FFF; outline: none; padding-top:-0.2em;}


.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: -0.2em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: -0.2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
