// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

// Admin dashboard
.dashboard.admin {
    .sub.alerts {
        width: 50%;
        float: left;
        padding: 15px;

        ul {
            height: 200px;
            overflow: auto;
            padding: 0;
            border: 1px solid #ededed;
            margin-top: 0px;

            li {
                @include row;
                
                list-style: none;
                border-bottom: 1px solid #ededed;
                padding: 5px;
                margin: 10px;

                .title {
                    @include row;
                    
                    margin: 0 0 20px;
                    font-weight: bold;
                }

                p {
                    margin: 0;
                    padding: 0;
                    color: lighten(black, 25%);
                    white-space: no-wrap;
                }
            }
        }

        .top {
            @include row;
            @include csui-toolbar;
            
            min-height: 55px;

            .title {
                float: left;
                padding-top: 8px;
            }
            
            .button.view-all {
                @include csui-button;
                
                float: right;
            }
        }
    }

    .zone-stats {
        @include row;

        margin: 15px;

        ul {
            padding: 0;
            
            li {
                width: 200px;
                height: 200px;
                margin: 15px;
                list-style: none;
                float: left;
                border: 1px solid #ccc;
                position: relative;

                .label {
                    background: lighten(#ccc, 10%);
                    padding: 5px;
                }

                .pie-chart-container {
                    position: absolute;
                    left: 50px;
                    top: 40px;
                    width: 100px;
                    height: 100px;

                    .percent-label {
                        position: absolute;
                        top: 30px;
                        width: 100%;
                        text-align: center;
                        font-size: 24px;
                        color: lighten(black, 25%);
                    }
                }
                
                .info {
                    white-space: nowrap;
                    position: absolute;
                    top: 150px;
                    left: 8px;

                    .name {
                        color: darken(#ccc, 30%);
                    }

                    .value {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}