@import "csui/csui";

html body > .login {
    @include csui-login;
}

body {
    background: #dbdbdb;
}

#template {
    display: none !important;
}

#header {
    @include csui-header;

    position: relative;
    z-index: 2;

    .controls {
        position: relative;

        * {
            float: left;
        }
    }

    #user, .notifications {
        position: relative;
        float: right;
        margin-right: 20px;
        padding-right: 20px;
        top: -65px;
    }

    .notifications {
        cursor: pointer;

        .total {
            padding: 5px 10px;
            @include linear-gradient(#a4a4a4, lighten(#272727, 15%));
            border-radius: 1px;
            margin-top: -5px;
            margin-right: 20px;
            float: left;
            border-radius: 8px;
            text-shadow: 0px 2px 2px black;
        }
    }

    .view-switcher {
        display: none !important;
    }

    .project-switcher {
        @include span-columns(3);
        @include row;
        
        padding: 5px;
        top: 10px;

        label {
            @include csui-label;
            @include span-columns(3);
        }
        
        select {
            @include csui-dropdown;
            @include span-columns(8);
        }
    }

    .region-switcher {
        @include span-columns(2);
        @include row;

        height: 100%;
        cursor: pointer;
        padding: 5px;

        &:hover {
            .title {
                text-decoration: underline;
            }
        }
        
        .icon {
            @include span-columns(3 of 16);
            @include csui-sprite(142, 390);
            
            height: 30px;
        }
        
        .title {
            @include span-columns(11 of 16);
            @include shift(1);
            @include csui-label;
            
            text-align: left;
;
        }
    }

    #user {
        background: url(csui/img/form/dropdown-arrow-white.png) no-repeat right;
    }
}

#main-area {
    width: 1280px;
    height: 728px;
    margin: 0px auto;
    background: white;
    box-shadow: 0px -15px 20px gray;
    overflow: hidden;
    border: 1px solid #c0c0c0;
}

#navigation {
    @include linear-gradient(white, #dbdbdb 7%);

    width: 20%;
    height: 100%;
    float: left;
    overflow: auto;

    ul {
        margin: 50px 0 0 0;
        padding: 0;

        li {
            font-size: 12px;
            list-style: none;
            text-indent: 10px;
            font-weight: bold;
            color: lighten(black, 20%);
            cursor: pointer;
            text-shadow: 0px 1px 1px darken(white, 10%);
            padding-left: 20px;
            padding-right: 20px;

            span {
                display: block;
                border-bottom: 1px solid #a7a7a7;
                padding-top: 10px;
                padding-bottom: 10px;
                box-shadow: 0px 1px 0px white;
            }

            span.icon {
                display: none;
            }

            &:hover {
                background: #3f3f3f;
                color: white;
                text-shadow: 0px 1px 1px black;
                box-shadow: inset 0px 0px 10px black;
                position: relative;
                z-index: 3;
                top: -1px;
                padding-top: 1px;

                span {
                    border-bottom: none;
                    box-shadow: none;
                }
            }
        }
    }
}

#browser {
    width: 80%;
    height: 100%;
    float: left;
    box-shadow: -5px 0px 10px #b6b6b6;
    z-index: 1;

    .container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .panel {
            background: white;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    }
}

.ui-dialog, .notification-box, #user-options {
  @include dialog;
}

#user-options {
  display: none;
}