[Unit]
Description=Cloud password server on %I
After=network.target local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/cloud/bin
ExecStart=/opt/cloud/bin/passwd_server_ip.py %I
Restart=on-failure
