[Unit]
Description=CloudStack post-boot patching service using cmdline
DefaultDependencies=no

Requires=local-fs.target cloud-preinit.service
After=local-fs.target cloud-preinit.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/opt/cloud/bin/setup/cloud-early-config
RemainAfterExit=true
TimeoutStartSec=5min
