[Unit]
Description=CloudStack post-boot patching service using cmdline
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Requires=local-fs.target
After=local-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStartPre=bash -c "sleep 1"
ExecStartPre=bash -c "while [ ! -f /root/cloudstack-mount.mounted ]; do sleep 0.1; done"
ExecStart=/opt/cloud/bin/setup/cloud-early-config
RemainAfterExit=true
TimeoutStartSec=5min
