<!--
// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.
-->
<div class="well well-small form-inline">
    <input type="text" placeholder="Search" class="input-medium search-query" ng-model="search.name">
    <label>
        Select view:
        <select ng-model="view">
            <option value="volumes">Volumes</option>
            <option value="snapshots">Snapshots</option>
        </select>
    </label>
    <modal-form form-details="addVolumeForm">
        <button class="btn">Add Volume</button>
    </modal-form>
    <modal-form form-details="uploadVolumeForm">
        <button class="btn">Upload Volume</button>
    </modal-form>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th ng-repeat="attribute in toDisplay"> {{dictionary.labels[attribute]}} </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in collection | filter:search">
            <td>{{model.name}}</td>
            <td>{{model.type}}</td>
            <td>{{model.hypervisor}}</td>
            <td>{{model.vmdisplayname}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
