<div class="well well-small form-inline">
    <input type="text" placeholder="Search" class="input-medium search-query" ng-model="search.name">
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{dictionary.labels.name}} </th>
            <th>{{dictionary.labels.value}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in collection | filter:search">
            <td>
                <span tooltip="{{model.description}}">{{model.name}}</span>
            </td>
            <td><edit-in-place model="model" attribute="value" on-save="model.update()"></edit-in-place></td>
        </tr>
    </tbody>
</table>
