// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

#main-area {
  width: 1224px;
  height: 729px;
  margin: auto;
  border: 1px solid #d4d4d4;
  /*+box-shadow:0px -5px 11px #B7B7B7;*/
  border: 1px solid #e8e8e8;
  box-shadow: 0 -5px 11px #b7b7b7;
  -moz-box-shadow: 0 -5px 11px #b7b7b7;
  -webkit-box-shadow: 0 -5px 11px #b7b7b7;
  -o-box-shadow: 0 -5px 11px #b7b7b7;
}

#container {
  /*[empty]width:;*/
  position: relative;
  height: 100%;
  margin: auto;
}

#sections {
  display: none;
}

#template {
  display: none;
}
